{"openapi":"3.1.0","info":{"title":"Bannerbear V5 API","version":"5.0"},"servers":[{"url":"https://api.bannerbear.com/v5","description":"Async render host. All endpoints."},{"url":"https://sync.api.bannerbear.com/v5","description":"Synchronous render host. Only accepts POST /images — returns the finished image inline instead of a pending record. Long-running requests may return 408."}],"security":[{"bearerAuth":[]}],"paths":{"/account":{"get":{"summary":"Get account info","responses":{"200":{"description":"Account details for the authenticated workspace and API key","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string","description":"Workspace UID"},"workspace":{"type":"string","description":"Workspace name"},"plan":{"type":"string","description":"Subscription plan"},"quota":{"type":"object","properties":{"max":{"type":"integer"},"current":{"type":"integer"},"remaining":{"type":"integer"}}},"api_key":{"type":"object","properties":{"name":{"type":"string","description":"API key name / identifier"},"scopes":{"type":"array","items":{"type":"string","enum":["images:read","images:write","image_templates:read","image_templates:write","batches:read","batches:write","webhooks:read","webhooks:write","instant_urls:read","instant_urls:write","publications:read","publications:write","assets:read","assets:write"]},"description":"Endpoints this key is authorized for (e.g. `images:write`). Empty array means full access — no scope restrictions."},"template_restrictions":{"type":"object","description":"Per-resource template allowlist. Keys are resource names (e.g. `images`, `image_templates`); values are arrays of template UIDs the key is limited to. Missing key = no restriction on that resource.","additionalProperties":{"type":"array","items":{"type":"string"}}},"allowed_origins":{"type":"array","items":{"type":"string"},"description":"Origins allowed to use this key from a browser (e.g. `https://mysite.com`). Empty array = no origin restriction."}}},"created_at":{"type":"string","format":"date-time"}}}}}}}}},"/image_templates":{"get":{"summary":"List image templates","parameters":[{"name":"page","in":"query","schema":{"type":"integer"},"required":false}],"responses":{"200":{"description":"Paginated list of templates","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","description":"Image template. `config.objects` is the full canvas config — matches exactly the shape PATCH accepts, so responses round-trip cleanly.","properties":{"uid":{"type":"string"},"name":{"type":"string"},"description":{"type":"string","nullable":true},"tags":{"type":"array","items":{"type":"string"}},"width":{"type":"integer"},"height":{"type":"integer"},"adaptive":{"type":"boolean","description":"True if the template has adaptive sizing or positioning"},"preview":{"type":"string","nullable":true,"format":"uri","description":"Preview image URL"},"config":{"type":"object","description":"Full canvas configuration.","properties":{"objects":{"type":"array","items":{"$ref":"#/components/schemas/Layer"},"description":"Layers on the canvas"}}},"created_at":{"type":"string","format":"date-time"}}}}}}}}},"post":{"summary":"Create an image template","description":"Create a new image template in the workspace. Pass `config` to seed the canvas with layers; omit it to start from an empty template that can be edited later.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string","description":"Template name"},"description":{"type":"string","nullable":true,"description":"Template description"},"tags":{"type":"array","items":{"type":"string"},"description":"Template tags"},"width":{"type":"integer","description":"Canvas width in pixels"},"height":{"type":"integer","description":"Canvas height in pixels"},"config":{"type":"object","description":"Full canvas configuration. Replaces the existing config in place.","properties":{"objects":{"type":"array","items":{"$ref":"#/components/schemas/Layer"},"description":"Layers on the canvas"}}}}}}}},"responses":{"201":{"description":"Template created","content":{"application/json":{"schema":{"type":"object","description":"Image template. `config.objects` is the full canvas config — matches exactly the shape PATCH accepts, so responses round-trip cleanly.","properties":{"uid":{"type":"string"},"name":{"type":"string"},"description":{"type":"string","nullable":true},"tags":{"type":"array","items":{"type":"string"}},"width":{"type":"integer"},"height":{"type":"integer"},"adaptive":{"type":"boolean","description":"True if the template has adaptive sizing or positioning"},"preview":{"type":"string","nullable":true,"format":"uri","description":"Preview image URL"},"config":{"type":"object","description":"Full canvas configuration.","properties":{"objects":{"type":"array","items":{"$ref":"#/components/schemas/Layer"},"description":"Layers on the canvas"}}},"created_at":{"type":"string","format":"date-time"}}}}}},"400":{"description":"Missing required parameter (e.g. name)","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"422":{"description":"Validation failure — e.g. width/height must be between 100 and 3000","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}}}}},"/image_templates/{uid}":{"get":{"summary":"Get an image template","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Template details","content":{"application/json":{"schema":{"type":"object","description":"Image template. `config.objects` is the full canvas config — matches exactly the shape PATCH accepts, so responses round-trip cleanly.","properties":{"uid":{"type":"string"},"name":{"type":"string"},"description":{"type":"string","nullable":true},"tags":{"type":"array","items":{"type":"string"}},"width":{"type":"integer"},"height":{"type":"integer"},"adaptive":{"type":"boolean","description":"True if the template has adaptive sizing or positioning"},"preview":{"type":"string","nullable":true,"format":"uri","description":"Preview image URL"},"config":{"type":"object","description":"Full canvas configuration.","properties":{"objects":{"type":"array","items":{"$ref":"#/components/schemas/Layer"},"description":"Layers on the canvas"}}},"created_at":{"type":"string","format":"date-time"}}}}}}}},"patch":{"summary":"Update an image template","description":"Update any subset of template attributes. Passing `config` fully replaces the template's canvas configuration.","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Template name"},"description":{"type":"string","nullable":true,"description":"Template description"},"tags":{"type":"array","items":{"type":"string"},"description":"Template tags"},"width":{"type":"integer","description":"Canvas width in pixels"},"height":{"type":"integer","description":"Canvas height in pixels"},"config":{"type":"object","description":"Full canvas configuration. Replaces the existing config in place.","properties":{"objects":{"type":"array","items":{"$ref":"#/components/schemas/Layer"},"description":"Layers on the canvas"}}}}}}}},"responses":{"200":{"description":"Updated template","content":{"application/json":{"schema":{"type":"object","description":"Image template. `config.objects` is the full canvas config — matches exactly the shape PATCH accepts, so responses round-trip cleanly.","properties":{"uid":{"type":"string"},"name":{"type":"string"},"description":{"type":"string","nullable":true},"tags":{"type":"array","items":{"type":"string"}},"width":{"type":"integer"},"height":{"type":"integer"},"adaptive":{"type":"boolean","description":"True if the template has adaptive sizing or positioning"},"preview":{"type":"string","nullable":true,"format":"uri","description":"Preview image URL"},"config":{"type":"object","description":"Full canvas configuration.","properties":{"objects":{"type":"array","items":{"$ref":"#/components/schemas/Layer"},"description":"Layers on the canvas"}}},"created_at":{"type":"string","format":"date-time"}}}}}},"400":{"description":"No editable attributes provided","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"404":{"description":"Template not found in this workspace","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"422":{"description":"Validation failure — e.g. width/height must be between 100 and 3000","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}}}},"delete":{"summary":"Delete an image template","description":"Soft-deletes the template. Existing renders that reference it stay intact, but the template will no longer appear in list/get calls and can no longer be used for new renders.","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Template deleted"}}}},"/images":{"get":{"summary":"List images","parameters":[{"name":"page","in":"query","schema":{"type":"integer"},"required":false}],"responses":{"200":{"description":"Paginated list of images","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"uid":{"type":"string"},"status":{"type":"string","enum":["pending","completed","failed"]},"template":{"type":"string"},"files":{"type":"object","description":"Output file URLs keyed by format"},"metadata":{"type":"string","nullable":true},"error":{"type":"string","nullable":true,"description":"Error message (only present on failure)"},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true}}}}}}}}},"post":{"summary":"Create an image","description":"Create an image render. Async on api.bannerbear.com (returns 202 + pending record, poll via GET /images/{uid} or subscribe via webhook). Sync on sync.api.bannerbear.com (returns 200 + completed image inline, or 408 if the render exceeds the sync timeout).","servers":[{"url":"https://api.bannerbear.com/v5","description":"Async — returns 202"},{"url":"https://sync.api.bannerbear.com/v5","description":"Sync — returns 200 or 408"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImageCreateRequest"}}}},"responses":{"200":{"description":"Sync render complete (sync host only)","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"status":{"type":"string","enum":["pending","completed","failed"]},"template":{"type":"string"},"files":{"type":"object","description":"Output file URLs keyed by format"},"metadata":{"type":"string","nullable":true},"error":{"type":"string","nullable":true,"description":"Error message (only present on failure)"},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true}}}}}},"202":{"description":"Async render accepted (async host only)","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"status":{"type":"string","enum":["pending","completed","failed"]},"template":{"type":"string"},"files":{"type":"object","description":"Output file URLs keyed by format"},"metadata":{"type":"string","nullable":true},"error":{"type":"string","nullable":true,"description":"Error message (only present on failure)"},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true}}}}}},"402":{"description":"API quota exhausted — upgrade required","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"403":{"description":"API key does not have access to this template","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"404":{"description":"Template not found in this workspace","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"408":{"description":"Sync render timed out (sync host only)"},"422":{"description":"Payload validation failure — e.g. invalid modification, unknown attribute, bad option value","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}}}}},"/images/{uid}":{"get":{"summary":"Get an image","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Image details","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"status":{"type":"string","enum":["pending","completed","failed"]},"template":{"type":"string"},"files":{"type":"object","description":"Output file URLs keyed by format"},"metadata":{"type":"string","nullable":true},"error":{"type":"string","nullable":true,"description":"Error message (only present on failure)"},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true}}}}}}}}},"/batches":{"get":{"summary":"List batches","parameters":[{"name":"page","in":"query","schema":{"type":"integer"},"required":false}],"responses":{"200":{"description":"Paginated list of batches","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"uid":{"type":"string"},"type":{"type":"string","enum":["images"]},"status":{"type":"string","enum":["pending","completed"]},"total":{"type":"integer"},"counts":{"type":"object","properties":{"completed":{"type":"integer"},"failed":{"type":"integer"},"invalid":{"type":"integer"},"pending":{"type":"integer"}}},"errors":{"type":"array","items":{"type":"object"}},"items":{"type":"array","items":{"type":"object","properties":{"uid":{"type":"string"},"status":{"type":"string","enum":["pending","completed","failed"]},"template":{"type":"string"},"files":{"type":"object","description":"Output file URLs keyed by format"},"metadata":{"type":"string","nullable":true},"error":{"type":"string","nullable":true,"description":"Error message (only present on failure)"},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true}}}},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true}}}}}}}}},"post":{"summary":"Create a batch","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["type","items"],"properties":{"type":{"type":"string","enum":["images"],"description":"Batch type"},"items":{"type":"array","description":"Array of image payloads (max 100)","items":{"$ref":"#/components/schemas/ImageCreateRequest"}}}}}}},"responses":{"202":{"description":"Batch creation accepted","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"type":{"type":"string","enum":["images"]},"status":{"type":"string","enum":["pending","completed"]},"total":{"type":"integer"},"counts":{"type":"object","properties":{"completed":{"type":"integer"},"failed":{"type":"integer"},"invalid":{"type":"integer"},"pending":{"type":"integer"}}},"errors":{"type":"array","items":{"type":"object"}},"items":{"type":"array","items":{"type":"object","properties":{"uid":{"type":"string"},"status":{"type":"string","enum":["pending","completed","failed"]},"template":{"type":"string"},"files":{"type":"object","description":"Output file URLs keyed by format"},"metadata":{"type":"string","nullable":true},"error":{"type":"string","nullable":true,"description":"Error message (only present on failure)"},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true}}}},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true}}}}}},"400":{"description":"Missing required parameter (e.g. items)","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"422":{"description":"Validation failure — e.g. exceeds max items, invalid type","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}}}}},"/batches/{uid}":{"get":{"summary":"Get a batch","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Batch details","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"type":{"type":"string","enum":["images"]},"status":{"type":"string","enum":["pending","completed"]},"total":{"type":"integer"},"counts":{"type":"object","properties":{"completed":{"type":"integer"},"failed":{"type":"integer"},"invalid":{"type":"integer"},"pending":{"type":"integer"}}},"errors":{"type":"array","items":{"type":"object"}},"items":{"type":"array","items":{"type":"object","properties":{"uid":{"type":"string"},"status":{"type":"string","enum":["pending","completed","failed"]},"template":{"type":"string"},"files":{"type":"object","description":"Output file URLs keyed by format"},"metadata":{"type":"string","nullable":true},"error":{"type":"string","nullable":true,"description":"Error message (only present on failure)"},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true}}}},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true}}}}}}}}},"/webhooks":{"get":{"summary":"List webhooks","parameters":[{"name":"page","in":"query","schema":{"type":"integer"},"required":false}],"responses":{"200":{"description":"Paginated list of webhooks","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"uid":{"type":"string"},"name":{"type":"string"},"url":{"type":"string","format":"uri"},"resource":{"type":"string","enum":["image","batch"]},"event":{"type":"string","enum":["all_events","completed","failed"]},"status":{"type":"string","enum":["active","disabled"]},"scope":{"type":"string","enum":["all_templates","specific_templates"]},"templates":{"type":"array","items":{"type":"string"},"nullable":true,"description":"Template UIDs (only when scope is specific_templates)"},"created_at":{"type":"string","format":"date-time"}}}}}}}}},"post":{"summary":"Create a webhook","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name","url"],"properties":{"name":{"type":"string","description":"Webhook name"},"url":{"type":"string","format":"uri","description":"URL to receive webhook events"},"resource":{"type":"string","enum":["image","batch"],"description":"Resource type to trigger on"},"event":{"type":"string","enum":["all_events","completed","failed"],"description":"Event type to trigger on"},"status":{"type":"string","enum":["active","disabled"],"description":"Webhook status"},"scope":{"type":"string","enum":["all_templates","specific_templates"],"description":"Template scope"},"templates":{"type":"array","items":{"type":"string"},"description":"Template UIDs (when scope is specific_templates)"}}}}}},"responses":{"201":{"description":"Webhook created. The signing_key field is only returned here — store it now.","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"name":{"type":"string"},"url":{"type":"string","format":"uri"},"resource":{"type":"string","enum":["image","batch"]},"event":{"type":"string","enum":["all_events","completed","failed"]},"status":{"type":"string","enum":["active","disabled"]},"scope":{"type":"string","enum":["all_templates","specific_templates"]},"templates":{"type":"array","items":{"type":"string"},"nullable":true,"description":"Template UIDs (only when scope is specific_templates)"},"created_at":{"type":"string","format":"date-time"},"signing_key":{"type":"string","description":"HMAC signing key. Only returned at creation time — store it now."}}}}}},"422":{"description":"Validation failure — e.g. missing name/url, invalid resource/event/scope enum","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}}}}},"/webhooks/{uid}":{"get":{"summary":"Get a webhook","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Webhook details","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"name":{"type":"string"},"url":{"type":"string","format":"uri"},"resource":{"type":"string","enum":["image","batch"]},"event":{"type":"string","enum":["all_events","completed","failed"]},"status":{"type":"string","enum":["active","disabled"]},"scope":{"type":"string","enum":["all_templates","specific_templates"]},"templates":{"type":"array","items":{"type":"string"},"nullable":true,"description":"Template UIDs (only when scope is specific_templates)"},"created_at":{"type":"string","format":"date-time"}}}}}}}},"patch":{"summary":"Update a webhook","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name","url"],"properties":{"name":{"type":"string","description":"Webhook name"},"url":{"type":"string","format":"uri","description":"URL to receive webhook events"},"resource":{"type":"string","enum":["image","batch"],"description":"Resource type to trigger on"},"event":{"type":"string","enum":["all_events","completed","failed"],"description":"Event type to trigger on"},"status":{"type":"string","enum":["active","disabled"],"description":"Webhook status"},"scope":{"type":"string","enum":["all_templates","specific_templates"],"description":"Template scope"},"templates":{"type":"array","items":{"type":"string"},"description":"Template UIDs (when scope is specific_templates)"}}}}}},"responses":{"200":{"description":"Updated webhook","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"name":{"type":"string"},"url":{"type":"string","format":"uri"},"resource":{"type":"string","enum":["image","batch"]},"event":{"type":"string","enum":["all_events","completed","failed"]},"status":{"type":"string","enum":["active","disabled"]},"scope":{"type":"string","enum":["all_templates","specific_templates"]},"templates":{"type":"array","items":{"type":"string"},"nullable":true,"description":"Template UIDs (only when scope is specific_templates)"},"created_at":{"type":"string","format":"date-time"}}}}}},"404":{"description":"Webhook not found in this workspace","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"422":{"description":"Validation failure","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}}}},"delete":{"summary":"Delete a webhook","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Webhook deleted"}}}},"/assets":{"get":{"summary":"List assets","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Paginated list of assets uploaded by this workspace","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"uid":{"type":"string"},"url":{"type":"string","format":"uri","description":"CDN URL of the uploaded asset"},"mime_type":{"type":"string","nullable":true,"description":"Content-Type as sent by the uploader"},"filename":{"type":"string","nullable":true,"description":"Optional filename echoed back from the upload request"},"size":{"type":"integer","description":"File size in bytes"},"created_at":{"type":"string","format":"date-time"}}}}}}}}},"post":{"summary":"Upload an asset","description":"Upload a file (max 5MB) to storage and get back a durable CDN URL. Send the raw file bytes as the request body with `Content-Type` set to the file's mime type. Optional `filename` query param is echoed back on the record.","parameters":[{"name":"filename","in":"query","required":false,"schema":{"type":"string"},"description":"Optional filename for the stored asset."}],"requestBody":{"required":true,"content":{"*/*":{"schema":{"type":"string","format":"binary","description":"Raw file bytes."}}}},"responses":{"201":{"description":"Asset uploaded","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"url":{"type":"string","format":"uri","description":"CDN URL of the uploaded asset"},"mime_type":{"type":"string","nullable":true,"description":"Content-Type as sent by the uploader"},"filename":{"type":"string","nullable":true,"description":"Optional filename echoed back from the upload request"},"size":{"type":"integer","description":"File size in bytes"},"created_at":{"type":"string","format":"date-time"}}}}}},"400":{"description":"Empty request body"},"413":{"description":"Asset exceeds the size cap"},"502":{"description":"Upstream storage upload failed"}}}},"/assets/{uid}":{"get":{"summary":"Get an asset","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Asset details","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"url":{"type":"string","format":"uri","description":"CDN URL of the uploaded asset"},"mime_type":{"type":"string","nullable":true,"description":"Content-Type as sent by the uploader"},"filename":{"type":"string","nullable":true,"description":"Optional filename echoed back from the upload request"},"size":{"type":"integer","description":"File size in bytes"},"created_at":{"type":"string","format":"date-time"}}}}}},"404":{"description":"Asset not found in this workspace"}}}},"/publications":{"get":{"summary":"Browse the public library","description":"Returns publications with `visibility=public_library` from every team. Publications are user-owned resources that span workspaces, so there's no workspace-scoped listing — if you need your own publication UIDs, grab them from the dashboard at publish time and hit `/publications/{uid}` or `/publications/{uid}/install` directly.","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Paginated list of public library publications","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"uid":{"type":"string"},"name":{"type":"string"},"description":{"type":"string","nullable":true},"tags":{"type":"array","items":{"type":"string"}},"visibility":{"type":"string","enum":["draft","unlisted","public_library"],"description":"draft, unlisted, or public_library"},"preview":{"type":"string","nullable":true,"format":"uri","description":"Preview image or gif URL"},"install_count":{"type":"integer","description":"Number of times this publication has been installed into a workspace"},"template_kind":{"type":"string","enum":["image"],"description":"Whether the publication came from an image template"},"published_at":{"type":"string","format":"date-time","nullable":true},"created_at":{"type":"string","format":"date-time"}}}}}}}}}},"/publications/{uid}":{"get":{"summary":"Get a publication","description":"Public library publications are visible to any authenticated caller. Unlisted publications are only returned to the user who created them.","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Publication details","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"name":{"type":"string"},"description":{"type":"string","nullable":true},"tags":{"type":"array","items":{"type":"string"}},"visibility":{"type":"string","enum":["draft","unlisted","public_library"],"description":"draft, unlisted, or public_library"},"preview":{"type":"string","nullable":true,"format":"uri","description":"Preview image or gif URL"},"install_count":{"type":"integer","description":"Number of times this publication has been installed into a workspace"},"template_kind":{"type":"string","enum":["image"],"description":"Whether the publication came from an image template"},"published_at":{"type":"string","format":"date-time","nullable":true},"created_at":{"type":"string","format":"date-time"}}}}}},"404":{"description":"Publication not found or not accessible to this key"}}}},"/publications/{uid}/install":{"post":{"summary":"Install a publication into the workspace","description":"Clones the publication's snapshot into the API key's team as a new image template. Trial accounts are capped at 3 templates — installing beyond the cap returns 402.","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"201":{"description":"Image template installed.","content":{"application/json":{"schema":{"type":"object","description":"Image template. `config.objects` is the full canvas config — matches exactly the shape PATCH accepts, so responses round-trip cleanly.","properties":{"uid":{"type":"string"},"name":{"type":"string"},"description":{"type":"string","nullable":true},"tags":{"type":"array","items":{"type":"string"}},"width":{"type":"integer"},"height":{"type":"integer"},"adaptive":{"type":"boolean","description":"True if the template has adaptive sizing or positioning"},"preview":{"type":"string","nullable":true,"format":"uri","description":"Preview image URL"},"config":{"type":"object","description":"Full canvas configuration.","properties":{"objects":{"type":"array","items":{"$ref":"#/components/schemas/Layer"},"description":"Layers on the canvas"}}},"created_at":{"type":"string","format":"date-time"}}}}}},"402":{"description":"Trial cap hit — upgrade required"},"403":{"description":"Publication is a draft and cannot be installed"},"404":{"description":"Publication not found"}}}},"/instant_urls":{"get":{"summary":"List instant URLs","parameters":[{"name":"page","in":"query","schema":{"type":"integer"},"required":false}],"responses":{"200":{"description":"Paginated list of instant URLs","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"uid":{"type":"string"},"name":{"type":"string"},"template":{"type":"string","description":"Source image template UID"},"template_version":{"type":"integer","nullable":true,"description":"Pinned template version, or null for latest"},"mode":{"type":"string","enum":["encoded","named_params"]},"security":{"type":"string","enum":["signed","open"]},"status":{"type":"string","enum":["active","disabled"]},"scale":{"type":"integer","enum":[1,2,3,4]},"rate_limit":{"type":"boolean","description":"Whether per-IP rate limiting is enabled"},"max_renders":{"type":"integer","nullable":true},"render_count":{"type":"integer"},"expires_at":{"type":"string","format":"date-time","nullable":true},"base_url":{"type":"string","format":"uri"},"sample_url":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"}}}}}}}}},"post":{"summary":"Create an instant URL","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name","template"],"properties":{"name":{"type":"string"},"template":{"type":"string","description":"Image template UID this Instant URL is bound to"},"mode":{"type":"string","enum":["encoded","named_params"]},"security":{"type":"string","enum":["signed","open"]},"status":{"type":"string","enum":["active","disabled"]},"scale":{"type":"integer","enum":[1,2,3,4]},"rate_limit":{"type":"boolean"},"template_version":{"type":"integer","nullable":true},"max_renders":{"type":"integer","nullable":true},"expires_at":{"type":"string","format":"date-time","nullable":true}}}}}},"responses":{"201":{"description":"Instant URL created. The signing_key field is only returned here — store it now.","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"name":{"type":"string"},"template":{"type":"string","description":"Source image template UID"},"template_version":{"type":"integer","nullable":true,"description":"Pinned template version, or null for latest"},"mode":{"type":"string","enum":["encoded","named_params"]},"security":{"type":"string","enum":["signed","open"]},"status":{"type":"string","enum":["active","disabled"]},"scale":{"type":"integer","enum":[1,2,3,4]},"rate_limit":{"type":"boolean","description":"Whether per-IP rate limiting is enabled"},"max_renders":{"type":"integer","nullable":true},"render_count":{"type":"integer"},"expires_at":{"type":"string","format":"date-time","nullable":true},"base_url":{"type":"string","format":"uri"},"sample_url":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"signing_key":{"type":"string","description":"HMAC signing key. Only returned at creation time — store it now."}}}}}},"402":{"description":"Trial cap hit — upgrade required","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"422":{"description":"Validation failure — e.g. missing name/template, invalid enum value","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}}}}},"/instant_urls/{uid}":{"get":{"summary":"Get an instant URL","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Instant URL details","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"name":{"type":"string"},"template":{"type":"string","description":"Source image template UID"},"template_version":{"type":"integer","nullable":true,"description":"Pinned template version, or null for latest"},"mode":{"type":"string","enum":["encoded","named_params"]},"security":{"type":"string","enum":["signed","open"]},"status":{"type":"string","enum":["active","disabled"]},"scale":{"type":"integer","enum":[1,2,3,4]},"rate_limit":{"type":"boolean","description":"Whether per-IP rate limiting is enabled"},"max_renders":{"type":"integer","nullable":true},"render_count":{"type":"integer"},"expires_at":{"type":"string","format":"date-time","nullable":true},"base_url":{"type":"string","format":"uri"},"sample_url":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"}}}}}}}},"patch":{"summary":"Update an instant URL","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name","template"],"properties":{"name":{"type":"string"},"template":{"type":"string","description":"Image template UID this Instant URL is bound to"},"mode":{"type":"string","enum":["encoded","named_params"]},"security":{"type":"string","enum":["signed","open"]},"status":{"type":"string","enum":["active","disabled"]},"scale":{"type":"integer","enum":[1,2,3,4]},"rate_limit":{"type":"boolean"},"template_version":{"type":"integer","nullable":true},"max_renders":{"type":"integer","nullable":true},"expires_at":{"type":"string","format":"date-time","nullable":true}}}}}},"responses":{"200":{"description":"Updated instant URL","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"name":{"type":"string"},"template":{"type":"string","description":"Source image template UID"},"template_version":{"type":"integer","nullable":true,"description":"Pinned template version, or null for latest"},"mode":{"type":"string","enum":["encoded","named_params"]},"security":{"type":"string","enum":["signed","open"]},"status":{"type":"string","enum":["active","disabled"]},"scale":{"type":"integer","enum":[1,2,3,4]},"rate_limit":{"type":"boolean","description":"Whether per-IP rate limiting is enabled"},"max_renders":{"type":"integer","nullable":true},"render_count":{"type":"integer"},"expires_at":{"type":"string","format":"date-time","nullable":true},"base_url":{"type":"string","format":"uri"},"sample_url":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"}}}}}},"404":{"description":"Instant URL not found in this workspace","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"422":{"description":"Validation failure","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}}}},"delete":{"summary":"Delete an instant URL","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Instant URL deleted"}}}}},"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","description":"API key (e.g. bb_ak_v5_...)"}},"schemas":{"LayerText":{"type":"object","description":"A `text` layer.","required":["id","type"],"properties":{"id":{"type":"string","description":"Unique layer id within the config"},"type":{"type":"string","enum":["text"],"description":"Layer type discriminator"},"name":{"type":"string","description":"Optional human-readable layer name"},"adaptive-anchor-gap":{"description":"How the anchor gap adjusts when the template is resized","type":"string","enum":["none","scale","scale-x","scale-y","stretch","stretch-x","stretch-y"]},"adaptive-aspect-ratio":{"description":"Whether the layer keeps its aspect ratio when adaptively resized","type":"string","enum":["free","locked"]},"adaptive-position":{"description":"How the layer repositions when the template is resized","type":"string","enum":["none","scale","center-x","center-y","center","pin-right","pin-bottom","pin-right-bottom"]},"adaptive-size":{"description":"How the layer resizes when the template is resized","type":"string","enum":["none","scale","stretch-x","stretch-y","stretch"]},"align-items":{"description":"Vertical text alignment within the container","type":"string","enum":["start","center","end"]},"anchor-gap-x":{"description":"Horizontal offset from the anchor point in pixels","type":"number"},"anchor-gap-y":{"description":"Vertical offset from the anchor point in pixels","type":"number"},"anchor-point":{"description":"Which point on the target layer to anchor to","type":"string","enum":["top-left","top-center","top-right","center-left","center","center-right","bottom-left","bottom-center","bottom-right"]},"anchor-to":{"description":"Name of another layer to anchor this layer's position to","type":"string"},"anchor-type":{"description":"Whether to anchor to the container bounds or text bounds","type":"string","enum":["container","text"]},"background-color":{"description":"background-color","type":"string"},"blur":{"description":"Gaussian blur radius in pixels","type":"number"},"border-color":{"description":"border-color","type":"string"},"border-radius":{"description":"Border radius in pixels for rounded corners","type":"number"},"border-style":{"description":"border-style","type":"string","enum":["none","solid"]},"border-width":{"description":"border-width","type":"number"},"box-shadow":{"description":"box-shadow","type":"string"},"color":{"description":"color","type":"string"},"color-secondary":{"description":"Text color for text wrapped in *asterisks*","type":"string"},"direction":{"description":"direction","type":"string","enum":["ltr","rtl"]},"font-family":{"description":"Font family name (Google Fonts or custom font)","type":"string"},"font-family-secondary":{"description":"Font family for text wrapped in *asterisks*","type":"string"},"font-size":{"description":"font-size","type":"number"},"font-style":{"description":"font-style","type":"string","enum":["normal","italic"]},"font-style-secondary":{"description":"Font style for text wrapped in *asterisks*","type":"string","nullable":true,"enum":["normal","italic"]},"font-weight":{"description":"font-weight","type":"number","enum":[100,200,300,400,500,600,700,800,900]},"font-weight-secondary":{"description":"Font weight for text wrapped in *asterisks*","type":"number","nullable":true,"enum":[100,200,300,400,500,600,700,800,900]},"height":{"description":"height","type":"number"},"hidden":{"description":"Hide or show this layer","type":"boolean"},"left":{"description":"left","type":"number"},"letter-spacing":{"description":"letter-spacing","type":"number"},"line-height":{"description":"Line height multiplier for text spacing","type":"number"},"opacity":{"description":"Opacity from 0 (transparent) to 1 (opaque)","type":"number"},"padding":{"description":"padding","type":"number"},"perspective":{"description":"Perspective distance for 3D transforms in pixels","type":"number"},"rotate":{"description":"Rotation angle in degrees","type":"number"},"rotateX":{"description":"3D rotation around the X axis in degrees","type":"number"},"rotateY":{"description":"3D rotation around the Y axis in degrees","type":"number"},"rotateZ":{"description":"3D rotation around the Z axis in degrees","type":"number"},"skewX":{"description":"Horizontal skew angle in degrees","type":"number"},"skewY":{"description":"Vertical skew angle in degrees","type":"number"},"text":{"description":"Text content to display","type":"string"},"text-align":{"description":"Horizontal text alignment","type":"string","enum":["left","center","right","justify","start","end"]},"text-background-image-mask":{"description":"Image URL to use as a clipping mask for the text fill","type":"string"},"text-decoration":{"description":"text-decoration","type":"string","enum":["none","underline","overline"]},"text-decoration-secondary":{"description":"Text decoration for text wrapped in *asterisks*","type":"string","nullable":true,"enum":["none","underline","line-through"]},"text-ellipsis":{"description":"Truncate overflowing text with an ellipsis","type":"boolean"},"text-fit":{"description":"How text is sized to fit its container","type":"string","enum":["off","auto_fit","resize_overflow"]},"text-highlight-color":{"description":"Background color behind individual lines of text","type":"string"},"text-highlight-padding-horizontal":{"description":"Horizontal padding around text highlight in pixels","type":"number"},"text-highlight-padding-vertical":{"description":"Vertical padding around text highlight in pixels","type":"number"},"text-shadow":{"description":"text-shadow","type":"string"},"text-stroke-color":{"description":"Color of the text outline stroke","type":"string"},"text-stroke-width":{"description":"Width of the text outline stroke in pixels","type":"number"},"text-transform":{"description":"text-transform","type":"string","enum":["none","uppercase","lowercase","capitalize"]},"text-transform-secondary":{"description":"Text transform for text wrapped in *asterisks*","type":"string","nullable":true,"enum":["none","uppercase","lowercase","capitalize"]},"top":{"description":"top","type":"number"},"white-space":{"description":"How whitespace and line breaks are handled","type":"string","enum":["normal","nowrap","pre","pre-wrap","pre-line"]},"width":{"description":"width","type":"number"},"word-break":{"description":"word-break","type":"string","enum":["normal","break-all","keep-all","break-word"]}}},"LayerRectangle":{"type":"object","description":"A `rectangle` layer.","required":["id","type"],"properties":{"id":{"type":"string","description":"Unique layer id within the config"},"type":{"type":"string","enum":["rectangle"],"description":"Layer type discriminator"},"name":{"type":"string","description":"Optional human-readable layer name"},"adaptive-anchor-gap":{"description":"How the anchor gap adjusts when the template is resized","type":"string","enum":["none","scale","scale-x","scale-y","stretch","stretch-x","stretch-y"]},"adaptive-aspect-ratio":{"description":"Whether the layer keeps its aspect ratio when adaptively resized","type":"string","enum":["free","locked"]},"adaptive-position":{"description":"How the layer repositions when the template is resized","type":"string","enum":["none","scale","center-x","center-y","center","pin-right","pin-bottom","pin-right-bottom"]},"adaptive-size":{"description":"How the layer resizes when the template is resized","type":"string","enum":["none","scale","stretch-x","stretch-y","stretch"]},"anchor-gap-x":{"description":"Horizontal offset from the anchor point in pixels","type":"number"},"anchor-gap-y":{"description":"Vertical offset from the anchor point in pixels","type":"number"},"anchor-point":{"description":"Which point on the target layer to anchor to","type":"string","enum":["top-left","top-center","top-right","center-left","center","center-right","bottom-left","bottom-center","bottom-right"]},"anchor-to":{"description":"Name of another layer to anchor this layer's position to","type":"string"},"anchor-type":{"description":"Whether to anchor to the container bounds or text bounds","type":"string","enum":["container","text"]},"background-color":{"description":"Background color of the container","type":"string"},"blur":{"description":"Gaussian blur radius in pixels","type":"number"},"border-color":{"description":"border-color","type":"string"},"border-radius":{"description":"Border radius in pixels for rounded corners","type":"number"},"border-style":{"description":"border-style","type":"string","enum":["none","solid"]},"border-width":{"description":"border-width","type":"number"},"box-shadow":{"description":"box-shadow","type":"string"},"height":{"description":"height","type":"number"},"hidden":{"description":"Hide or show this layer","type":"boolean"},"left":{"description":"left","type":"number"},"opacity":{"description":"Opacity from 0 (transparent) to 1 (opaque)","type":"number"},"padding":{"description":"padding","type":"number"},"perspective":{"description":"Perspective distance for 3D transforms in pixels","type":"number"},"rotate":{"description":"Rotation angle in degrees","type":"number"},"rotateX":{"description":"3D rotation around the X axis in degrees","type":"number"},"rotateY":{"description":"3D rotation around the Y axis in degrees","type":"number"},"rotateZ":{"description":"3D rotation around the Z axis in degrees","type":"number"},"top":{"description":"top","type":"number"},"width":{"description":"width","type":"number"}}},"LayerRectangleImageContainer":{"type":"object","description":"A `rectangle_image_container` layer.","required":["id","type"],"properties":{"id":{"type":"string","description":"Unique layer id within the config"},"type":{"type":"string","enum":["rectangle_image_container"],"description":"Layer type discriminator"},"name":{"type":"string","description":"Optional human-readable layer name"},"adaptive-anchor-gap":{"description":"How the anchor gap adjusts when the template is resized","type":"string","enum":["none","scale","scale-x","scale-y","stretch","stretch-x","stretch-y"]},"adaptive-aspect-ratio":{"description":"Whether the layer keeps its aspect ratio when adaptively resized","type":"string","enum":["free","locked"]},"adaptive-position":{"description":"How the layer repositions when the template is resized","type":"string","enum":["none","scale","center-x","center-y","center","pin-right","pin-bottom","pin-right-bottom"]},"adaptive-size":{"description":"How the layer resizes when the template is resized","type":"string","enum":["none","scale","stretch-x","stretch-y","stretch"]},"ai-background-generate":{"description":"Whether the container should generate its background image via AI when an ai-prompt is supplied in the API request","type":"string","enum":["disabled","enabled"]},"ai-background-remove":{"description":"Whether to automatically remove the background of images submitted to this container via the API","type":"string","enum":["disabled","enabled"]},"ai-detect":{"description":"AI detection mode for automatic image positioning","type":"string","enum":["off","face","subject"]},"ai-detect-anchor":{"description":"Manual anchor point override for AI detection in x:y format (0-100)","type":"string"},"ai-detect-focus":{"description":"Which detection to focus on when multiple are found","type":"string","enum":["first","largest","group"]},"ai-detect-on-fail":{"description":"Fallback background-size when no face or subject is detected","type":"string","enum":["fallback_cover","fallback_contain"]},"ai-detect-zoom":{"description":"Zoom level for AI detection crop","type":"string","enum":["auto","50%","60%","70%","80%","90%"]},"ai-prompt":{"description":"Prompt for AI background generation — applies when the layer has ai-background-generate enabled","type":"string"},"anchor-gap-x":{"description":"Horizontal offset from the anchor point in pixels","type":"number"},"anchor-gap-y":{"description":"Vertical offset from the anchor point in pixels","type":"number"},"anchor-point":{"description":"Which point on the target layer to anchor to","type":"string","enum":["top-left","top-center","top-right","center-left","center","center-right","bottom-left","bottom-center","bottom-right"]},"anchor-to":{"description":"Name of another layer to anchor this layer's position to","type":"string"},"anchor-type":{"description":"Whether to anchor to the container bounds or text bounds","type":"string","enum":["container","text"]},"background-blend-mode":{"description":"Blend mode applied to the background image","type":"string","enum":["normal","multiply","screen","overlay","darken","lighten","color-dodge","color-burn","hard-light","soft-light","difference","exclusion","hue","saturation","color","luminosity"]},"background-color":{"description":"Background color of the container","type":"string"},"background-color-gradient":{"description":"Second color for a two-color gradient fill","type":"string"},"background-gradient-direction":{"description":"Direction of the gradient fill","type":"string","enum":["left","right","top","bottom"]},"background-image":{"description":"Image URL to display in the container","type":"string"},"background-position":{"description":"Anchor position for the background image within the container — most useful when background-size is contain","type":"string","enum":["center","top","right","bottom","left","top left","top right","bottom left","bottom right"]},"background-size":{"description":"background-size","type":"string","enum":["cover","contain"]},"blur":{"description":"Gaussian blur radius in pixels","type":"number"},"border-color":{"description":"border-color","type":"string"},"border-radius":{"description":"Border radius in pixels for rounded corners","type":"number"},"border-style":{"description":"border-style","type":"string","enum":["none","solid"]},"border-width":{"description":"border-width","type":"number"},"box-shadow":{"description":"box-shadow","type":"string"},"brightness":{"description":"Brightness adjustment where 1 is normal","type":"number"},"contrast":{"description":"Contrast adjustment where 1 is normal","type":"number"},"grayscale":{"description":"Grayscale filter intensity from 0 to 1","type":"number"},"height":{"description":"height","type":"number"},"hidden":{"description":"Hide or show this layer","type":"boolean"},"left":{"description":"left","type":"number"},"opacity":{"description":"Opacity from 0 (transparent) to 1 (opaque)","type":"number"},"padding":{"description":"padding","type":"number"},"perspective":{"description":"Perspective distance for 3D transforms in pixels","type":"number"},"png-shadow":{"description":"Drop shadow for PNG images in CSS shadow format","type":"string"},"png-stroke-color":{"description":"Outline stroke color around PNG images","type":"string"},"png-stroke-width":{"description":"Outline stroke width around PNG images in pixels","type":"number"},"rotate":{"description":"Rotation angle in degrees","type":"number"},"rotateX":{"description":"3D rotation around the X axis in degrees","type":"number"},"rotateY":{"description":"3D rotation around the Y axis in degrees","type":"number"},"rotateZ":{"description":"3D rotation around the Z axis in degrees","type":"number"},"saturate":{"description":"Saturation adjustment where 1 is normal","type":"number"},"sepia":{"description":"Sepia filter intensity from 0 to 1","type":"number"},"top":{"description":"top","type":"number"},"width":{"description":"width","type":"number"}}},"LayerCircle":{"type":"object","description":"A `circle` layer.","required":["id","type"],"properties":{"id":{"type":"string","description":"Unique layer id within the config"},"type":{"type":"string","enum":["circle"],"description":"Layer type discriminator"},"name":{"type":"string","description":"Optional human-readable layer name"},"adaptive-anchor-gap":{"description":"How the anchor gap adjusts when the template is resized","type":"string","enum":["none","scale","scale-x","scale-y","stretch","stretch-x","stretch-y"]},"adaptive-aspect-ratio":{"description":"adaptive-aspect-ratio","type":"string","enum":["free","locked"]},"adaptive-position":{"description":"How the layer repositions when the template is resized","type":"string","enum":["none","scale","center-x","center-y","center","pin-right","pin-bottom","pin-right-bottom"]},"adaptive-size":{"description":"How the layer resizes when the template is resized","type":"string","enum":["none","scale","stretch-x","stretch-y","stretch"]},"anchor-gap-x":{"description":"Horizontal offset from the anchor point in pixels","type":"number"},"anchor-gap-y":{"description":"Vertical offset from the anchor point in pixels","type":"number"},"anchor-point":{"description":"Which point on the target layer to anchor to","type":"string","enum":["top-left","top-center","top-right","center-left","center","center-right","bottom-left","bottom-center","bottom-right"]},"anchor-to":{"description":"Name of another layer to anchor this layer's position to","type":"string"},"anchor-type":{"description":"Whether to anchor to the container bounds or text bounds","type":"string","enum":["container","text"]},"aspect-ratio-locked":{"description":"aspect-ratio-locked","type":"boolean"},"background-color":{"description":"Background color of the container","type":"string"},"blur":{"description":"Gaussian blur radius in pixels","type":"number"},"border-color":{"description":"border-color","type":"string"},"border-radius":{"description":"Border radius in pixels for rounded corners","type":"number"},"border-style":{"description":"border-style","type":"string","enum":["none","solid"]},"border-width":{"description":"border-width","type":"number"},"box-shadow":{"description":"box-shadow","type":"string"},"height":{"description":"height","type":"number"},"hidden":{"description":"Hide or show this layer","type":"boolean"},"left":{"description":"left","type":"number"},"opacity":{"description":"Opacity from 0 (transparent) to 1 (opaque)","type":"number"},"padding":{"description":"padding","type":"number"},"perspective":{"description":"Perspective distance for 3D transforms in pixels","type":"number"},"rotate":{"description":"Rotation angle in degrees","type":"number"},"rotateX":{"description":"3D rotation around the X axis in degrees","type":"number"},"rotateY":{"description":"3D rotation around the Y axis in degrees","type":"number"},"rotateZ":{"description":"3D rotation around the Z axis in degrees","type":"number"},"top":{"description":"top","type":"number"},"width":{"description":"width","type":"number"}}},"LayerCircleImageContainer":{"type":"object","description":"A `circle_image_container` layer.","required":["id","type"],"properties":{"id":{"type":"string","description":"Unique layer id within the config"},"type":{"type":"string","enum":["circle_image_container"],"description":"Layer type discriminator"},"name":{"type":"string","description":"Optional human-readable layer name"},"adaptive-anchor-gap":{"description":"How the anchor gap adjusts when the template is resized","type":"string","enum":["none","scale","scale-x","scale-y","stretch","stretch-x","stretch-y"]},"adaptive-aspect-ratio":{"description":"adaptive-aspect-ratio","type":"string","enum":["free","locked"]},"adaptive-position":{"description":"How the layer repositions when the template is resized","type":"string","enum":["none","scale","center-x","center-y","center","pin-right","pin-bottom","pin-right-bottom"]},"adaptive-size":{"description":"How the layer resizes when the template is resized","type":"string","enum":["none","scale","stretch-x","stretch-y","stretch"]},"ai-background-generate":{"description":"Whether the container should generate its background image via AI when an ai-prompt is supplied in the API request","type":"string","enum":["disabled","enabled"]},"ai-background-remove":{"description":"Whether to automatically remove the background of images submitted to this container via the API","type":"string","enum":["disabled","enabled"]},"ai-detect":{"description":"AI detection mode for automatic image positioning","type":"string","enum":["off","face","subject"]},"ai-detect-anchor":{"description":"Manual anchor point override for AI detection in x:y format (0-100)","type":"string"},"ai-detect-focus":{"description":"Which detection to focus on when multiple are found","type":"string","enum":["first","largest","group"]},"ai-detect-on-fail":{"description":"Fallback background-size when no face or subject is detected","type":"string","enum":["fallback_cover","fallback_contain"]},"ai-detect-zoom":{"description":"Zoom level for AI detection crop","type":"string","enum":["auto","50%","60%","70%","80%","90%"]},"ai-prompt":{"description":"Prompt for AI background generation — applies when the layer has ai-background-generate enabled","type":"string"},"anchor-gap-x":{"description":"Horizontal offset from the anchor point in pixels","type":"number"},"anchor-gap-y":{"description":"Vertical offset from the anchor point in pixels","type":"number"},"anchor-point":{"description":"Which point on the target layer to anchor to","type":"string","enum":["top-left","top-center","top-right","center-left","center","center-right","bottom-left","bottom-center","bottom-right"]},"anchor-to":{"description":"Name of another layer to anchor this layer's position to","type":"string"},"anchor-type":{"description":"Whether to anchor to the container bounds or text bounds","type":"string","enum":["container","text"]},"aspect-ratio-locked":{"description":"aspect-ratio-locked","type":"boolean"},"background-blend-mode":{"description":"Blend mode applied to the background image","type":"string","enum":["normal","multiply","screen","overlay","darken","lighten","color-dodge","color-burn","hard-light","soft-light","difference","exclusion","hue","saturation","color","luminosity"]},"background-color":{"description":"Background color of the container","type":"string"},"background-color-gradient":{"description":"Second color for a two-color gradient fill","type":"string"},"background-gradient-direction":{"description":"Direction of the gradient fill","type":"string","enum":["left","right","top","bottom"]},"background-image":{"description":"Image URL to display in the container","type":"string"},"background-position":{"description":"Anchor position for the background image within the container — most useful when background-size is contain","type":"string","enum":["center","top","right","bottom","left","top left","top right","bottom left","bottom right"]},"background-size":{"description":"background-size","type":"string","enum":["cover","contain"]},"blur":{"description":"Gaussian blur radius in pixels","type":"number"},"border-color":{"description":"border-color","type":"string"},"border-radius":{"description":"Border radius in pixels for rounded corners","type":"number"},"border-style":{"description":"border-style","type":"string","enum":["none","solid"]},"border-width":{"description":"border-width","type":"number"},"box-shadow":{"description":"box-shadow","type":"string"},"brightness":{"description":"Brightness adjustment where 1 is normal","type":"number"},"contrast":{"description":"Contrast adjustment where 1 is normal","type":"number"},"grayscale":{"description":"Grayscale filter intensity from 0 to 1","type":"number"},"height":{"description":"height","type":"number"},"hidden":{"description":"Hide or show this layer","type":"boolean"},"left":{"description":"left","type":"number"},"opacity":{"description":"Opacity from 0 (transparent) to 1 (opaque)","type":"number"},"padding":{"description":"padding","type":"number"},"perspective":{"description":"Perspective distance for 3D transforms in pixels","type":"number"},"png-shadow":{"description":"Drop shadow for PNG images in CSS shadow format","type":"string"},"png-stroke-color":{"description":"Outline stroke color around PNG images","type":"string"},"png-stroke-width":{"description":"Outline stroke width around PNG images in pixels","type":"number"},"rotate":{"description":"Rotation angle in degrees","type":"number"},"rotateX":{"description":"3D rotation around the X axis in degrees","type":"number"},"rotateY":{"description":"3D rotation around the Y axis in degrees","type":"number"},"rotateZ":{"description":"3D rotation around the Z axis in degrees","type":"number"},"saturate":{"description":"Saturation adjustment where 1 is normal","type":"number"},"sepia":{"description":"Sepia filter intensity from 0 to 1","type":"number"},"top":{"description":"top","type":"number"},"width":{"description":"width","type":"number"}}},"LayerImage":{"type":"object","description":"A `image` layer.","required":["id","type"],"properties":{"id":{"type":"string","description":"Unique layer id within the config"},"type":{"type":"string","enum":["image"],"description":"Layer type discriminator"},"name":{"type":"string","description":"Optional human-readable layer name"},"adaptive-anchor-gap":{"description":"How the anchor gap adjusts when the template is resized","type":"string","enum":["none","scale","scale-x","scale-y","stretch","stretch-x","stretch-y"]},"adaptive-aspect-ratio":{"description":"Whether the layer keeps its aspect ratio when adaptively resized","type":"string","enum":["free","locked"]},"adaptive-position":{"description":"How the layer repositions when the template is resized","type":"string","enum":["none","scale","center-x","center-y","center","pin-right","pin-bottom","pin-right-bottom"]},"adaptive-size":{"description":"How the layer resizes when the template is resized","type":"string","enum":["none","scale","stretch-x","stretch-y","stretch"]},"anchor-gap-x":{"description":"Horizontal offset from the anchor point in pixels","type":"number"},"anchor-gap-y":{"description":"Vertical offset from the anchor point in pixels","type":"number"},"anchor-point":{"description":"Which point on the target layer to anchor to","type":"string","enum":["top-left","top-center","top-right","center-left","center","center-right","bottom-left","bottom-center","bottom-right"]},"anchor-to":{"description":"Name of another layer to anchor this layer's position to","type":"string"},"anchor-type":{"description":"Whether to anchor to the container bounds or text bounds","type":"string","enum":["container","text"]},"aspect-ratio-locked":{"description":"aspect-ratio-locked","type":"boolean"},"background-blend-mode":{"description":"Blend mode applied to the image","type":"string","enum":["normal","multiply","screen","overlay","darken","lighten","color-dodge","color-burn","hard-light","soft-light","difference","exclusion","hue","saturation","color","luminosity"]},"background-color":{"description":"Background color of the container","type":"string"},"background-image":{"description":"Image URL to display","type":"string"},"background-size":{"description":"background-size","type":"string","enum":["cover","contain"]},"blur":{"description":"Gaussian blur radius in pixels","type":"number"},"border-color":{"description":"border-color","type":"string"},"border-radius":{"description":"Border radius in pixels for rounded corners","type":"number"},"border-style":{"description":"border-style","type":"string","enum":["none","solid"]},"border-width":{"description":"border-width","type":"number"},"box-shadow":{"description":"box-shadow","type":"string"},"brightness":{"description":"Brightness adjustment where 1 is normal","type":"number"},"contrast":{"description":"Contrast adjustment where 1 is normal","type":"number"},"grayscale":{"description":"Grayscale filter intensity from 0 to 1","type":"number"},"height":{"description":"height","type":"number"},"hidden":{"description":"Hide or show this layer","type":"boolean"},"left":{"description":"left","type":"number"},"opacity":{"description":"Opacity from 0 (transparent) to 1 (opaque)","type":"number"},"padding":{"description":"padding","type":"number"},"perspective":{"description":"Perspective distance for 3D transforms in pixels","type":"number"},"png-shadow":{"description":"Drop shadow for PNG images in CSS shadow format","type":"string"},"png-stroke-color":{"description":"Outline stroke color around PNG images","type":"string"},"png-stroke-width":{"description":"Outline stroke width around PNG images in pixels","type":"number"},"rotate":{"description":"Rotation angle in degrees","type":"number"},"rotateX":{"description":"3D rotation around the X axis in degrees","type":"number"},"rotateY":{"description":"3D rotation around the Y axis in degrees","type":"number"},"rotateZ":{"description":"3D rotation around the Z axis in degrees","type":"number"},"saturate":{"description":"Saturation adjustment where 1 is normal","type":"number"},"sepia":{"description":"Sepia filter intensity from 0 to 1","type":"number"},"top":{"description":"top","type":"number"},"width":{"description":"width","type":"number"}}},"LayerSvgShape":{"type":"object","description":"A `svg_shape` layer.","required":["id","type"],"properties":{"id":{"type":"string","description":"Unique layer id within the config"},"type":{"type":"string","enum":["svg_shape"],"description":"Layer type discriminator"},"name":{"type":"string","description":"Optional human-readable layer name"},"adaptive-anchor-gap":{"description":"How the anchor gap adjusts when the template is resized","type":"string","enum":["none","scale","scale-x","scale-y","stretch","stretch-x","stretch-y"]},"adaptive-aspect-ratio":{"description":"Whether the layer keeps its aspect ratio when adaptively resized","type":"string","enum":["free","locked"]},"adaptive-position":{"description":"How the layer repositions when the template is resized","type":"string","enum":["none","scale","center-x","center-y","center","pin-right","pin-bottom","pin-right-bottom"]},"adaptive-size":{"description":"How the layer resizes when the template is resized","type":"string","enum":["none","scale","stretch-x","stretch-y","stretch"]},"anchor-gap-x":{"description":"Horizontal offset from the anchor point in pixels","type":"number"},"anchor-gap-y":{"description":"Vertical offset from the anchor point in pixels","type":"number"},"anchor-point":{"description":"Which point on the target layer to anchor to","type":"string","enum":["top-left","top-center","top-right","center-left","center","center-right","bottom-left","bottom-center","bottom-right"]},"anchor-to":{"description":"Name of another layer to anchor this layer's position to","type":"string"},"anchor-type":{"description":"Whether to anchor to the container bounds or text bounds","type":"string","enum":["container","text"]},"background-color":{"description":"Background color of the container","type":"string"},"basic-shape":{"description":"The SVG shape to render","type":"string","enum":["triangle","scalene","pentagon","right","trapeze","kite","polygon","parallelogram","ellipse","trefoil","star","semicircle","hexagon","crescent","octagon","cross","ring","heart","arrow","rhombus"]},"blur":{"description":"Gaussian blur radius in pixels","type":"number"},"border-color":{"description":"border-color","type":"string"},"border-radius":{"description":"Border radius in pixels for rounded corners","type":"number"},"border-style":{"description":"border-style","type":"string","enum":["none","solid"]},"border-width":{"description":"border-width","type":"number"},"box-shadow":{"description":"box-shadow","type":"string"},"fill":{"description":"Fill color of the shape","type":"string"},"height":{"description":"height","type":"number"},"hidden":{"description":"Hide or show this layer","type":"boolean"},"left":{"description":"left","type":"number"},"opacity":{"description":"Opacity from 0 (transparent) to 1 (opaque)","type":"number"},"padding":{"description":"padding","type":"number"},"perspective":{"description":"Perspective distance for 3D transforms in pixels","type":"number"},"rotate":{"description":"Rotation angle in degrees","type":"number"},"rotateX":{"description":"3D rotation around the X axis in degrees","type":"number"},"rotateY":{"description":"3D rotation around the Y axis in degrees","type":"number"},"rotateZ":{"description":"3D rotation around the Z axis in degrees","type":"number"},"stroke":{"description":"Stroke color of the shape outline","type":"string"},"stroke-width":{"description":"Stroke width of the shape outline in pixels","type":"number"},"top":{"description":"top","type":"number"},"width":{"description":"width","type":"number"}}},"LayerQrCode":{"type":"object","description":"A `qr_code` layer.","required":["id","type"],"properties":{"id":{"type":"string","description":"Unique layer id within the config"},"type":{"type":"string","enum":["qr_code"],"description":"Layer type discriminator"},"name":{"type":"string","description":"Optional human-readable layer name"},"adaptive-anchor-gap":{"description":"How the anchor gap adjusts when the template is resized","type":"string","enum":["none","scale","scale-x","scale-y","stretch","stretch-x","stretch-y"]},"adaptive-aspect-ratio":{"description":"Whether the layer keeps its aspect ratio when adaptively resized","type":"string","enum":["free","locked"]},"adaptive-position":{"description":"How the layer repositions when the template is resized","type":"string","enum":["none","scale","center-x","center-y","center","pin-right","pin-bottom","pin-right-bottom"]},"adaptive-size":{"description":"How the layer resizes when the template is resized","type":"string","enum":["none","scale","stretch-x","stretch-y","stretch"]},"anchor-gap-x":{"description":"Horizontal offset from the anchor point in pixels","type":"number"},"anchor-gap-y":{"description":"Vertical offset from the anchor point in pixels","type":"number"},"anchor-point":{"description":"Which point on the target layer to anchor to","type":"string","enum":["top-left","top-center","top-right","center-left","center","center-right","bottom-left","bottom-center","bottom-right"]},"anchor-to":{"description":"Name of another layer to anchor this layer's position to","type":"string"},"anchor-type":{"description":"Whether to anchor to the container bounds or text bounds","type":"string","enum":["container","text"]},"background-color":{"description":"Background color of the container","type":"string"},"blur":{"description":"Gaussian blur radius in pixels","type":"number"},"border-color":{"description":"border-color","type":"string"},"border-radius":{"description":"Border radius in pixels for rounded corners","type":"number"},"border-style":{"description":"border-style","type":"string","enum":["none","solid"]},"border-width":{"description":"border-width","type":"number"},"box-shadow":{"description":"box-shadow","type":"string"},"height":{"description":"height","type":"number"},"hidden":{"description":"Hide or show this layer","type":"boolean"},"left":{"description":"left","type":"number"},"opacity":{"description":"Opacity from 0 (transparent) to 1 (opaque)","type":"number"},"padding":{"description":"padding","type":"number"},"perspective":{"description":"Perspective distance for 3D transforms in pixels","type":"number"},"qr-color":{"description":"Foreground color of the QR code","type":"string"},"qr-target":{"description":"URL or text content to encode in the QR code","type":"string"},"rotate":{"description":"Rotation angle in degrees","type":"number"},"rotateX":{"description":"3D rotation around the X axis in degrees","type":"number"},"rotateY":{"description":"3D rotation around the Y axis in degrees","type":"number"},"rotateZ":{"description":"3D rotation around the Z axis in degrees","type":"number"},"top":{"description":"top","type":"number"},"width":{"description":"width","type":"number"}}},"LayerBarCode":{"type":"object","description":"A `bar_code` layer.","required":["id","type"],"properties":{"id":{"type":"string","description":"Unique layer id within the config"},"type":{"type":"string","enum":["bar_code"],"description":"Layer type discriminator"},"name":{"type":"string","description":"Optional human-readable layer name"},"adaptive-anchor-gap":{"description":"How the anchor gap adjusts when the template is resized","type":"string","enum":["none","scale","scale-x","scale-y","stretch","stretch-x","stretch-y"]},"adaptive-aspect-ratio":{"description":"Whether the layer keeps its aspect ratio when adaptively resized","type":"string","enum":["free","locked"]},"adaptive-position":{"description":"How the layer repositions when the template is resized","type":"string","enum":["none","scale","center-x","center-y","center","pin-right","pin-bottom","pin-right-bottom"]},"adaptive-size":{"description":"How the layer resizes when the template is resized","type":"string","enum":["none","scale","stretch-x","stretch-y","stretch"]},"anchor-gap-x":{"description":"Horizontal offset from the anchor point in pixels","type":"number"},"anchor-gap-y":{"description":"Vertical offset from the anchor point in pixels","type":"number"},"anchor-point":{"description":"Which point on the target layer to anchor to","type":"string","enum":["top-left","top-center","top-right","center-left","center","center-right","bottom-left","bottom-center","bottom-right"]},"anchor-to":{"description":"Name of another layer to anchor this layer's position to","type":"string"},"anchor-type":{"description":"Whether to anchor to the container bounds or text bounds","type":"string","enum":["container","text"]},"background-color":{"description":"Background color of the container","type":"string"},"barcode-color":{"description":"Foreground color of the barcode","type":"string"},"barcode-data":{"description":"Data to encode in the barcode","type":"string"},"barcode-format":{"description":"Barcode encoding format","type":"string","enum":["CODE128","EAN13","UPC","EAN8"]},"blur":{"description":"Gaussian blur radius in pixels","type":"number"},"border-color":{"description":"border-color","type":"string"},"border-radius":{"description":"Border radius in pixels for rounded corners","type":"number"},"border-style":{"description":"border-style","type":"string","enum":["none","solid"]},"border-width":{"description":"border-width","type":"number"},"box-shadow":{"description":"box-shadow","type":"string"},"height":{"description":"height","type":"number"},"hidden":{"description":"Hide or show this layer","type":"boolean"},"left":{"description":"left","type":"number"},"opacity":{"description":"Opacity from 0 (transparent) to 1 (opaque)","type":"number"},"padding":{"description":"padding","type":"number"},"perspective":{"description":"Perspective distance for 3D transforms in pixels","type":"number"},"rotate":{"description":"Rotation angle in degrees","type":"number"},"rotateX":{"description":"3D rotation around the X axis in degrees","type":"number"},"rotateY":{"description":"3D rotation around the Y axis in degrees","type":"number"},"rotateZ":{"description":"3D rotation around the Z axis in degrees","type":"number"},"top":{"description":"top","type":"number"},"width":{"description":"width","type":"number"}}},"LayerRating":{"type":"object","description":"A `rating` layer.","required":["id","type"],"properties":{"id":{"type":"string","description":"Unique layer id within the config"},"type":{"type":"string","enum":["rating"],"description":"Layer type discriminator"},"name":{"type":"string","description":"Optional human-readable layer name"},"adaptive-anchor-gap":{"description":"How the anchor gap adjusts when the template is resized","type":"string","enum":["none","scale","scale-x","scale-y","stretch","stretch-x","stretch-y"]},"adaptive-aspect-ratio":{"description":"Whether the layer keeps its aspect ratio when adaptively resized","type":"string","enum":["free","locked"]},"adaptive-position":{"description":"How the layer repositions when the template is resized","type":"string","enum":["none","scale","center-x","center-y","center","pin-right","pin-bottom","pin-right-bottom"]},"adaptive-size":{"description":"How the layer resizes when the template is resized","type":"string","enum":["none","scale","stretch-x","stretch-y","stretch"]},"anchor-gap-x":{"description":"Horizontal offset from the anchor point in pixels","type":"number"},"anchor-gap-y":{"description":"Vertical offset from the anchor point in pixels","type":"number"},"anchor-point":{"description":"Which point on the target layer to anchor to","type":"string","enum":["top-left","top-center","top-right","center-left","center","center-right","bottom-left","bottom-center","bottom-right"]},"anchor-to":{"description":"Name of another layer to anchor this layer's position to","type":"string"},"anchor-type":{"description":"Whether to anchor to the container bounds or text bounds","type":"string","enum":["container","text"]},"background-color":{"description":"Background color of the container","type":"string"},"blur":{"description":"Gaussian blur radius in pixels","type":"number"},"border-color":{"description":"border-color","type":"string"},"border-radius":{"description":"Border radius in pixels for rounded corners","type":"number"},"border-style":{"description":"border-style","type":"string","enum":["none","solid"]},"border-width":{"description":"border-width","type":"number"},"box-shadow":{"description":"box-shadow","type":"string"},"height":{"description":"height","type":"number"},"hidden":{"description":"Hide or show this layer","type":"boolean"},"left":{"description":"left","type":"number"},"opacity":{"description":"Opacity from 0 (transparent) to 1 (opaque)","type":"number"},"padding":{"description":"padding","type":"number"},"perspective":{"description":"Perspective distance for 3D transforms in pixels","type":"number"},"rating-background-color":{"description":"Fill color for inactive rating shapes","type":"string"},"rating-color":{"description":"Fill color for active rating shapes","type":"string"},"rating-count":{"description":"Number of shapes to display","type":"number"},"rating-gap":{"description":"Gap between rating shapes in pixels","type":"number"},"rating-score":{"description":"Rating score from 0 to 100","type":"number"},"rating-shadow":{"description":"Drop shadow for rating shapes in CSS shadow format","type":"string"},"rating-shape":{"description":"Shape used for each rating unit","type":"string","enum":["star","cute_star","heart","circle","diamond","square","hexagon"]},"rating-stroke-color":{"description":"Outline stroke color for rating shapes","type":"string"},"rating-stroke-width":{"description":"Outline stroke width for rating shapes in pixels","type":"number"},"rotate":{"description":"Rotation angle in degrees","type":"number"},"rotateX":{"description":"3D rotation around the X axis in degrees","type":"number"},"rotateY":{"description":"3D rotation around the Y axis in degrees","type":"number"},"rotateZ":{"description":"3D rotation around the Z axis in degrees","type":"number"},"top":{"description":"top","type":"number"},"width":{"description":"width","type":"number"}}},"LayerGroup":{"type":"object","description":"A `group` layer.","required":["id","type"],"properties":{"id":{"type":"string","description":"Unique layer id within the config"},"type":{"type":"string","enum":["group"],"description":"Layer type discriminator"},"name":{"type":"string","description":"Optional human-readable layer name"},"adaptive-anchor-gap":{"description":"How the anchor gap adjusts when the template is resized","type":"string","enum":["none","scale","scale-x","scale-y","stretch","stretch-x","stretch-y"]},"adaptive-aspect-ratio":{"description":"Whether the layer keeps its aspect ratio when adaptively resized","type":"string","enum":["free","locked"]},"adaptive-position":{"description":"How the layer repositions when the template is resized","type":"string","enum":["none","scale","center-x","center-y","center","pin-right","pin-bottom","pin-right-bottom"]},"adaptive-size":{"description":"How the layer resizes when the template is resized","type":"string","enum":["none","scale","stretch-x","stretch-y","stretch"]},"anchor-gap-x":{"description":"Horizontal offset from the anchor point in pixels","type":"number"},"anchor-gap-y":{"description":"Vertical offset from the anchor point in pixels","type":"number"},"anchor-point":{"description":"Which point on the target layer to anchor to","type":"string","enum":["top-left","top-center","top-right","center-left","center","center-right","bottom-left","bottom-center","bottom-right"]},"anchor-to":{"description":"Name of another layer to anchor this layer's position to","type":"string"},"anchor-type":{"description":"Whether to anchor to the container bounds or text bounds","type":"string","enum":["container","text"]},"background-color":{"description":"Background color of the container","type":"string"},"blur":{"description":"Gaussian blur radius in pixels","type":"number"},"border-color":{"description":"border-color","type":"string"},"border-radius":{"description":"Border radius in pixels for rounded corners","type":"number"},"border-style":{"description":"border-style","type":"string","enum":["none","solid"]},"border-width":{"description":"border-width","type":"number"},"box-shadow":{"description":"box-shadow","type":"string"},"collapsed":{"description":"collapsed","type":"boolean"},"height":{"description":"height","type":"number"},"hidden":{"description":"Hide or show this layer","type":"boolean"},"left":{"description":"left","type":"number"},"opacity":{"description":"Opacity from 0 (transparent) to 1 (opaque)","type":"number"},"padding":{"description":"padding","type":"number"},"perspective":{"description":"Perspective distance for 3D transforms in pixels","type":"number"},"rotate":{"description":"Rotation angle in degrees","type":"number"},"rotateX":{"description":"3D rotation around the X axis in degrees","type":"number"},"rotateY":{"description":"3D rotation around the Y axis in degrees","type":"number"},"rotateZ":{"description":"3D rotation around the Z axis in degrees","type":"number"},"top":{"description":"top","type":"number"},"width":{"description":"width","type":"number"}}},"Layer":{"oneOf":[{"$ref":"#/components/schemas/LayerText"},{"$ref":"#/components/schemas/LayerRectangle"},{"$ref":"#/components/schemas/LayerRectangleImageContainer"},{"$ref":"#/components/schemas/LayerCircle"},{"$ref":"#/components/schemas/LayerCircleImageContainer"},{"$ref":"#/components/schemas/LayerImage"},{"$ref":"#/components/schemas/LayerSvgShape"},{"$ref":"#/components/schemas/LayerQrCode"},{"$ref":"#/components/schemas/LayerBarCode"},{"$ref":"#/components/schemas/LayerRating"},{"$ref":"#/components/schemas/LayerGroup"}],"discriminator":{"propertyName":"type","mapping":{"text":"#/components/schemas/LayerText","rectangle":"#/components/schemas/LayerRectangle","rectangle_image_container":"#/components/schemas/LayerRectangleImageContainer","circle":"#/components/schemas/LayerCircle","circle_image_container":"#/components/schemas/LayerCircleImageContainer","image":"#/components/schemas/LayerImage","svg_shape":"#/components/schemas/LayerSvgShape","qr_code":"#/components/schemas/LayerQrCode","bar_code":"#/components/schemas/LayerBarCode","rating":"#/components/schemas/LayerRating","group":"#/components/schemas/LayerGroup"}}},"ImageCreateRequest":{"type":"object","required":["template","modifications"],"properties":{"template":{"type":"string","description":"Template UID"},"modifications":{"type":"object","description":"Template and object modifications","properties":{"template":{"type":"object","description":"Template-level overrides","properties":{"width":{"type":"integer","description":"Override template width in pixels"},"height":{"type":"integer","description":"Override template height in pixels"},"transparent":{"type":"boolean","description":"Render with transparent background"}}},"objects":{"type":"array","description":"Array of object modifications","items":{"type":"object","properties":{"name":{"type":"string","description":"Layer name to target (use name or id, not both)"},"id":{"type":"string","description":"Layer ID to target (use name or id, not both)"},"left":{"description":"X position in pixels","type":"number"},"top":{"description":"Y position in pixels","type":"number"},"width":{"description":"Width in pixels","type":"number"},"height":{"description":"Height in pixels","type":"number"},"rotate":{"description":"Rotation angle in degrees","type":"number"},"rotateX":{"description":"3D rotation around the X axis in degrees","type":"number"},"rotateY":{"description":"3D rotation around the Y axis in degrees","type":"number"},"rotateZ":{"description":"3D rotation around the Z axis in degrees","type":"number"},"perspective":{"description":"Perspective distance for 3D transforms in pixels","type":"number"},"blur":{"description":"Gaussian blur radius in pixels","type":"number"},"opacity":{"description":"Opacity from 0 (transparent) to 1 (opaque)","type":"number"},"hidden":{"description":"Hide or show this layer","type":"boolean"},"padding":{"description":"Inner padding in pixels","type":"number"},"background-color":{"description":"Background color of the container","type":"string"},"box-shadow":{"description":"Box shadow in CSS format e.g. 2px 2px 4px #000","type":"string"},"border-style":{"description":"Border style: none or solid","type":"string","enum":["none","solid"]},"border-color":{"description":"Border color as hex, rgb, or named color","type":"string"},"border-width":{"description":"Border width in pixels","type":"number"},"anchor-point":{"description":"Which point on the target layer to anchor to","type":"string","enum":["top-left","top-center","top-right","center-left","center","center-right","bottom-left","bottom-center","bottom-right"]},"anchor-type":{"description":"Whether to anchor to the container bounds or text bounds","type":"string","enum":["container","text"]},"anchor-gap-x":{"description":"Horizontal offset from the anchor point in pixels","type":"number"},"anchor-gap-y":{"description":"Vertical offset from the anchor point in pixels","type":"number"},"adaptive-position":{"description":"How the layer repositions when the template is resized","type":"string","enum":["none","scale","center-x","center-y","center","pin-right","pin-bottom","pin-right-bottom"]},"adaptive-size":{"description":"How the layer resizes when the template is resized","type":"string","enum":["none","scale","stretch-x","stretch-y","stretch"]},"adaptive-aspect-ratio":{"description":"Whether the layer keeps its aspect ratio when adaptively resized","type":"string","enum":["free","locked"]},"adaptive-anchor-gap":{"description":"How the anchor gap adjusts when the template is resized","type":"string","enum":["none","scale","scale-x","scale-y","stretch","stretch-x","stretch-y"]},"text":{"description":"Text content to display","type":"string"},"color":{"description":"Text or fill color as hex, rgb, or named color","type":"string"},"text-highlight-color":{"description":"Background color behind individual lines of text","type":"string"},"text-highlight-padding-vertical":{"description":"Vertical padding around text highlight in pixels","type":"number"},"text-highlight-padding-horizontal":{"description":"Horizontal padding around text highlight in pixels","type":"number"},"text-background-image-mask":{"description":"Image URL to use as a clipping mask for the text fill","type":"string"},"font-size":{"description":"Font size in pixels","type":"number"},"font-weight":{"description":"Font weight from 100 (thin) to 900 (black)","type":"number","enum":[100,200,300,400,500,600,700,800,900]},"font-style":{"description":"Font style: normal or italic","type":"string","enum":["normal","italic"]},"line-height":{"description":"Line height multiplier for text spacing","type":"number"},"text-decoration":{"description":"Text decoration: none, underline, or overline","type":"string","enum":["none","underline","overline"]},"text-transform":{"description":"Text capitalization: none, uppercase, lowercase, or capitalize","type":"string","enum":["none","uppercase","lowercase","capitalize"]},"text-align":{"description":"Horizontal text alignment","type":"string","enum":["left","center","right","justify","start","end"]},"align-items":{"description":"Vertical text alignment within the container","type":"string","enum":["start","center","end"]},"direction":{"description":"Text direction: ltr (left-to-right) or rtl (right-to-left)","type":"string","enum":["ltr","rtl"]},"word-break":{"description":"Word breaking behavior for long words","type":"string","enum":["normal","break-all","keep-all","break-word"]},"white-space":{"description":"How whitespace and line breaks are handled","type":"string","enum":["normal","nowrap","pre","pre-wrap","pre-line"]},"letter-spacing":{"description":"Letter spacing in pixels","type":"number"},"skewX":{"description":"Horizontal skew angle in degrees","type":"number"},"skewY":{"description":"Vertical skew angle in degrees","type":"number"},"text-shadow":{"description":"Text shadow in CSS format e.g. 2px 2px 4px #000","type":"string"},"text-stroke-width":{"description":"Width of the text outline stroke in pixels","type":"number"},"text-stroke-color":{"description":"Color of the text outline stroke","type":"string"},"font-family-secondary":{"description":"Font family for text wrapped in *asterisks*","type":"string"},"color-secondary":{"description":"Text color for text wrapped in *asterisks*","type":"string"},"font-weight-secondary":{"description":"Font weight for text wrapped in *asterisks*","type":"number","nullable":true,"enum":[100,200,300,400,500,600,700,800,900]},"font-style-secondary":{"description":"Font style for text wrapped in *asterisks*","type":"string","nullable":true,"enum":["normal","italic"]},"text-transform-secondary":{"description":"Text transform for text wrapped in *asterisks*","type":"string","nullable":true,"enum":["none","uppercase","lowercase","capitalize"]},"text-decoration-secondary":{"description":"Text decoration for text wrapped in *asterisks*","type":"string","nullable":true,"enum":["none","underline","line-through"]},"text-fit":{"description":"How text is sized to fit its container","type":"string","enum":["off","auto_fit","resize_overflow"]},"text-ellipsis":{"description":"Truncate overflowing text with an ellipsis","type":"boolean"},"background-image":{"description":"Image URL to display in the container","type":"string"},"background-color-gradient":{"description":"Second color for a two-color gradient fill","type":"string"},"background-gradient-direction":{"description":"Direction of the gradient fill","type":"string","enum":["left","right","top","bottom"]},"background-size":{"description":"How the background image fills the container","type":"string","enum":["cover","contain"]},"background-position":{"description":"Anchor position for the background image within the container — most useful when background-size is contain","type":"string","enum":["center","top","right","bottom","left","top left","top right","bottom left","bottom right"]},"background-blend-mode":{"description":"Blend mode applied to the background image","type":"string","enum":["normal","multiply","screen","overlay","darken","lighten","color-dodge","color-burn","hard-light","soft-light","difference","exclusion","hue","saturation","color","luminosity"]},"grayscale":{"description":"Grayscale filter intensity from 0 to 1","type":"number"},"sepia":{"description":"Sepia filter intensity from 0 to 1","type":"number"},"brightness":{"description":"Brightness adjustment where 1 is normal","type":"number"},"contrast":{"description":"Contrast adjustment where 1 is normal","type":"number"},"saturate":{"description":"Saturation adjustment where 1 is normal","type":"number"},"ai-detect":{"description":"AI detection mode for automatic image positioning","type":"string","enum":["off","face","subject"]},"ai-detect-focus":{"description":"Which detection to focus on when multiple are found","type":"string","enum":["first","largest","group"]},"ai-detect-on-fail":{"description":"Fallback background-size when no face or subject is detected","type":"string","enum":["fallback_cover","fallback_contain"]},"ai-detect-zoom":{"description":"Zoom level for AI detection crop","type":"string","enum":["auto","50%","60%","70%","80%","90%"]},"ai-detect-anchor":{"description":"Manual anchor point override for AI detection in x:y format (0-100)","type":"string"},"ai-background-remove":{"description":"Whether to automatically remove the background of images submitted to this container via the API","type":"string","enum":["disabled","enabled"]},"ai-background-generate":{"description":"Whether the container should generate its background image via AI when an ai-prompt is supplied in the API request","type":"string","enum":["disabled","enabled"]},"ai-prompt":{"description":"Prompt for AI background generation — applies when the layer has ai-background-generate enabled","type":"string"},"png-stroke-width":{"description":"Outline stroke width around PNG images in pixels","type":"number"},"png-stroke-color":{"description":"Outline stroke color around PNG images","type":"string"},"png-shadow":{"description":"Drop shadow for PNG images in CSS shadow format","type":"string"},"aspect-ratio-locked":{"description":"aspect-ratio-locked","type":"boolean"},"basic-shape":{"description":"The SVG shape to render","type":"string","enum":["triangle","scalene","pentagon","right","trapeze","kite","polygon","parallelogram","ellipse","trefoil","star","semicircle","hexagon","crescent","octagon","cross","ring","heart","arrow","rhombus"]},"fill":{"description":"Fill color of the shape","type":"string"},"stroke":{"description":"Stroke color of the shape outline","type":"string"},"stroke-width":{"description":"Stroke width of the shape outline in pixels","type":"number"},"qr-target":{"description":"URL or text content to encode in the QR code","type":"string"},"qr-color":{"description":"Foreground color of the QR code","type":"string"},"barcode-data":{"description":"Data to encode in the barcode","type":"string"},"barcode-format":{"description":"Barcode encoding format","type":"string","enum":["CODE128","EAN13","UPC","EAN8"]},"barcode-color":{"description":"Foreground color of the barcode","type":"string"},"rating-score":{"description":"Rating score from 0 to 100","type":"number"},"rating-shape":{"description":"Shape used for each rating unit","type":"string","enum":["star","cute_star","heart","circle","diamond","square","hexagon"]},"rating-count":{"description":"Number of shapes to display","type":"number"},"rating-color":{"description":"Fill color for active rating shapes","type":"string"},"rating-background-color":{"description":"Fill color for inactive rating shapes","type":"string"},"rating-gap":{"description":"Gap between rating shapes in pixels","type":"number"},"rating-stroke-color":{"description":"Outline stroke color for rating shapes","type":"string"},"rating-stroke-width":{"description":"Outline stroke width for rating shapes in pixels","type":"number"},"rating-shadow":{"description":"Drop shadow for rating shapes in CSS shadow format","type":"string"},"collapsed":{"description":"collapsed","type":"boolean"},"font-family":{"description":"Font family name (Google Fonts or custom font)","type":"string"},"border-radius":{"description":"Border radius in pixels for rounded corners","type":"number"}}}}}},"formats":{"type":"array","description":"Output file formats","default":["jpg"],"items":{"type":"string","enum":["jpg","png","pdf","webp","avif"]}},"scale":{"type":"integer","description":"Output scale multiplier for higher resolution","default":1,"enum":[1,2,3,4]},"dpi":{"type":"integer","description":"DPI metadata embedded in the output image for print sizing","minimum":72,"maximum":600},"quality":{"type":"integer","description":"Compression quality for JPG/WebP output","minimum":1,"maximum":100},"proxy":{"type":"boolean","description":"Proxy and resize external images before rendering","default":false},"metadata":{"type":"string","description":"Arbitrary metadata string stored with the image"},"version":{"type":"integer","description":"Target a specific template version number"}}}}}}