{"openapi":"3.1.0","info":{"title":"Bannerbear V5 API","version":"5.0"},"servers":[{"url":"https://api.bannerbear.com/v5","description":"Async render host. All endpoints."},{"url":"https://sync.api.bannerbear.com/v5","description":"Synchronous render host. Only accepts POST /images — returns the finished image inline instead of a pending record. Long-running requests may return 408."}],"security":[{"bearerAuth":[]}],"paths":{"/account":{"get":{"summary":"Get account info","responses":{"200":{"description":"Account details for the authenticated workspace and API key","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string","description":"Workspace UID"},"workspace":{"type":"string","description":"Workspace name"},"plan":{"type":"string","description":"Subscription plan"},"quota":{"type":"object","properties":{"max":{"type":"integer"},"current":{"type":"integer"},"remaining":{"type":"integer"}}},"api_key":{"type":"object","properties":{"name":{"type":"string","description":"API key name / identifier"},"permissions":{"type":"string","description":"API key permissions (e.g. read, read_write)"},"scope":{"type":"string","description":"API key scope"}}},"created_at":{"type":"string","format":"date-time"}}}}}}}}},"/image_templates":{"get":{"summary":"List image templates","parameters":[{"name":"page","in":"query","schema":{"type":"integer"},"required":false}],"responses":{"200":{"description":"Paginated list of templates","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","description":"Image template. `config.objects` is the full canvas config — matches exactly the shape PATCH accepts, so responses round-trip cleanly.","properties":{"uid":{"type":"string"},"name":{"type":"string"},"description":{"type":"string","nullable":true},"tags":{"type":"array","items":{"type":"string"}},"width":{"type":"integer"},"height":{"type":"integer"},"adaptive":{"type":"boolean","description":"True if the template has adaptive sizing or positioning"},"preview":{"type":"string","nullable":true,"format":"uri","description":"Preview image URL"},"config":{"type":"object","description":"Full canvas configuration.","properties":{"objects":{"type":"array","items":{"$ref":"#/components/schemas/Layer"},"description":"Layers on the canvas"}}},"created_at":{"type":"string","format":"date-time"}}}}}}}}},"post":{"summary":"Create an image template","description":"Create a new image template in the workspace. Pass `config` to seed the canvas with layers + keyframes; omit it to start from an empty template that can be edited later.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string","description":"Template name"},"description":{"type":"string","nullable":true,"description":"Template description"},"tags":{"type":"array","items":{"type":"string"},"description":"Template tags"},"width":{"type":"integer","description":"Canvas width in pixels"},"height":{"type":"integer","description":"Canvas height in pixels"},"config":{"type":"object","description":"Full canvas configuration. Replaces the existing config in place. Image templates render a single static frame — keyframe animation is video-only.","properties":{"objects":{"type":"array","items":{"$ref":"#/components/schemas/Layer"},"description":"Layers on the canvas"}}}}}}}},"responses":{"201":{"description":"Template created","content":{"application/json":{"schema":{"type":"object","description":"Image template. `config.objects` is the full canvas config — matches exactly the shape PATCH accepts, so responses round-trip cleanly.","properties":{"uid":{"type":"string"},"name":{"type":"string"},"description":{"type":"string","nullable":true},"tags":{"type":"array","items":{"type":"string"}},"width":{"type":"integer"},"height":{"type":"integer"},"adaptive":{"type":"boolean","description":"True if the template has adaptive sizing or positioning"},"preview":{"type":"string","nullable":true,"format":"uri","description":"Preview image URL"},"config":{"type":"object","description":"Full canvas configuration.","properties":{"objects":{"type":"array","items":{"$ref":"#/components/schemas/Layer"},"description":"Layers on the canvas"}}},"created_at":{"type":"string","format":"date-time"}}}}}}}}},"/image_templates/{uid}":{"get":{"summary":"Get an image template","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Template details","content":{"application/json":{"schema":{"type":"object","description":"Image template. `config.objects` is the full canvas config — matches exactly the shape PATCH accepts, so responses round-trip cleanly.","properties":{"uid":{"type":"string"},"name":{"type":"string"},"description":{"type":"string","nullable":true},"tags":{"type":"array","items":{"type":"string"}},"width":{"type":"integer"},"height":{"type":"integer"},"adaptive":{"type":"boolean","description":"True if the template has adaptive sizing or positioning"},"preview":{"type":"string","nullable":true,"format":"uri","description":"Preview image URL"},"config":{"type":"object","description":"Full canvas configuration.","properties":{"objects":{"type":"array","items":{"$ref":"#/components/schemas/Layer"},"description":"Layers on the canvas"}}},"created_at":{"type":"string","format":"date-time"}}}}}}}},"patch":{"summary":"Update an image template","description":"Update any subset of template attributes. Passing `config` fully replaces the template's canvas configuration (layers + keyframes).","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Template name"},"description":{"type":"string","nullable":true,"description":"Template description"},"tags":{"type":"array","items":{"type":"string"},"description":"Template tags"},"width":{"type":"integer","description":"Canvas width in pixels"},"height":{"type":"integer","description":"Canvas height in pixels"},"config":{"type":"object","description":"Full canvas configuration. Replaces the existing config in place. Image templates render a single static frame — keyframe animation is video-only.","properties":{"objects":{"type":"array","items":{"$ref":"#/components/schemas/Layer"},"description":"Layers on the canvas"}}}}}}}},"responses":{"200":{"description":"Updated template","content":{"application/json":{"schema":{"type":"object","description":"Image template. `config.objects` is the full canvas config — matches exactly the shape PATCH accepts, so responses round-trip cleanly.","properties":{"uid":{"type":"string"},"name":{"type":"string"},"description":{"type":"string","nullable":true},"tags":{"type":"array","items":{"type":"string"}},"width":{"type":"integer"},"height":{"type":"integer"},"adaptive":{"type":"boolean","description":"True if the template has adaptive sizing or positioning"},"preview":{"type":"string","nullable":true,"format":"uri","description":"Preview image URL"},"config":{"type":"object","description":"Full canvas configuration.","properties":{"objects":{"type":"array","items":{"$ref":"#/components/schemas/Layer"},"description":"Layers on the canvas"}}},"created_at":{"type":"string","format":"date-time"}}}}}}}},"delete":{"summary":"Delete an image template","description":"Soft-deletes the template. Existing renders that reference it stay intact, but the template will no longer appear in list/get calls and can no longer be used for new renders.","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Template deleted"}}}},"/video_templates":{"get":{"summary":"List video templates","parameters":[{"name":"page","in":"query","schema":{"type":"integer"},"required":false}],"responses":{"200":{"description":"Paginated list of video templates","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"uid":{"type":"string"},"name":{"type":"string"},"description":{"type":"string","nullable":true},"width":{"type":"integer"},"height":{"type":"integer"},"frame_rate":{"type":"integer","description":"Frames per second (24, 30, or 60)"},"duration_seconds":{"type":"number","description":"Total video duration in seconds, summed across all scenes"},"preview":{"type":"string","nullable":true,"format":"uri","description":"Preview image URL"},"config":{"type":"object","description":"Video template canvas configuration. `config.scenes` matches exactly the shape PATCH accepts, so responses round-trip cleanly.","properties":{"scenes":{"type":"array","description":"Ordered list of scenes that make up the video.","items":{"type":"object","properties":{"uid":{"type":"string"},"name":{"type":"string"},"sort":{"type":"integer"},"scene_type":{"type":"string","enum":["graphic","video"],"description":"graphic or video"},"media_url":{"type":"string","format":"uri","nullable":true,"description":"Background video URL (video scenes only)"},"play_media_to_end":{"type":"boolean","description":"If true, the scene runs for the full length of media_url"},"duration_seconds":{"type":"number","description":"Scene duration in seconds, derived from its animation timeline"},"config":{"type":"object","description":"Full scene configuration.","properties":{"objects":{"type":"array","items":{"$ref":"#/components/schemas/Layer"},"description":"Layers on the scene"},"keyframes":{"$ref":"#/components/schemas/Keyframes"}}}}}}}},"created_at":{"type":"string","format":"date-time"}}}}}}}}},"post":{"summary":"Create a video template","description":"Create a new video template. If `scenes` is supplied, the auto-created placeholder scene is discarded and the payload's scenes are laid down instead. Omit `scenes` to start with the default single-scene template.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string","description":"Template name"},"description":{"type":"string","nullable":true,"description":"Template description"},"width":{"type":"integer","description":"Canvas width in pixels"},"height":{"type":"integer","description":"Canvas height in pixels"},"frame_rate":{"type":"integer","enum":[24,30,60],"description":"Frames per second (24, 30, or 60)"},"config":{"type":"object","description":"Video template canvas configuration. Mirrors the top-level `config` wrapper on image templates so integrators can treat any template as `template.config.*`.","properties":{"scenes":{"type":"array","description":"Full replacement of the template's ordered scene list.","items":{"type":"object","properties":{"uid":{"type":"string","nullable":true,"description":"Existing scene UID. Omit to create a new scene."},"name":{"type":"string","description":"Scene name"},"sort":{"type":"integer","description":"Position within the timeline. Defaults to the array index if omitted."},"scene_type":{"type":"string","enum":["graphic","video"],"description":"graphic or video"},"media_url":{"type":"string","format":"uri","nullable":true,"description":"Background video URL (video scenes)"},"play_media_to_end":{"type":"boolean","description":"If true, the scene runs for the full length of media_url"},"config":{"type":"object","description":"Full scene configuration. Replaces the scene's config in place.","properties":{"objects":{"type":"array","items":{"$ref":"#/components/schemas/Layer"},"description":"Layers on the scene"},"keyframes":{"$ref":"#/components/schemas/Keyframes"}}}}}}}}}}}}},"responses":{"201":{"description":"Video template created","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"name":{"type":"string"},"description":{"type":"string","nullable":true},"width":{"type":"integer"},"height":{"type":"integer"},"frame_rate":{"type":"integer","description":"Frames per second (24, 30, or 60)"},"duration_seconds":{"type":"number","description":"Total video duration in seconds, summed across all scenes"},"preview":{"type":"string","nullable":true,"format":"uri","description":"Preview image URL"},"config":{"type":"object","description":"Video template canvas configuration. `config.scenes` matches exactly the shape PATCH accepts, so responses round-trip cleanly.","properties":{"scenes":{"type":"array","description":"Ordered list of scenes that make up the video.","items":{"type":"object","properties":{"uid":{"type":"string"},"name":{"type":"string"},"sort":{"type":"integer"},"scene_type":{"type":"string","enum":["graphic","video"],"description":"graphic or video"},"media_url":{"type":"string","format":"uri","nullable":true,"description":"Background video URL (video scenes only)"},"play_media_to_end":{"type":"boolean","description":"If true, the scene runs for the full length of media_url"},"duration_seconds":{"type":"number","description":"Scene duration in seconds, derived from its animation timeline"},"config":{"type":"object","description":"Full scene configuration.","properties":{"objects":{"type":"array","items":{"$ref":"#/components/schemas/Layer"},"description":"Layers on the scene"},"keyframes":{"$ref":"#/components/schemas/Keyframes"}}}}}}}},"created_at":{"type":"string","format":"date-time"}}}}}}}}},"/video_templates/{uid}":{"get":{"summary":"Get a video template","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Video template details","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"name":{"type":"string"},"description":{"type":"string","nullable":true},"width":{"type":"integer"},"height":{"type":"integer"},"frame_rate":{"type":"integer","description":"Frames per second (24, 30, or 60)"},"duration_seconds":{"type":"number","description":"Total video duration in seconds, summed across all scenes"},"preview":{"type":"string","nullable":true,"format":"uri","description":"Preview image URL"},"config":{"type":"object","description":"Video template canvas configuration. `config.scenes` matches exactly the shape PATCH accepts, so responses round-trip cleanly.","properties":{"scenes":{"type":"array","description":"Ordered list of scenes that make up the video.","items":{"type":"object","properties":{"uid":{"type":"string"},"name":{"type":"string"},"sort":{"type":"integer"},"scene_type":{"type":"string","enum":["graphic","video"],"description":"graphic or video"},"media_url":{"type":"string","format":"uri","nullable":true,"description":"Background video URL (video scenes only)"},"play_media_to_end":{"type":"boolean","description":"If true, the scene runs for the full length of media_url"},"duration_seconds":{"type":"number","description":"Scene duration in seconds, derived from its animation timeline"},"config":{"type":"object","description":"Full scene configuration.","properties":{"objects":{"type":"array","items":{"$ref":"#/components/schemas/Layer"},"description":"Layers on the scene"},"keyframes":{"$ref":"#/components/schemas/Keyframes"}}}}}}}},"created_at":{"type":"string","format":"date-time"}}}}}}}},"patch":{"summary":"Update a video template","description":"Update any subset of template attributes. Passing `scenes` fully replaces the scene list: entries with a `uid` update matching scenes, entries without a `uid` create new scenes, and existing scenes not present in the array are soft-deleted.","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Template name"},"description":{"type":"string","nullable":true,"description":"Template description"},"width":{"type":"integer","description":"Canvas width in pixels"},"height":{"type":"integer","description":"Canvas height in pixels"},"frame_rate":{"type":"integer","enum":[24,30,60],"description":"Frames per second (24, 30, or 60)"},"config":{"type":"object","description":"Video template canvas configuration. Mirrors the top-level `config` wrapper on image templates so integrators can treat any template as `template.config.*`.","properties":{"scenes":{"type":"array","description":"Full replacement of the template's ordered scene list.","items":{"type":"object","properties":{"uid":{"type":"string","nullable":true,"description":"Existing scene UID. Omit to create a new scene."},"name":{"type":"string","description":"Scene name"},"sort":{"type":"integer","description":"Position within the timeline. Defaults to the array index if omitted."},"scene_type":{"type":"string","enum":["graphic","video"],"description":"graphic or video"},"media_url":{"type":"string","format":"uri","nullable":true,"description":"Background video URL (video scenes)"},"play_media_to_end":{"type":"boolean","description":"If true, the scene runs for the full length of media_url"},"config":{"type":"object","description":"Full scene configuration. Replaces the scene's config in place.","properties":{"objects":{"type":"array","items":{"$ref":"#/components/schemas/Layer"},"description":"Layers on the scene"},"keyframes":{"$ref":"#/components/schemas/Keyframes"}}}}}}}}}}}}},"responses":{"200":{"description":"Updated template","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"name":{"type":"string"},"description":{"type":"string","nullable":true},"width":{"type":"integer"},"height":{"type":"integer"},"frame_rate":{"type":"integer","description":"Frames per second (24, 30, or 60)"},"duration_seconds":{"type":"number","description":"Total video duration in seconds, summed across all scenes"},"preview":{"type":"string","nullable":true,"format":"uri","description":"Preview image URL"},"config":{"type":"object","description":"Video template canvas configuration. `config.scenes` matches exactly the shape PATCH accepts, so responses round-trip cleanly.","properties":{"scenes":{"type":"array","description":"Ordered list of scenes that make up the video.","items":{"type":"object","properties":{"uid":{"type":"string"},"name":{"type":"string"},"sort":{"type":"integer"},"scene_type":{"type":"string","enum":["graphic","video"],"description":"graphic or video"},"media_url":{"type":"string","format":"uri","nullable":true,"description":"Background video URL (video scenes only)"},"play_media_to_end":{"type":"boolean","description":"If true, the scene runs for the full length of media_url"},"duration_seconds":{"type":"number","description":"Scene duration in seconds, derived from its animation timeline"},"config":{"type":"object","description":"Full scene configuration.","properties":{"objects":{"type":"array","items":{"$ref":"#/components/schemas/Layer"},"description":"Layers on the scene"},"keyframes":{"$ref":"#/components/schemas/Keyframes"}}}}}}}},"created_at":{"type":"string","format":"date-time"}}}}}}}},"delete":{"summary":"Delete a video template","description":"Soft-deletes the video template and all of its scenes. Existing renders that reference it stay intact, but the template will no longer appear in list/get calls and can no longer be used for new renders.","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Video template deleted"}}}},"/images":{"get":{"summary":"List images","parameters":[{"name":"page","in":"query","schema":{"type":"integer"},"required":false}],"responses":{"200":{"description":"Paginated list of images","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"uid":{"type":"string"},"status":{"type":"string","enum":["pending","completed","failed"]},"template":{"type":"string"},"files":{"type":"object","description":"Output file URLs keyed by format"},"metadata":{"type":"string","nullable":true},"error":{"type":"string","nullable":true,"description":"Error message (only present on failure)"},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true}}}}}}}}},"post":{"summary":"Create an image","description":"Create an image render. Async on api.bannerbear.com (returns 202 + pending record, poll via GET /images/{uid} or subscribe via webhook). Sync on sync.api.bannerbear.com (returns 200 + completed image inline, or 408 if the render exceeds the sync timeout).","servers":[{"url":"https://api.bannerbear.com/v5","description":"Async — returns 202"},{"url":"https://sync.api.bannerbear.com/v5","description":"Sync — returns 200 or 408"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImageCreateRequest"}}}},"responses":{"200":{"description":"Sync render complete (sync host only)","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"status":{"type":"string","enum":["pending","completed","failed"]},"template":{"type":"string"},"files":{"type":"object","description":"Output file URLs keyed by format"},"metadata":{"type":"string","nullable":true},"error":{"type":"string","nullable":true,"description":"Error message (only present on failure)"},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true}}}}}},"202":{"description":"Async render accepted (async host only)","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"status":{"type":"string","enum":["pending","completed","failed"]},"template":{"type":"string"},"files":{"type":"object","description":"Output file URLs keyed by format"},"metadata":{"type":"string","nullable":true},"error":{"type":"string","nullable":true,"description":"Error message (only present on failure)"},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true}}}}}},"408":{"description":"Sync render timed out (sync host only)"}}}},"/images/{uid}":{"get":{"summary":"Get an image","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Image details","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"status":{"type":"string","enum":["pending","completed","failed"]},"template":{"type":"string"},"files":{"type":"object","description":"Output file URLs keyed by format"},"metadata":{"type":"string","nullable":true},"error":{"type":"string","nullable":true,"description":"Error message (only present on failure)"},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true}}}}}}}}},"/videos":{"get":{"summary":"List videos","parameters":[{"name":"page","in":"query","schema":{"type":"integer"},"required":false}],"responses":{"200":{"description":"Paginated list of videos","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"uid":{"type":"string"},"status":{"type":"string","enum":["queued","completed","failed","rendering"]},"template":{"type":"string"},"files":{"type":"object","description":"Output file URLs keyed by format (currently only mp4)"},"preview":{"type":"object","description":"Previews of the finished video","properties":{"gif":{"type":"string","format":"uri","nullable":true,"description":"Animated GIF preview of the first few seconds"},"screenshots":{"type":"array","items":{"type":"string","format":"uri"},"description":"Screenshot URLs sampled from the video"}}},"progress":{"type":"integer","description":"0-100 render progress, 100 once completed"},"metadata":{"type":"string","nullable":true},"error":{"type":"string","nullable":true,"description":"Error message (only present on failure)"},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true}}}}}}}}},"post":{"summary":"Create a video","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VideoCreateRequest"}}}},"responses":{"202":{"description":"Video creation accepted","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"status":{"type":"string","enum":["queued","completed","failed","rendering"]},"template":{"type":"string"},"files":{"type":"object","description":"Output file URLs keyed by format (currently only mp4)"},"preview":{"type":"object","description":"Previews of the finished video","properties":{"gif":{"type":"string","format":"uri","nullable":true,"description":"Animated GIF preview of the first few seconds"},"screenshots":{"type":"array","items":{"type":"string","format":"uri"},"description":"Screenshot URLs sampled from the video"}}},"progress":{"type":"integer","description":"0-100 render progress, 100 once completed"},"metadata":{"type":"string","nullable":true},"error":{"type":"string","nullable":true,"description":"Error message (only present on failure)"},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true}}}}}}}}},"/videos/{uid}":{"get":{"summary":"Get a video","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Video details","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"status":{"type":"string","enum":["queued","completed","failed","rendering"]},"template":{"type":"string"},"files":{"type":"object","description":"Output file URLs keyed by format (currently only mp4)"},"preview":{"type":"object","description":"Previews of the finished video","properties":{"gif":{"type":"string","format":"uri","nullable":true,"description":"Animated GIF preview of the first few seconds"},"screenshots":{"type":"array","items":{"type":"string","format":"uri"},"description":"Screenshot URLs sampled from the video"}}},"progress":{"type":"integer","description":"0-100 render progress, 100 once completed"},"metadata":{"type":"string","nullable":true},"error":{"type":"string","nullable":true,"description":"Error message (only present on failure)"},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true}}}}}}}}},"/batches":{"get":{"summary":"List batches","parameters":[{"name":"page","in":"query","schema":{"type":"integer"},"required":false}],"responses":{"200":{"description":"Paginated list of batches","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"uid":{"type":"string"},"type":{"type":"string","enum":["images"]},"status":{"type":"string","enum":["pending","completed"]},"total":{"type":"integer"},"counts":{"type":"object","properties":{"completed":{"type":"integer"},"failed":{"type":"integer"},"invalid":{"type":"integer"},"pending":{"type":"integer"}}},"errors":{"type":"array","items":{"type":"object"}},"items":{"type":"array","items":{"type":"object","properties":{"uid":{"type":"string"},"status":{"type":"string","enum":["pending","completed","failed"]},"template":{"type":"string"},"files":{"type":"object","description":"Output file URLs keyed by format"},"metadata":{"type":"string","nullable":true},"error":{"type":"string","nullable":true,"description":"Error message (only present on failure)"},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true}}}},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true}}}}}}}}},"post":{"summary":"Create a batch","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["type","items"],"properties":{"type":{"type":"string","enum":["images"],"description":"Batch type"},"items":{"type":"array","description":"Array of image payloads (max 100)","items":{"$ref":"#/components/schemas/ImageCreateRequest"}}}}}}},"responses":{"202":{"description":"Batch creation accepted","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"type":{"type":"string","enum":["images"]},"status":{"type":"string","enum":["pending","completed"]},"total":{"type":"integer"},"counts":{"type":"object","properties":{"completed":{"type":"integer"},"failed":{"type":"integer"},"invalid":{"type":"integer"},"pending":{"type":"integer"}}},"errors":{"type":"array","items":{"type":"object"}},"items":{"type":"array","items":{"type":"object","properties":{"uid":{"type":"string"},"status":{"type":"string","enum":["pending","completed","failed"]},"template":{"type":"string"},"files":{"type":"object","description":"Output file URLs keyed by format"},"metadata":{"type":"string","nullable":true},"error":{"type":"string","nullable":true,"description":"Error message (only present on failure)"},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true}}}},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true}}}}}}}}},"/batches/{uid}":{"get":{"summary":"Get a batch","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Batch details","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"type":{"type":"string","enum":["images"]},"status":{"type":"string","enum":["pending","completed"]},"total":{"type":"integer"},"counts":{"type":"object","properties":{"completed":{"type":"integer"},"failed":{"type":"integer"},"invalid":{"type":"integer"},"pending":{"type":"integer"}}},"errors":{"type":"array","items":{"type":"object"}},"items":{"type":"array","items":{"type":"object","properties":{"uid":{"type":"string"},"status":{"type":"string","enum":["pending","completed","failed"]},"template":{"type":"string"},"files":{"type":"object","description":"Output file URLs keyed by format"},"metadata":{"type":"string","nullable":true},"error":{"type":"string","nullable":true,"description":"Error message (only present on failure)"},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true}}}},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true}}}}}}}}},"/webhooks":{"get":{"summary":"List webhooks","parameters":[{"name":"page","in":"query","schema":{"type":"integer"},"required":false}],"responses":{"200":{"description":"Paginated list of webhooks","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"uid":{"type":"string"},"name":{"type":"string"},"url":{"type":"string","format":"uri"},"resource":{"type":"string","enum":["image","batch","video"]},"event":{"type":"string","enum":["all_events","completed","failed"]},"status":{"type":"string","enum":["active","disabled"]},"scope":{"type":"string","enum":["all_templates","specific_templates"]},"templates":{"type":"array","items":{"type":"string"},"nullable":true,"description":"Template UIDs (only when scope is specific_templates)"},"created_at":{"type":"string","format":"date-time"}}}}}}}}},"post":{"summary":"Create a webhook","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name","url"],"properties":{"name":{"type":"string","description":"Webhook name"},"url":{"type":"string","format":"uri","description":"URL to receive webhook events"},"resource":{"type":"string","enum":["image","batch","video"],"description":"Resource type to trigger on"},"event":{"type":"string","enum":["all_events","completed","failed"],"description":"Event type to trigger on"},"status":{"type":"string","enum":["active","disabled"],"description":"Webhook status"},"scope":{"type":"string","enum":["all_templates","specific_templates"],"description":"Template scope"},"templates":{"type":"array","items":{"type":"string"},"description":"Template UIDs (when scope is specific_templates)"}}}}}},"responses":{"201":{"description":"Webhook created. The signing_key field is only returned here — store it now.","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"name":{"type":"string"},"url":{"type":"string","format":"uri"},"resource":{"type":"string","enum":["image","batch","video"]},"event":{"type":"string","enum":["all_events","completed","failed"]},"status":{"type":"string","enum":["active","disabled"]},"scope":{"type":"string","enum":["all_templates","specific_templates"]},"templates":{"type":"array","items":{"type":"string"},"nullable":true,"description":"Template UIDs (only when scope is specific_templates)"},"created_at":{"type":"string","format":"date-time"},"signing_key":{"type":"string","description":"HMAC signing key. Only returned at creation time — store it now."}}}}}}}}},"/webhooks/{uid}":{"get":{"summary":"Get a webhook","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Webhook details","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"name":{"type":"string"},"url":{"type":"string","format":"uri"},"resource":{"type":"string","enum":["image","batch","video"]},"event":{"type":"string","enum":["all_events","completed","failed"]},"status":{"type":"string","enum":["active","disabled"]},"scope":{"type":"string","enum":["all_templates","specific_templates"]},"templates":{"type":"array","items":{"type":"string"},"nullable":true,"description":"Template UIDs (only when scope is specific_templates)"},"created_at":{"type":"string","format":"date-time"}}}}}}}},"patch":{"summary":"Update a webhook","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name","url"],"properties":{"name":{"type":"string","description":"Webhook name"},"url":{"type":"string","format":"uri","description":"URL to receive webhook events"},"resource":{"type":"string","enum":["image","batch","video"],"description":"Resource type to trigger on"},"event":{"type":"string","enum":["all_events","completed","failed"],"description":"Event type to trigger on"},"status":{"type":"string","enum":["active","disabled"],"description":"Webhook status"},"scope":{"type":"string","enum":["all_templates","specific_templates"],"description":"Template scope"},"templates":{"type":"array","items":{"type":"string"},"description":"Template UIDs (when scope is specific_templates)"}}}}}},"responses":{"200":{"description":"Updated webhook","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"name":{"type":"string"},"url":{"type":"string","format":"uri"},"resource":{"type":"string","enum":["image","batch","video"]},"event":{"type":"string","enum":["all_events","completed","failed"]},"status":{"type":"string","enum":["active","disabled"]},"scope":{"type":"string","enum":["all_templates","specific_templates"]},"templates":{"type":"array","items":{"type":"string"},"nullable":true,"description":"Template UIDs (only when scope is specific_templates)"},"created_at":{"type":"string","format":"date-time"}}}}}}}},"delete":{"summary":"Delete a webhook","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Webhook deleted"}}}},"/instant_urls":{"get":{"summary":"List instant URLs","parameters":[{"name":"page","in":"query","schema":{"type":"integer"},"required":false}],"responses":{"200":{"description":"Paginated list of instant URLs","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"uid":{"type":"string"},"name":{"type":"string"},"template":{"type":"string","description":"Source image template UID"},"template_version":{"type":"integer","nullable":true,"description":"Pinned template version, or null for latest"},"mode":{"type":"string","enum":["encoded","named_params"]},"security":{"type":"string","enum":["signed","open"]},"status":{"type":"string","enum":["active","disabled"]},"scale":{"type":"integer","enum":[1,2,3,4]},"rate_limit":{"type":"boolean","description":"Whether per-IP rate limiting is enabled"},"max_renders":{"type":"integer","nullable":true},"render_count":{"type":"integer"},"expires_at":{"type":"string","format":"date-time","nullable":true},"base_url":{"type":"string","format":"uri"},"sample_url":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"}}}}}}}}},"post":{"summary":"Create an instant URL","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name","template"],"properties":{"name":{"type":"string"},"template":{"type":"string","description":"Image template UID this Instant URL is bound to"},"mode":{"type":"string","enum":["encoded","named_params"]},"security":{"type":"string","enum":["signed","open"]},"status":{"type":"string","enum":["active","disabled"]},"scale":{"type":"integer","enum":[1,2,3,4]},"rate_limit":{"type":"boolean"},"template_version":{"type":"integer","nullable":true},"max_renders":{"type":"integer","nullable":true},"expires_at":{"type":"string","format":"date-time","nullable":true}}}}}},"responses":{"201":{"description":"Instant URL created. The signing_key field is only returned here — store it now.","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"name":{"type":"string"},"template":{"type":"string","description":"Source image template UID"},"template_version":{"type":"integer","nullable":true,"description":"Pinned template version, or null for latest"},"mode":{"type":"string","enum":["encoded","named_params"]},"security":{"type":"string","enum":["signed","open"]},"status":{"type":"string","enum":["active","disabled"]},"scale":{"type":"integer","enum":[1,2,3,4]},"rate_limit":{"type":"boolean","description":"Whether per-IP rate limiting is enabled"},"max_renders":{"type":"integer","nullable":true},"render_count":{"type":"integer"},"expires_at":{"type":"string","format":"date-time","nullable":true},"base_url":{"type":"string","format":"uri"},"sample_url":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"signing_key":{"type":"string","description":"HMAC signing key. Only returned at creation time — store it now."}}}}}}}}},"/instant_urls/{uid}":{"get":{"summary":"Get an instant URL","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Instant URL details","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"name":{"type":"string"},"template":{"type":"string","description":"Source image template UID"},"template_version":{"type":"integer","nullable":true,"description":"Pinned template version, or null for latest"},"mode":{"type":"string","enum":["encoded","named_params"]},"security":{"type":"string","enum":["signed","open"]},"status":{"type":"string","enum":["active","disabled"]},"scale":{"type":"integer","enum":[1,2,3,4]},"rate_limit":{"type":"boolean","description":"Whether per-IP rate limiting is enabled"},"max_renders":{"type":"integer","nullable":true},"render_count":{"type":"integer"},"expires_at":{"type":"string","format":"date-time","nullable":true},"base_url":{"type":"string","format":"uri"},"sample_url":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"}}}}}}}},"patch":{"summary":"Update an instant URL","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name","template"],"properties":{"name":{"type":"string"},"template":{"type":"string","description":"Image template UID this Instant URL is bound to"},"mode":{"type":"string","enum":["encoded","named_params"]},"security":{"type":"string","enum":["signed","open"]},"status":{"type":"string","enum":["active","disabled"]},"scale":{"type":"integer","enum":[1,2,3,4]},"rate_limit":{"type":"boolean"},"template_version":{"type":"integer","nullable":true},"max_renders":{"type":"integer","nullable":true},"expires_at":{"type":"string","format":"date-time","nullable":true}}}}}},"responses":{"200":{"description":"Updated instant URL","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"name":{"type":"string"},"template":{"type":"string","description":"Source image template UID"},"template_version":{"type":"integer","nullable":true,"description":"Pinned template version, or null for latest"},"mode":{"type":"string","enum":["encoded","named_params"]},"security":{"type":"string","enum":["signed","open"]},"status":{"type":"string","enum":["active","disabled"]},"scale":{"type":"integer","enum":[1,2,3,4]},"rate_limit":{"type":"boolean","description":"Whether per-IP rate limiting is enabled"},"max_renders":{"type":"integer","nullable":true},"render_count":{"type":"integer"},"expires_at":{"type":"string","format":"date-time","nullable":true},"base_url":{"type":"string","format":"uri"},"sample_url":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"}}}}}}}},"delete":{"summary":"Delete an instant URL","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Instant URL deleted"}}}}},"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","description":"API key (e.g. bb_ak_v5_...)"}},"schemas":{"LayerText":{"type":"object","description":"A `text` layer.","required":["id","type"],"properties":{"id":{"type":"string","description":"Unique layer id within the config"},"type":{"type":"string","enum":["text"],"description":"Layer type discriminator"},"name":{"type":"string","description":"Optional human-readable layer name"},"adaptive-anchor-gap":{"description":"How the anchor gap adjusts when the template is resized","type":"string","enum":["none","scale","scale-x","scale-y","stretch","stretch-x","stretch-y"]},"adaptive-aspect-ratio":{"description":"Whether the layer keeps its aspect ratio when adaptively resized","type":"string","enum":["free","locked"]},"adaptive-position":{"description":"How the layer repositions when the template is resized","type":"string","enum":["none","scale","center-x","center-y","center","pin-right","pin-bottom","pin-right-bottom"]},"adaptive-size":{"description":"How the layer resizes when the template is resized","type":"string","enum":["none","scale","stretch-x","stretch-y","stretch"]},"align-items":{"description":"Vertical text alignment within the container","type":"string","enum":["start","center","end"]},"anchor-gap-x":{"description":"Horizontal offset from the anchor point in pixels","type":"number"},"anchor-gap-y":{"description":"Vertical offset from the anchor point in pixels","type":"number"},"anchor-point":{"description":"Which point on the target layer to anchor to","type":"string","enum":["top-left","top-center","top-right","center-left","center","center-right","bottom-left","bottom-center","bottom-right"]},"anchor-to":{"description":"Name of another layer to anchor this layer's position to","type":"string"},"anchor-type":{"description":"Whether to anchor to the container bounds or text bounds","type":"string","enum":["container","text"]},"background-color":{"description":"background-color","type":"string"},"blur":{"description":"Gaussian blur radius in pixels","type":"number"},"border-color":{"description":"border-color","type":"string"},"border-radius":{"description":"Border radius in pixels for rounded corners","type":"number"},"border-style":{"description":"border-style","type":"string","enum":["none","solid"]},"border-width":{"description":"border-width","type":"number"},"box-shadow":{"description":"box-shadow","type":"string"},"color":{"description":"color","type":"string"},"color-secondary":{"description":"Text color for text wrapped in *asterisks*","type":"string"},"direction":{"description":"direction","type":"string","enum":["ltr","rtl"]},"font-family":{"description":"Font family name (Google Fonts or custom font)","type":"string"},"font-family-secondary":{"description":"Font family for text wrapped in *asterisks*","type":"string"},"font-size":{"description":"font-size","type":"number"},"font-style":{"description":"font-style","type":"string","enum":["normal","italic"]},"font-style-secondary":{"description":"Font style for text wrapped in *asterisks*","type":"string","enum":["","normal","italic"]},"font-weight":{"description":"font-weight","type":"string","enum":[100,200,300,400,500,600,700,800,900]},"font-weight-secondary":{"description":"Font weight for text wrapped in *asterisks*","type":"string","enum":["",100,200,300,400,500,600,700,800,900]},"height":{"description":"height","type":"number"},"hidden":{"description":"Hide or show this layer","type":"boolean"},"left":{"description":"left","type":"number"},"letter-spacing":{"description":"letter-spacing","type":"number"},"line-height":{"description":"Line height multiplier for text spacing","type":"number"},"opacity":{"description":"Opacity from 0 (transparent) to 1 (opaque)","type":"number"},"padding":{"description":"padding","type":"number"},"perspective":{"description":"Perspective distance for 3D transforms in pixels","type":"number"},"rotate":{"description":"Rotation angle in degrees","type":"number"},"rotateX":{"description":"3D rotation around the X axis in degrees","type":"number"},"rotateY":{"description":"3D rotation around the Y axis in degrees","type":"number"},"rotateZ":{"description":"3D rotation around the Z axis in degrees","type":"number"},"skewX":{"description":"Horizontal skew angle in degrees","type":"number"},"skewY":{"description":"Vertical skew angle in degrees","type":"number"},"text":{"description":"Text content to display","type":"string"},"text-align":{"description":"Horizontal text alignment","type":"string","enum":["left","center","right","justify","start","end"]},"text-background-image-mask":{"description":"Image URL to use as a clipping mask for the text fill","type":"string"},"text-decoration":{"description":"text-decoration","type":"string","enum":["none","underline","overline"]},"text-decoration-secondary":{"description":"Text decoration for text wrapped in *asterisks*","type":"string","enum":["","none","underline","line-through"]},"text-ellipsis":{"description":"Truncate overflowing text with an ellipsis","type":"boolean"},"text-fit":{"description":"How text is sized to fit its container","type":"string","enum":["off","auto_fit","resize_overflow"]},"text-highlight-color":{"description":"Background color behind individual lines of text","type":"string"},"text-highlight-padding-horizontal":{"description":"Horizontal padding around text highlight in pixels","type":"number"},"text-highlight-padding-vertical":{"description":"Vertical padding around text highlight in pixels","type":"number"},"text-shadow":{"description":"text-shadow","type":"string"},"text-stroke-color":{"description":"Color of the text outline stroke","type":"string"},"text-stroke-width":{"description":"Width of the text outline stroke in pixels","type":"number"},"text-transform":{"description":"text-transform","type":"string","enum":["none","uppercase","lowercase","capitalize"]},"text-transform-secondary":{"description":"Text transform for text wrapped in *asterisks*","type":"string","enum":["","none","uppercase","lowercase","capitalize"]},"top":{"description":"top","type":"number"},"white-space":{"description":"How whitespace and line breaks are handled","type":"string","enum":["normal","nowrap","pre","pre-wrap","pre-line"]},"width":{"description":"width","type":"number"},"word-break":{"description":"word-break","type":"string","enum":["normal","break-all","keep-all","break-word"]}}},"LayerRectangle":{"type":"object","description":"A `rectangle` layer.","required":["id","type"],"properties":{"id":{"type":"string","description":"Unique layer id within the config"},"type":{"type":"string","enum":["rectangle"],"description":"Layer type discriminator"},"name":{"type":"string","description":"Optional human-readable layer name"},"adaptive-anchor-gap":{"description":"How the anchor gap adjusts when the template is resized","type":"string","enum":["none","scale","scale-x","scale-y","stretch","stretch-x","stretch-y"]},"adaptive-aspect-ratio":{"description":"Whether the layer keeps its aspect ratio when adaptively resized","type":"string","enum":["free","locked"]},"adaptive-position":{"description":"How the layer repositions when the template is resized","type":"string","enum":["none","scale","center-x","center-y","center","pin-right","pin-bottom","pin-right-bottom"]},"adaptive-size":{"description":"How the layer resizes when the template is resized","type":"string","enum":["none","scale","stretch-x","stretch-y","stretch"]},"anchor-gap-x":{"description":"Horizontal offset from the anchor point in pixels","type":"number"},"anchor-gap-y":{"description":"Vertical offset from the anchor point in pixels","type":"number"},"anchor-point":{"description":"Which point on the target layer to anchor to","type":"string","enum":["top-left","top-center","top-right","center-left","center","center-right","bottom-left","bottom-center","bottom-right"]},"anchor-to":{"description":"Name of another layer to anchor this layer's position to","type":"string"},"anchor-type":{"description":"Whether to anchor to the container bounds or text bounds","type":"string","enum":["container","text"]},"background-color":{"description":"Background color of the container","type":"string"},"blur":{"description":"Gaussian blur radius in pixels","type":"number"},"border-color":{"description":"border-color","type":"string"},"border-radius":{"description":"Border radius in pixels for rounded corners","type":"number"},"border-style":{"description":"border-style","type":"string","enum":["none","solid"]},"border-width":{"description":"border-width","type":"number"},"box-shadow":{"description":"box-shadow","type":"string"},"height":{"description":"height","type":"number"},"hidden":{"description":"Hide or show this layer","type":"boolean"},"left":{"description":"left","type":"number"},"opacity":{"description":"Opacity from 0 (transparent) to 1 (opaque)","type":"number"},"padding":{"description":"padding","type":"number"},"perspective":{"description":"Perspective distance for 3D transforms in pixels","type":"number"},"rotate":{"description":"Rotation angle in degrees","type":"number"},"rotateX":{"description":"3D rotation around the X axis in degrees","type":"number"},"rotateY":{"description":"3D rotation around the Y axis in degrees","type":"number"},"rotateZ":{"description":"3D rotation around the Z axis in degrees","type":"number"},"top":{"description":"top","type":"number"},"width":{"description":"width","type":"number"}}},"LayerRectangleImageContainer":{"type":"object","description":"A `rectangle_image_container` layer.","required":["id","type"],"properties":{"id":{"type":"string","description":"Unique layer id within the config"},"type":{"type":"string","enum":["rectangle_image_container"],"description":"Layer type discriminator"},"name":{"type":"string","description":"Optional human-readable layer name"},"adaptive-anchor-gap":{"description":"How the anchor gap adjusts when the template is resized","type":"string","enum":["none","scale","scale-x","scale-y","stretch","stretch-x","stretch-y"]},"adaptive-aspect-ratio":{"description":"Whether the layer keeps its aspect ratio when adaptively resized","type":"string","enum":["free","locked"]},"adaptive-position":{"description":"How the layer repositions when the template is resized","type":"string","enum":["none","scale","center-x","center-y","center","pin-right","pin-bottom","pin-right-bottom"]},"adaptive-size":{"description":"How the layer resizes when the template is resized","type":"string","enum":["none","scale","stretch-x","stretch-y","stretch"]},"ai-background-generate":{"description":"Whether the container should generate its background image via AI when an ai-prompt is supplied in the API request","type":"string","enum":["disabled","enabled"]},"ai-background-remove":{"description":"Whether to automatically remove the background of images submitted to this container via the API","type":"string","enum":["disabled","enabled"]},"ai-detect":{"description":"AI detection mode for automatic image positioning","type":"string","enum":["off","face","subject"]},"ai-detect-anchor":{"description":"Manual anchor point override for AI detection in x:y format (0-100)","type":"string"},"ai-detect-focus":{"description":"Which detection to focus on when multiple are found","type":"string","enum":["first","largest","group"]},"ai-detect-on-fail":{"description":"Fallback background-size when no face or subject is detected","type":"string","enum":["fallback_cover","fallback_contain"]},"ai-detect-zoom":{"description":"Zoom level for AI detection crop","type":"string","enum":["auto","50%","60%","70%","80%","90%"]},"ai-prompt":{"description":"Prompt for AI background generation — applies when the layer has ai-background-generate enabled","type":"string"},"anchor-gap-x":{"description":"Horizontal offset from the anchor point in pixels","type":"number"},"anchor-gap-y":{"description":"Vertical offset from the anchor point in pixels","type":"number"},"anchor-point":{"description":"Which point on the target layer to anchor to","type":"string","enum":["top-left","top-center","top-right","center-left","center","center-right","bottom-left","bottom-center","bottom-right"]},"anchor-to":{"description":"Name of another layer to anchor this layer's position to","type":"string"},"anchor-type":{"description":"Whether to anchor to the container bounds or text bounds","type":"string","enum":["container","text"]},"background-blend-mode":{"description":"Blend mode applied to the background image","type":"string","enum":["normal","multiply","screen","overlay","darken","lighten","color-dodge","color-burn","hard-light","soft-light","difference","exclusion","hue","saturation","color","luminosity"]},"background-color":{"description":"Background color of the container","type":"string"},"background-color-gradient":{"description":"Second color for a two-color gradient fill","type":"string"},"background-gradient-direction":{"description":"Direction of the gradient fill","type":"string","enum":["left","right","top","bottom"]},"background-image":{"description":"Image URL to display in the container","type":"string"},"background-position":{"description":"Anchor position for the background image within the container — most useful when background-size is contain","type":"string","enum":["center","top","right","bottom","left","top left","top right","bottom left","bottom right"]},"background-size":{"description":"background-size","type":"string","enum":["cover","contain"]},"blur":{"description":"Gaussian blur radius in pixels","type":"number"},"border-color":{"description":"border-color","type":"string"},"border-radius":{"description":"Border radius in pixels for rounded corners","type":"number"},"border-style":{"description":"border-style","type":"string","enum":["none","solid"]},"border-width":{"description":"border-width","type":"number"},"box-shadow":{"description":"box-shadow","type":"string"},"brightness":{"description":"Brightness adjustment where 1 is normal","type":"number"},"contrast":{"description":"Contrast adjustment where 1 is normal","type":"number"},"grayscale":{"description":"Grayscale filter intensity from 0 to 1","type":"number"},"height":{"description":"height","type":"number"},"hidden":{"description":"Hide or show this layer","type":"boolean"},"left":{"description":"left","type":"number"},"opacity":{"description":"Opacity from 0 (transparent) to 1 (opaque)","type":"number"},"padding":{"description":"padding","type":"number"},"perspective":{"description":"Perspective distance for 3D transforms in pixels","type":"number"},"png-shadow":{"description":"Drop shadow for PNG images in CSS shadow format","type":"string"},"png-stroke-color":{"description":"Outline stroke color around PNG images","type":"string"},"png-stroke-width":{"description":"Outline stroke width around PNG images in pixels","type":"number"},"rotate":{"description":"Rotation angle in degrees","type":"number"},"rotateX":{"description":"3D rotation around the X axis in degrees","type":"number"},"rotateY":{"description":"3D rotation around the Y axis in degrees","type":"number"},"rotateZ":{"description":"3D rotation around the Z axis in degrees","type":"number"},"saturate":{"description":"Saturation adjustment where 1 is normal","type":"number"},"sepia":{"description":"Sepia filter intensity from 0 to 1","type":"number"},"top":{"description":"top","type":"number"},"width":{"description":"width","type":"number"}}},"LayerCircle":{"type":"object","description":"A `circle` layer.","required":["id","type"],"properties":{"id":{"type":"string","description":"Unique layer id within the config"},"type":{"type":"string","enum":["circle"],"description":"Layer type discriminator"},"name":{"type":"string","description":"Optional human-readable layer name"},"adaptive-anchor-gap":{"description":"How the anchor gap adjusts when the template is resized","type":"string","enum":["none","scale","scale-x","scale-y","stretch","stretch-x","stretch-y"]},"adaptive-aspect-ratio":{"description":"adaptive-aspect-ratio","type":"string","enum":["free","locked"]},"adaptive-position":{"description":"How the layer repositions when the template is resized","type":"string","enum":["none","scale","center-x","center-y","center","pin-right","pin-bottom","pin-right-bottom"]},"adaptive-size":{"description":"How the layer resizes when the template is resized","type":"string","enum":["none","scale","stretch-x","stretch-y","stretch"]},"anchor-gap-x":{"description":"Horizontal offset from the anchor point in pixels","type":"number"},"anchor-gap-y":{"description":"Vertical offset from the anchor point in pixels","type":"number"},"anchor-point":{"description":"Which point on the target layer to anchor to","type":"string","enum":["top-left","top-center","top-right","center-left","center","center-right","bottom-left","bottom-center","bottom-right"]},"anchor-to":{"description":"Name of another layer to anchor this layer's position to","type":"string"},"anchor-type":{"description":"Whether to anchor to the container bounds or text bounds","type":"string","enum":["container","text"]},"aspect-ratio-locked":{"description":"aspect-ratio-locked","type":"boolean"},"background-color":{"description":"Background color of the container","type":"string"},"blur":{"description":"Gaussian blur radius in pixels","type":"number"},"border-color":{"description":"border-color","type":"string"},"border-radius":{"description":"Border radius in pixels for rounded corners","type":"number"},"border-style":{"description":"border-style","type":"string","enum":["none","solid"]},"border-width":{"description":"border-width","type":"number"},"box-shadow":{"description":"box-shadow","type":"string"},"height":{"description":"height","type":"number"},"hidden":{"description":"Hide or show this layer","type":"boolean"},"left":{"description":"left","type":"number"},"opacity":{"description":"Opacity from 0 (transparent) to 1 (opaque)","type":"number"},"padding":{"description":"padding","type":"number"},"perspective":{"description":"Perspective distance for 3D transforms in pixels","type":"number"},"rotate":{"description":"Rotation angle in degrees","type":"number"},"rotateX":{"description":"3D rotation around the X axis in degrees","type":"number"},"rotateY":{"description":"3D rotation around the Y axis in degrees","type":"number"},"rotateZ":{"description":"3D rotation around the Z axis in degrees","type":"number"},"top":{"description":"top","type":"number"},"width":{"description":"width","type":"number"}}},"LayerCircleImageContainer":{"type":"object","description":"A `circle_image_container` layer.","required":["id","type"],"properties":{"id":{"type":"string","description":"Unique layer id within the config"},"type":{"type":"string","enum":["circle_image_container"],"description":"Layer type discriminator"},"name":{"type":"string","description":"Optional human-readable layer name"},"adaptive-anchor-gap":{"description":"How the anchor gap adjusts when the template is resized","type":"string","enum":["none","scale","scale-x","scale-y","stretch","stretch-x","stretch-y"]},"adaptive-aspect-ratio":{"description":"adaptive-aspect-ratio","type":"string","enum":["free","locked"]},"adaptive-position":{"description":"How the layer repositions when the template is resized","type":"string","enum":["none","scale","center-x","center-y","center","pin-right","pin-bottom","pin-right-bottom"]},"adaptive-size":{"description":"How the layer resizes when the template is resized","type":"string","enum":["none","scale","stretch-x","stretch-y","stretch"]},"ai-background-generate":{"description":"Whether the container should generate its background image via AI when an ai-prompt is supplied in the API request","type":"string","enum":["disabled","enabled"]},"ai-background-remove":{"description":"Whether to automatically remove the background of images submitted to this container via the API","type":"string","enum":["disabled","enabled"]},"ai-detect":{"description":"AI detection mode for automatic image positioning","type":"string","enum":["off","face","subject"]},"ai-detect-anchor":{"description":"Manual anchor point override for AI detection in x:y format (0-100)","type":"string"},"ai-detect-focus":{"description":"Which detection to focus on when multiple are found","type":"string","enum":["first","largest","group"]},"ai-detect-on-fail":{"description":"Fallback background-size when no face or subject is detected","type":"string","enum":["fallback_cover","fallback_contain"]},"ai-detect-zoom":{"description":"Zoom level for AI detection crop","type":"string","enum":["auto","50%","60%","70%","80%","90%"]},"ai-prompt":{"description":"Prompt for AI background generation — applies when the layer has ai-background-generate enabled","type":"string"},"anchor-gap-x":{"description":"Horizontal offset from the anchor point in pixels","type":"number"},"anchor-gap-y":{"description":"Vertical offset from the anchor point in pixels","type":"number"},"anchor-point":{"description":"Which point on the target layer to anchor to","type":"string","enum":["top-left","top-center","top-right","center-left","center","center-right","bottom-left","bottom-center","bottom-right"]},"anchor-to":{"description":"Name of another layer to anchor this layer's position to","type":"string"},"anchor-type":{"description":"Whether to anchor to the container bounds or text bounds","type":"string","enum":["container","text"]},"aspect-ratio-locked":{"description":"aspect-ratio-locked","type":"boolean"},"background-blend-mode":{"description":"Blend mode applied to the background image","type":"string","enum":["normal","multiply","screen","overlay","darken","lighten","color-dodge","color-burn","hard-light","soft-light","difference","exclusion","hue","saturation","color","luminosity"]},"background-color":{"description":"Background color of the container","type":"string"},"background-color-gradient":{"description":"Second color for a two-color gradient fill","type":"string"},"background-gradient-direction":{"description":"Direction of the gradient fill","type":"string","enum":["left","right","top","bottom"]},"background-image":{"description":"Image URL to display in the container","type":"string"},"background-position":{"description":"Anchor position for the background image within the container — most useful when background-size is contain","type":"string","enum":["center","top","right","bottom","left","top left","top right","bottom left","bottom right"]},"background-size":{"description":"background-size","type":"string","enum":["cover","contain"]},"blur":{"description":"Gaussian blur radius in pixels","type":"number"},"border-color":{"description":"border-color","type":"string"},"border-radius":{"description":"Border radius in pixels for rounded corners","type":"number"},"border-style":{"description":"border-style","type":"string","enum":["none","solid"]},"border-width":{"description":"border-width","type":"number"},"box-shadow":{"description":"box-shadow","type":"string"},"brightness":{"description":"Brightness adjustment where 1 is normal","type":"number"},"contrast":{"description":"Contrast adjustment where 1 is normal","type":"number"},"grayscale":{"description":"Grayscale filter intensity from 0 to 1","type":"number"},"height":{"description":"height","type":"number"},"hidden":{"description":"Hide or show this layer","type":"boolean"},"left":{"description":"left","type":"number"},"opacity":{"description":"Opacity from 0 (transparent) to 1 (opaque)","type":"number"},"padding":{"description":"padding","type":"number"},"perspective":{"description":"Perspective distance for 3D transforms in pixels","type":"number"},"png-shadow":{"description":"Drop shadow for PNG images in CSS shadow format","type":"string"},"png-stroke-color":{"description":"Outline stroke color around PNG images","type":"string"},"png-stroke-width":{"description":"Outline stroke width around PNG images in pixels","type":"number"},"rotate":{"description":"Rotation angle in degrees","type":"number"},"rotateX":{"description":"3D rotation around the X axis in degrees","type":"number"},"rotateY":{"description":"3D rotation around the Y axis in degrees","type":"number"},"rotateZ":{"description":"3D rotation around the Z axis in degrees","type":"number"},"saturate":{"description":"Saturation adjustment where 1 is normal","type":"number"},"sepia":{"description":"Sepia filter intensity from 0 to 1","type":"number"},"top":{"description":"top","type":"number"},"width":{"description":"width","type":"number"}}},"LayerImage":{"type":"object","description":"A `image` layer.","required":["id","type"],"properties":{"id":{"type":"string","description":"Unique layer id within the config"},"type":{"type":"string","enum":["image"],"description":"Layer type discriminator"},"name":{"type":"string","description":"Optional human-readable layer name"},"adaptive-anchor-gap":{"description":"How the anchor gap adjusts when the template is resized","type":"string","enum":["none","scale","scale-x","scale-y","stretch","stretch-x","stretch-y"]},"adaptive-aspect-ratio":{"description":"Whether the layer keeps its aspect ratio when adaptively resized","type":"string","enum":["free","locked"]},"adaptive-position":{"description":"How the layer repositions when the template is resized","type":"string","enum":["none","scale","center-x","center-y","center","pin-right","pin-bottom","pin-right-bottom"]},"adaptive-size":{"description":"How the layer resizes when the template is resized","type":"string","enum":["none","scale","stretch-x","stretch-y","stretch"]},"anchor-gap-x":{"description":"Horizontal offset from the anchor point in pixels","type":"number"},"anchor-gap-y":{"description":"Vertical offset from the anchor point in pixels","type":"number"},"anchor-point":{"description":"Which point on the target layer to anchor to","type":"string","enum":["top-left","top-center","top-right","center-left","center","center-right","bottom-left","bottom-center","bottom-right"]},"anchor-to":{"description":"Name of another layer to anchor this layer's position to","type":"string"},"anchor-type":{"description":"Whether to anchor to the container bounds or text bounds","type":"string","enum":["container","text"]},"aspect-ratio-locked":{"description":"aspect-ratio-locked","type":"boolean"},"background-blend-mode":{"description":"Blend mode applied to the image","type":"string","enum":["normal","multiply","screen","overlay","darken","lighten","color-dodge","color-burn","hard-light","soft-light","difference","exclusion","hue","saturation","color","luminosity"]},"background-color":{"description":"Background color of the container","type":"string"},"background-image":{"description":"Image URL to display","type":"string"},"background-size":{"description":"background-size","type":"string","enum":["cover","contain"]},"blur":{"description":"Gaussian blur radius in pixels","type":"number"},"border-color":{"description":"border-color","type":"string"},"border-radius":{"description":"Border radius in pixels for rounded corners","type":"number"},"border-style":{"description":"border-style","type":"string","enum":["none","solid"]},"border-width":{"description":"border-width","type":"number"},"box-shadow":{"description":"box-shadow","type":"string"},"brightness":{"description":"Brightness adjustment where 1 is normal","type":"number"},"contrast":{"description":"Contrast adjustment where 1 is normal","type":"number"},"grayscale":{"description":"Grayscale filter intensity from 0 to 1","type":"number"},"height":{"description":"height","type":"number"},"hidden":{"description":"Hide or show this layer","type":"boolean"},"left":{"description":"left","type":"number"},"opacity":{"description":"Opacity from 0 (transparent) to 1 (opaque)","type":"number"},"padding":{"description":"padding","type":"number"},"perspective":{"description":"Perspective distance for 3D transforms in pixels","type":"number"},"png-shadow":{"description":"Drop shadow for PNG images in CSS shadow format","type":"string"},"png-stroke-color":{"description":"Outline stroke color around PNG images","type":"string"},"png-stroke-width":{"description":"Outline stroke width around PNG images in pixels","type":"number"},"rotate":{"description":"Rotation angle in degrees","type":"number"},"rotateX":{"description":"3D rotation around the X axis in degrees","type":"number"},"rotateY":{"description":"3D rotation around the Y axis in degrees","type":"number"},"rotateZ":{"description":"3D rotation around the Z axis in degrees","type":"number"},"saturate":{"description":"Saturation adjustment where 1 is normal","type":"number"},"sepia":{"description":"Sepia filter intensity from 0 to 1","type":"number"},"top":{"description":"top","type":"number"},"width":{"description":"width","type":"number"}}},"LayerSvgShape":{"type":"object","description":"A `svg_shape` layer.","required":["id","type"],"properties":{"id":{"type":"string","description":"Unique layer id within the config"},"type":{"type":"string","enum":["svg_shape"],"description":"Layer type discriminator"},"name":{"type":"string","description":"Optional human-readable layer name"},"adaptive-anchor-gap":{"description":"How the anchor gap adjusts when the template is resized","type":"string","enum":["none","scale","scale-x","scale-y","stretch","stretch-x","stretch-y"]},"adaptive-aspect-ratio":{"description":"Whether the layer keeps its aspect ratio when adaptively resized","type":"string","enum":["free","locked"]},"adaptive-position":{"description":"How the layer repositions when the template is resized","type":"string","enum":["none","scale","center-x","center-y","center","pin-right","pin-bottom","pin-right-bottom"]},"adaptive-size":{"description":"How the layer resizes when the template is resized","type":"string","enum":["none","scale","stretch-x","stretch-y","stretch"]},"anchor-gap-x":{"description":"Horizontal offset from the anchor point in pixels","type":"number"},"anchor-gap-y":{"description":"Vertical offset from the anchor point in pixels","type":"number"},"anchor-point":{"description":"Which point on the target layer to anchor to","type":"string","enum":["top-left","top-center","top-right","center-left","center","center-right","bottom-left","bottom-center","bottom-right"]},"anchor-to":{"description":"Name of another layer to anchor this layer's position to","type":"string"},"anchor-type":{"description":"Whether to anchor to the container bounds or text bounds","type":"string","enum":["container","text"]},"background-color":{"description":"Background color of the container","type":"string"},"basic-shape":{"description":"The SVG shape to render","type":"string","enum":["triangle","scalene","pentagon","right","trapeze","kite","polygon","parallelogram","ellipse","trefoil","star","semicircle","hexagon","crescent","octagon","cross","ring","heart","arrow","rhombus"]},"blur":{"description":"Gaussian blur radius in pixels","type":"number"},"border-color":{"description":"border-color","type":"string"},"border-radius":{"description":"Border radius in pixels for rounded corners","type":"number"},"border-style":{"description":"border-style","type":"string","enum":["none","solid"]},"border-width":{"description":"border-width","type":"number"},"box-shadow":{"description":"box-shadow","type":"string"},"fill":{"description":"Fill color of the shape","type":"string"},"height":{"description":"height","type":"number"},"hidden":{"description":"Hide or show this layer","type":"boolean"},"left":{"description":"left","type":"number"},"opacity":{"description":"Opacity from 0 (transparent) to 1 (opaque)","type":"number"},"padding":{"description":"padding","type":"number"},"perspective":{"description":"Perspective distance for 3D transforms in pixels","type":"number"},"rotate":{"description":"Rotation angle in degrees","type":"number"},"rotateX":{"description":"3D rotation around the X axis in degrees","type":"number"},"rotateY":{"description":"3D rotation around the Y axis in degrees","type":"number"},"rotateZ":{"description":"3D rotation around the Z axis in degrees","type":"number"},"stroke":{"description":"Stroke color of the shape outline","type":"string"},"stroke-width":{"description":"Stroke width of the shape outline in pixels","type":"number"},"top":{"description":"top","type":"number"},"width":{"description":"width","type":"number"}}},"LayerQrCode":{"type":"object","description":"A `qr_code` layer.","required":["id","type"],"properties":{"id":{"type":"string","description":"Unique layer id within the config"},"type":{"type":"string","enum":["qr_code"],"description":"Layer type discriminator"},"name":{"type":"string","description":"Optional human-readable layer name"},"adaptive-anchor-gap":{"description":"How the anchor gap adjusts when the template is resized","type":"string","enum":["none","scale","scale-x","scale-y","stretch","stretch-x","stretch-y"]},"adaptive-aspect-ratio":{"description":"Whether the layer keeps its aspect ratio when adaptively resized","type":"string","enum":["free","locked"]},"adaptive-position":{"description":"How the layer repositions when the template is resized","type":"string","enum":["none","scale","center-x","center-y","center","pin-right","pin-bottom","pin-right-bottom"]},"adaptive-size":{"description":"How the layer resizes when the template is resized","type":"string","enum":["none","scale","stretch-x","stretch-y","stretch"]},"anchor-gap-x":{"description":"Horizontal offset from the anchor point in pixels","type":"number"},"anchor-gap-y":{"description":"Vertical offset from the anchor point in pixels","type":"number"},"anchor-point":{"description":"Which point on the target layer to anchor to","type":"string","enum":["top-left","top-center","top-right","center-left","center","center-right","bottom-left","bottom-center","bottom-right"]},"anchor-to":{"description":"Name of another layer to anchor this layer's position to","type":"string"},"anchor-type":{"description":"Whether to anchor to the container bounds or text bounds","type":"string","enum":["container","text"]},"background-color":{"description":"Background color of the container","type":"string"},"blur":{"description":"Gaussian blur radius in pixels","type":"number"},"border-color":{"description":"border-color","type":"string"},"border-radius":{"description":"Border radius in pixels for rounded corners","type":"number"},"border-style":{"description":"border-style","type":"string","enum":["none","solid"]},"border-width":{"description":"border-width","type":"number"},"box-shadow":{"description":"box-shadow","type":"string"},"height":{"description":"height","type":"number"},"hidden":{"description":"Hide or show this layer","type":"boolean"},"left":{"description":"left","type":"number"},"opacity":{"description":"Opacity from 0 (transparent) to 1 (opaque)","type":"number"},"padding":{"description":"padding","type":"number"},"perspective":{"description":"Perspective distance for 3D transforms in pixels","type":"number"},"qr-color":{"description":"Foreground color of the QR code","type":"string"},"qr-target":{"description":"URL or text content to encode in the QR code","type":"string"},"rotate":{"description":"Rotation angle in degrees","type":"number"},"rotateX":{"description":"3D rotation around the X axis in degrees","type":"number"},"rotateY":{"description":"3D rotation around the Y axis in degrees","type":"number"},"rotateZ":{"description":"3D rotation around the Z axis in degrees","type":"number"},"top":{"description":"top","type":"number"},"width":{"description":"width","type":"number"}}},"LayerBarCode":{"type":"object","description":"A `bar_code` layer.","required":["id","type"],"properties":{"id":{"type":"string","description":"Unique layer id within the config"},"type":{"type":"string","enum":["bar_code"],"description":"Layer type discriminator"},"name":{"type":"string","description":"Optional human-readable layer name"},"adaptive-anchor-gap":{"description":"How the anchor gap adjusts when the template is resized","type":"string","enum":["none","scale","scale-x","scale-y","stretch","stretch-x","stretch-y"]},"adaptive-aspect-ratio":{"description":"Whether the layer keeps its aspect ratio when adaptively resized","type":"string","enum":["free","locked"]},"adaptive-position":{"description":"How the layer repositions when the template is resized","type":"string","enum":["none","scale","center-x","center-y","center","pin-right","pin-bottom","pin-right-bottom"]},"adaptive-size":{"description":"How the layer resizes when the template is resized","type":"string","enum":["none","scale","stretch-x","stretch-y","stretch"]},"anchor-gap-x":{"description":"Horizontal offset from the anchor point in pixels","type":"number"},"anchor-gap-y":{"description":"Vertical offset from the anchor point in pixels","type":"number"},"anchor-point":{"description":"Which point on the target layer to anchor to","type":"string","enum":["top-left","top-center","top-right","center-left","center","center-right","bottom-left","bottom-center","bottom-right"]},"anchor-to":{"description":"Name of another layer to anchor this layer's position to","type":"string"},"anchor-type":{"description":"Whether to anchor to the container bounds or text bounds","type":"string","enum":["container","text"]},"background-color":{"description":"Background color of the container","type":"string"},"barcode-color":{"description":"Foreground color of the barcode","type":"string"},"barcode-data":{"description":"Data to encode in the barcode","type":"string"},"barcode-format":{"description":"Barcode encoding format","type":"string","enum":["CODE128","EAN13","UPC","EAN8"]},"blur":{"description":"Gaussian blur radius in pixels","type":"number"},"border-color":{"description":"border-color","type":"string"},"border-radius":{"description":"Border radius in pixels for rounded corners","type":"number"},"border-style":{"description":"border-style","type":"string","enum":["none","solid"]},"border-width":{"description":"border-width","type":"number"},"box-shadow":{"description":"box-shadow","type":"string"},"height":{"description":"height","type":"number"},"hidden":{"description":"Hide or show this layer","type":"boolean"},"left":{"description":"left","type":"number"},"opacity":{"description":"Opacity from 0 (transparent) to 1 (opaque)","type":"number"},"padding":{"description":"padding","type":"number"},"perspective":{"description":"Perspective distance for 3D transforms in pixels","type":"number"},"rotate":{"description":"Rotation angle in degrees","type":"number"},"rotateX":{"description":"3D rotation around the X axis in degrees","type":"number"},"rotateY":{"description":"3D rotation around the Y axis in degrees","type":"number"},"rotateZ":{"description":"3D rotation around the Z axis in degrees","type":"number"},"top":{"description":"top","type":"number"},"width":{"description":"width","type":"number"}}},"LayerRating":{"type":"object","description":"A `rating` layer.","required":["id","type"],"properties":{"id":{"type":"string","description":"Unique layer id within the config"},"type":{"type":"string","enum":["rating"],"description":"Layer type discriminator"},"name":{"type":"string","description":"Optional human-readable layer name"},"adaptive-anchor-gap":{"description":"How the anchor gap adjusts when the template is resized","type":"string","enum":["none","scale","scale-x","scale-y","stretch","stretch-x","stretch-y"]},"adaptive-aspect-ratio":{"description":"Whether the layer keeps its aspect ratio when adaptively resized","type":"string","enum":["free","locked"]},"adaptive-position":{"description":"How the layer repositions when the template is resized","type":"string","enum":["none","scale","center-x","center-y","center","pin-right","pin-bottom","pin-right-bottom"]},"adaptive-size":{"description":"How the layer resizes when the template is resized","type":"string","enum":["none","scale","stretch-x","stretch-y","stretch"]},"anchor-gap-x":{"description":"Horizontal offset from the anchor point in pixels","type":"number"},"anchor-gap-y":{"description":"Vertical offset from the anchor point in pixels","type":"number"},"anchor-point":{"description":"Which point on the target layer to anchor to","type":"string","enum":["top-left","top-center","top-right","center-left","center","center-right","bottom-left","bottom-center","bottom-right"]},"anchor-to":{"description":"Name of another layer to anchor this layer's position to","type":"string"},"anchor-type":{"description":"Whether to anchor to the container bounds or text bounds","type":"string","enum":["container","text"]},"background-color":{"description":"Background color of the container","type":"string"},"blur":{"description":"Gaussian blur radius in pixels","type":"number"},"border-color":{"description":"border-color","type":"string"},"border-radius":{"description":"Border radius in pixels for rounded corners","type":"number"},"border-style":{"description":"border-style","type":"string","enum":["none","solid"]},"border-width":{"description":"border-width","type":"number"},"box-shadow":{"description":"box-shadow","type":"string"},"height":{"description":"height","type":"number"},"hidden":{"description":"Hide or show this layer","type":"boolean"},"left":{"description":"left","type":"number"},"opacity":{"description":"Opacity from 0 (transparent) to 1 (opaque)","type":"number"},"padding":{"description":"padding","type":"number"},"perspective":{"description":"Perspective distance for 3D transforms in pixels","type":"number"},"rating-background-color":{"description":"Fill color for inactive rating shapes","type":"string"},"rating-color":{"description":"Fill color for active rating shapes","type":"string"},"rating-count":{"description":"Number of shapes to display","type":"number"},"rating-gap":{"description":"Gap between rating shapes in pixels","type":"number"},"rating-score":{"description":"Rating score from 0 to 100","type":"number"},"rating-shadow":{"description":"Drop shadow for rating shapes in CSS shadow format","type":"string"},"rating-shape":{"description":"Shape used for each rating unit","type":"string","enum":["star","cute_star","heart","circle","diamond","square","hexagon"]},"rating-stroke-color":{"description":"Outline stroke color for rating shapes","type":"string"},"rating-stroke-width":{"description":"Outline stroke width for rating shapes in pixels","type":"number"},"rotate":{"description":"Rotation angle in degrees","type":"number"},"rotateX":{"description":"3D rotation around the X axis in degrees","type":"number"},"rotateY":{"description":"3D rotation around the Y axis in degrees","type":"number"},"rotateZ":{"description":"3D rotation around the Z axis in degrees","type":"number"},"top":{"description":"top","type":"number"},"width":{"description":"width","type":"number"}}},"LayerGroup":{"type":"object","description":"A `group` layer.","required":["id","type"],"properties":{"id":{"type":"string","description":"Unique layer id within the config"},"type":{"type":"string","enum":["group"],"description":"Layer type discriminator"},"name":{"type":"string","description":"Optional human-readable layer name"},"adaptive-anchor-gap":{"description":"How the anchor gap adjusts when the template is resized","type":"string","enum":["none","scale","scale-x","scale-y","stretch","stretch-x","stretch-y"]},"adaptive-aspect-ratio":{"description":"Whether the layer keeps its aspect ratio when adaptively resized","type":"string","enum":["free","locked"]},"adaptive-position":{"description":"How the layer repositions when the template is resized","type":"string","enum":["none","scale","center-x","center-y","center","pin-right","pin-bottom","pin-right-bottom"]},"adaptive-size":{"description":"How the layer resizes when the template is resized","type":"string","enum":["none","scale","stretch-x","stretch-y","stretch"]},"anchor-gap-x":{"description":"Horizontal offset from the anchor point in pixels","type":"number"},"anchor-gap-y":{"description":"Vertical offset from the anchor point in pixels","type":"number"},"anchor-point":{"description":"Which point on the target layer to anchor to","type":"string","enum":["top-left","top-center","top-right","center-left","center","center-right","bottom-left","bottom-center","bottom-right"]},"anchor-to":{"description":"Name of another layer to anchor this layer's position to","type":"string"},"anchor-type":{"description":"Whether to anchor to the container bounds or text bounds","type":"string","enum":["container","text"]},"background-color":{"description":"Background color of the container","type":"string"},"blur":{"description":"Gaussian blur radius in pixels","type":"number"},"border-color":{"description":"border-color","type":"string"},"border-radius":{"description":"Border radius in pixels for rounded corners","type":"number"},"border-style":{"description":"border-style","type":"string","enum":["none","solid"]},"border-width":{"description":"border-width","type":"number"},"box-shadow":{"description":"box-shadow","type":"string"},"collapsed":{"description":"collapsed","type":"boolean"},"height":{"description":"height","type":"number"},"hidden":{"description":"Hide or show this layer","type":"boolean"},"left":{"description":"left","type":"number"},"opacity":{"description":"Opacity from 0 (transparent) to 1 (opaque)","type":"number"},"padding":{"description":"padding","type":"number"},"perspective":{"description":"Perspective distance for 3D transforms in pixels","type":"number"},"rotate":{"description":"Rotation angle in degrees","type":"number"},"rotateX":{"description":"3D rotation around the X axis in degrees","type":"number"},"rotateY":{"description":"3D rotation around the Y axis in degrees","type":"number"},"rotateZ":{"description":"3D rotation around the Z axis in degrees","type":"number"},"top":{"description":"top","type":"number"},"width":{"description":"width","type":"number"}}},"Layer":{"oneOf":[{"$ref":"#/components/schemas/LayerText"},{"$ref":"#/components/schemas/LayerRectangle"},{"$ref":"#/components/schemas/LayerRectangleImageContainer"},{"$ref":"#/components/schemas/LayerCircle"},{"$ref":"#/components/schemas/LayerCircleImageContainer"},{"$ref":"#/components/schemas/LayerImage"},{"$ref":"#/components/schemas/LayerSvgShape"},{"$ref":"#/components/schemas/LayerQrCode"},{"$ref":"#/components/schemas/LayerBarCode"},{"$ref":"#/components/schemas/LayerRating"},{"$ref":"#/components/schemas/LayerGroup"}],"discriminator":{"propertyName":"type","mapping":{"text":"#/components/schemas/LayerText","rectangle":"#/components/schemas/LayerRectangle","rectangle_image_container":"#/components/schemas/LayerRectangleImageContainer","circle":"#/components/schemas/LayerCircle","circle_image_container":"#/components/schemas/LayerCircleImageContainer","image":"#/components/schemas/LayerImage","svg_shape":"#/components/schemas/LayerSvgShape","qr_code":"#/components/schemas/LayerQrCode","bar_code":"#/components/schemas/LayerBarCode","rating":"#/components/schemas/LayerRating","group":"#/components/schemas/LayerGroup"}}},"Keyframes":{"type":"object","description":"Animation keyframes keyed by object id. Each value is an ordered array of keyframes for that object.","additionalProperties":{"type":"array","items":{"type":"object","description":"A single animation keyframe. Timing fields (delay/duration/endDelay) advance the object's timeline; any of the animatable attributes sets a target value the object tweens to over `duration` ms. Blank fields are ignored — omit any attribute you don't want to animate.","properties":{"delay":{"type":"integer","minimum":0,"maximum":10000,"description":"Milliseconds to wait after the previous frame ends before this frame's tween starts. Capped at 10000."},"duration":{"type":"integer","minimum":0,"maximum":10000,"description":"Milliseconds the tween runs for. Must be \u003e 0 for the frame to occupy time. Capped at 10000."},"endDelay":{"type":"integer","minimum":0,"maximum":10000,"description":"Milliseconds to hold the frame's final state before the next frame's delay starts. Capped at 10000."},"easing":{"type":"string","enum":["linear","easeInQuad","easeOutQuad","easeInOutQuad","easeInCubic","easeOutCubic","easeInOutCubic","easeInQuart","easeOutQuart","easeInOutQuart","easeInQuint","easeOutQuint","easeInOutQuint","easeInSine","easeOutSine","easeInOutSine","easeInExpo","easeOutExpo","easeInOutExpo","easeInCirc","easeOutCirc","easeInOutCirc","easeInBack","easeOutBack","easeInOutBack","easeInBounce","easeOutBounce","easeInOutBounce","easeInElastic","easeOutElastic","easeInOutElastic"],"description":"anime.js easing function applied to this frame's tween. Defaults to easeInOutQuad."},"left":{"type":"number","description":"Target x position in pixels"},"top":{"type":"number","description":"Target y position in pixels"},"width":{"type":"number","minimum":1,"description":"Target width in pixels"},"height":{"type":"number","minimum":1,"description":"Target height in pixels"},"scale":{"type":"number","description":"CSS scale multiplier (1 = no change)"},"blur":{"type":"number","minimum":0,"description":"CSS blur radius in pixels"},"opacity":{"type":"number","minimum":0,"maximum":1,"description":"0 (fully transparent) to 1 (fully opaque)"},"rotate":{"type":"number","description":"2D rotation in degrees"},"rotateX":{"type":"number","minimum":-180,"maximum":180,"description":"3D rotation around the X axis in degrees"},"rotateY":{"type":"number","minimum":-180,"maximum":180,"description":"3D rotation around the Y axis in degrees"},"rotateZ":{"type":"number","minimum":-360,"maximum":360,"description":"3D rotation around the Z axis in degrees"},"perspective":{"type":"number","minimum":0,"maximum":5000,"description":"Perspective distance in pixels applied to the object's container. Required for rotateX/Y/Z to render as true 3D — without it, rotations appear flat."},"background-size":{"type":"string","description":"CSS background-size value (e.g. `cover`, `contain`, `100% 100%`)"},"background-position":{"type":"string","description":"CSS background-position value (e.g. `50% 50%`, `top left`)"},"text-effect":{"type":"string","enum":["FadeIn","FadeOut","ZoomIn","ZoomOut","GetBigger","GetSmaller","ScaleIn","ScaleOut","PopIn","PopOut"],"description":"Text layers only — cascades the named preset across each word in the text container. Ignored on non-text objects."},"text-effect-speed":{"oneOf":[{"type":"string","enum":["auto"]},{"type":"integer","enum":[100,200,300,400,500]}],"description":"Per-word stagger in ms. `auto` divides the frame's duration evenly across words."},"text-effect-easing":{"type":"string","enum":["linear","easeInQuad","easeOutQuad","easeInOutQuad","easeInCubic","easeOutCubic","easeInOutCubic","easeInQuart","easeOutQuart","easeInOutQuart","easeInQuint","easeOutQuint","easeInOutQuint","easeInSine","easeOutSine","easeInOutSine","easeInExpo","easeOutExpo","easeInOutExpo","easeInCirc","easeOutCirc","easeInOutCirc","easeInBack","easeOutBack","easeInOutBack","easeInBounce","easeOutBounce","easeInOutBounce","easeInElastic","easeOutElastic","easeInOutElastic"],"description":"Easing applied to each word's cascade. Falls back to the frame's `easing` if omitted."}}}}},"ImageCreateRequest":{"type":"object","required":["template","modifications"],"properties":{"template":{"type":"string","description":"Template UID"},"modifications":{"type":"object","description":"Template and object modifications","properties":{"template":{"type":"object","description":"Template-level overrides","properties":{"width":{"type":"integer","description":"Override template width in pixels"},"height":{"type":"integer","description":"Override template height in pixels"},"transparent":{"type":"boolean","description":"Render with transparent background"}}},"objects":{"type":"array","description":"Array of object modifications","items":{"type":"object","properties":{"name":{"type":"string","description":"Layer name to target (use name or id, not both)"},"id":{"type":"string","description":"Layer ID to target (use name or id, not both)"},"left":{"description":"X position in pixels","type":"number"},"top":{"description":"Y position in pixels","type":"number"},"width":{"description":"Width in pixels","type":"number"},"height":{"description":"Height in pixels","type":"number"},"rotate":{"description":"Rotation angle in degrees","type":"number"},"rotateX":{"description":"3D rotation around the X axis in degrees","type":"number"},"rotateY":{"description":"3D rotation around the Y axis in degrees","type":"number"},"rotateZ":{"description":"3D rotation around the Z axis in degrees","type":"number"},"perspective":{"description":"Perspective distance for 3D transforms in pixels","type":"number"},"blur":{"description":"Gaussian blur radius in pixels","type":"number"},"opacity":{"description":"Opacity from 0 (transparent) to 1 (opaque)","type":"number"},"hidden":{"description":"Hide or show this layer","type":"boolean"},"padding":{"description":"Inner padding in pixels","type":"number"},"background-color":{"description":"Background color of the container","type":"string"},"box-shadow":{"description":"Box shadow in CSS format e.g. 2px 2px 4px #000","type":"string"},"border-style":{"description":"Border style: none or solid","type":"string","enum":["none","solid"]},"border-color":{"description":"Border color as hex, rgb, or named color","type":"string"},"border-width":{"description":"Border width in pixels","type":"number"},"anchor-point":{"description":"Which point on the target layer to anchor to","type":"string","enum":["top-left","top-center","top-right","center-left","center","center-right","bottom-left","bottom-center","bottom-right"]},"anchor-type":{"description":"Whether to anchor to the container bounds or text bounds","type":"string","enum":["container","text"]},"anchor-gap-x":{"description":"Horizontal offset from the anchor point in pixels","type":"number"},"anchor-gap-y":{"description":"Vertical offset from the anchor point in pixels","type":"number"},"adaptive-position":{"description":"How the layer repositions when the template is resized","type":"string","enum":["none","scale","center-x","center-y","center","pin-right","pin-bottom","pin-right-bottom"]},"adaptive-size":{"description":"How the layer resizes when the template is resized","type":"string","enum":["none","scale","stretch-x","stretch-y","stretch"]},"adaptive-aspect-ratio":{"description":"Whether the layer keeps its aspect ratio when adaptively resized","type":"string","enum":["free","locked"]},"adaptive-anchor-gap":{"description":"How the anchor gap adjusts when the template is resized","type":"string","enum":["none","scale","scale-x","scale-y","stretch","stretch-x","stretch-y"]},"text":{"description":"Text content to display","type":"string"},"color":{"description":"Text or fill color as hex, rgb, or named color","type":"string"},"text-highlight-color":{"description":"Background color behind individual lines of text","type":"string"},"text-highlight-padding-vertical":{"description":"Vertical padding around text highlight in pixels","type":"number"},"text-highlight-padding-horizontal":{"description":"Horizontal padding around text highlight in pixels","type":"number"},"text-background-image-mask":{"description":"Image URL to use as a clipping mask for the text fill","type":"string"},"font-size":{"description":"Font size in pixels","type":"number"},"font-weight":{"description":"Font weight from 100 (thin) to 900 (black)","type":"string","enum":[100,200,300,400,500,600,700,800,900]},"font-style":{"description":"Font style: normal or italic","type":"string","enum":["normal","italic"]},"line-height":{"description":"Line height multiplier for text spacing","type":"number"},"text-decoration":{"description":"Text decoration: none, underline, or overline","type":"string","enum":["none","underline","overline"]},"text-transform":{"description":"Text capitalization: none, uppercase, lowercase, or capitalize","type":"string","enum":["none","uppercase","lowercase","capitalize"]},"text-align":{"description":"Horizontal text alignment","type":"string","enum":["left","center","right","justify","start","end"]},"align-items":{"description":"Vertical text alignment within the container","type":"string","enum":["start","center","end"]},"direction":{"description":"Text direction: ltr (left-to-right) or rtl (right-to-left)","type":"string","enum":["ltr","rtl"]},"word-break":{"description":"Word breaking behavior for long words","type":"string","enum":["normal","break-all","keep-all","break-word"]},"white-space":{"description":"How whitespace and line breaks are handled","type":"string","enum":["normal","nowrap","pre","pre-wrap","pre-line"]},"letter-spacing":{"description":"Letter spacing in pixels","type":"number"},"skewX":{"description":"Horizontal skew angle in degrees","type":"number"},"skewY":{"description":"Vertical skew angle in degrees","type":"number"},"text-shadow":{"description":"Text shadow in CSS format e.g. 2px 2px 4px #000","type":"string"},"text-stroke-width":{"description":"Width of the text outline stroke in pixels","type":"number"},"text-stroke-color":{"description":"Color of the text outline stroke","type":"string"},"font-family-secondary":{"description":"Font family for text wrapped in *asterisks*","type":"string"},"color-secondary":{"description":"Text color for text wrapped in *asterisks*","type":"string"},"font-weight-secondary":{"description":"Font weight for text wrapped in *asterisks*","type":"string","enum":["",100,200,300,400,500,600,700,800,900]},"font-style-secondary":{"description":"Font style for text wrapped in *asterisks*","type":"string","enum":["","normal","italic"]},"text-transform-secondary":{"description":"Text transform for text wrapped in *asterisks*","type":"string","enum":["","none","uppercase","lowercase","capitalize"]},"text-decoration-secondary":{"description":"Text decora
[...]
