{"openapi":"3.1.0","info":{"title":"Bannerbear V5 API","version":"5.0"},"servers":[{"url":"https://api.bannerbear.com/v5","description":"Async render host. All endpoints."},{"url":"https://sync.api.bannerbear.com/v5","description":"Synchronous render host. Only accepts POST /images — returns the finished image inline instead of a pending record. Long-running requests may return 408."}],"security":[{"bearerAuth":[]}],"paths":{"/account":{"get":{"summary":"Get account info","responses":{"200":{"description":"Account details for the authenticated workspace and API key","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string","description":"Workspace UID"},"workspace":{"type":"string","description":"Workspace name"},"plan":{"type":"string","description":"Subscription plan"},"quota":{"type":"object","description":"API credits — renders, encodes and other first-party work","properties":{"max":{"type":"integer"},"current":{"type":"integer"},"remaining":{"type":"integer"}}},"ai_quota":{"type":"object","description":"AI credits — a separate pool covering model calls (background removal, AI image models, transcription, voiceover). Priced identically on every plan. May be fractional: one background removal is 1 credit, an AI detect is 0.1.","properties":{"max":{"type":"integer"},"current":{"type":"number"},"remaining":{"type":"number"}}},"api_key":{"type":"object","properties":{"name":{"type":"string","description":"API key name / identifier"},"scopes":{"type":"array","items":{"type":"string","enum":["images:read","images:write","image_templates:read","image_templates:write","animations:read","animations:write","animation_templates:read","animation_templates:write","batches:read","batches:write","webhooks:read","webhooks:write","instant_urls:read","instant_urls:write","publications:read","publications:write","assets:read","assets:write","tools:read","tools:write","workflows:read","workflows:write"]},"description":"Endpoints this key is authorized for (e.g. `images:write`). Empty array means full access — no scope restrictions."},"allowed_origins":{"type":"array","items":{"type":"string"},"description":"Origins allowed to use this key from a browser (e.g. `https://mysite.com`). Empty array = no origin restriction."}}},"created_at":{"type":"string","format":"date-time"}}}}}}}}},"/image_templates":{"get":{"summary":"List image templates","parameters":[{"name":"page","in":"query","schema":{"type":"integer"},"required":false}],"responses":{"200":{"description":"Paginated list of templates","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","description":"Image template. `config.objects` is the full canvas config — matches exactly the shape PATCH accepts, so responses round-trip cleanly.","properties":{"uid":{"type":"string"},"name":{"type":"string"},"description":{"type":"string","nullable":true},"tags":{"type":"array","items":{"type":"string"}},"width":{"type":"integer"},"height":{"type":"integer"},"responsive":{"type":"boolean","description":"True if the template has responsive sizing or positioning"},"preview":{"type":"string","nullable":true,"format":"uri","description":"Preview image URL"},"ui_write_access":{"type":"string","enum":["owner_only","team"],"description":"Who can edit this template in the dashboard — `owner_only` (default) or `team`"},"api_write_access":{"type":"string","enum":["team","owner_only","nobody"],"description":"Who can update or delete this template via the API — `team` (default, any workspace API key), `owner_only` (only API keys owned by the template's creator), or `nobody` (locked; unlock via dashboard)"},"config":{"type":"object","description":"Full canvas configuration.","properties":{"objects":{"type":"array","items":{"$ref":"#/components/schemas/Layer"},"description":"Layers on the canvas"}}},"created_at":{"type":"string","format":"date-time"}}}}}}}}},"post":{"summary":"Create an image template","description":"Create a new image template in the workspace. Pass `config` to seed the canvas with layers; omit it to start from an empty template that can be edited later.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string","description":"Template name"},"description":{"type":"string","nullable":true,"description":"Template description"},"tags":{"type":"array","items":{"type":"string"},"description":"Template tags"},"width":{"type":"integer","description":"Canvas width in pixels"},"height":{"type":"integer","description":"Canvas height in pixels"},"config":{"type":"object","description":"Full canvas configuration. Replaces the existing config in place.","properties":{"objects":{"type":"array","items":{"$ref":"#/components/schemas/Layer"},"description":"Layers on the canvas"}}}}}}}},"responses":{"201":{"description":"Template created","content":{"application/json":{"schema":{"type":"object","description":"Image template. `config.objects` is the full canvas config — matches exactly the shape PATCH accepts, so responses round-trip cleanly.","properties":{"uid":{"type":"string"},"name":{"type":"string"},"description":{"type":"string","nullable":true},"tags":{"type":"array","items":{"type":"string"}},"width":{"type":"integer"},"height":{"type":"integer"},"responsive":{"type":"boolean","description":"True if the template has responsive sizing or positioning"},"preview":{"type":"string","nullable":true,"format":"uri","description":"Preview image URL"},"ui_write_access":{"type":"string","enum":["owner_only","team"],"description":"Who can edit this template in the dashboard — `owner_only` (default) or `team`"},"api_write_access":{"type":"string","enum":["team","owner_only","nobody"],"description":"Who can update or delete this template via the API — `team` (default, any workspace API key), `owner_only` (only API keys owned by the template's creator), or `nobody` (locked; unlock via dashboard)"},"config":{"type":"object","description":"Full canvas configuration.","properties":{"objects":{"type":"array","items":{"$ref":"#/components/schemas/Layer"},"description":"Layers on the canvas"}}},"created_at":{"type":"string","format":"date-time"}}}}}},"400":{"description":"Missing required parameter (e.g. name)","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"422":{"description":"Validation failure — e.g. width/height must be between 100 and 5000","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}}}}},"/image_templates/{uid}":{"get":{"summary":"Get an image template","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Template details","content":{"application/json":{"schema":{"type":"object","description":"Image template. `config.objects` is the full canvas config — matches exactly the shape PATCH accepts, so responses round-trip cleanly.","properties":{"uid":{"type":"string"},"name":{"type":"string"},"description":{"type":"string","nullable":true},"tags":{"type":"array","items":{"type":"string"}},"width":{"type":"integer"},"height":{"type":"integer"},"responsive":{"type":"boolean","description":"True if the template has responsive sizing or positioning"},"preview":{"type":"string","nullable":true,"format":"uri","description":"Preview image URL"},"ui_write_access":{"type":"string","enum":["owner_only","team"],"description":"Who can edit this template in the dashboard — `owner_only` (default) or `team`"},"api_write_access":{"type":"string","enum":["team","owner_only","nobody"],"description":"Who can update or delete this template via the API — `team` (default, any workspace API key), `owner_only` (only API keys owned by the template's creator), or `nobody` (locked; unlock via dashboard)"},"config":{"type":"object","description":"Full canvas configuration.","properties":{"objects":{"type":"array","items":{"$ref":"#/components/schemas/Layer"},"description":"Layers on the canvas"}}},"created_at":{"type":"string","format":"date-time"}}}}}}}},"patch":{"summary":"Update an image template","description":"Update any subset of template attributes. Passing `config` fully replaces the template's canvas configuration.","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","description":"Template name"},"description":{"type":"string","nullable":true,"description":"Template description"},"tags":{"type":"array","items":{"type":"string"},"description":"Template tags"},"width":{"type":"integer","description":"Canvas width in pixels"},"height":{"type":"integer","description":"Canvas height in pixels"},"config":{"type":"object","description":"Full canvas configuration. Replaces the existing config in place.","properties":{"objects":{"type":"array","items":{"$ref":"#/components/schemas/Layer"},"description":"Layers on the canvas"}}}}}}}},"responses":{"200":{"description":"Updated template","content":{"application/json":{"schema":{"type":"object","description":"Image template. `config.objects` is the full canvas config — matches exactly the shape PATCH accepts, so responses round-trip cleanly.","properties":{"uid":{"type":"string"},"name":{"type":"string"},"description":{"type":"string","nullable":true},"tags":{"type":"array","items":{"type":"string"}},"width":{"type":"integer"},"height":{"type":"integer"},"responsive":{"type":"boolean","description":"True if the template has responsive sizing or positioning"},"preview":{"type":"string","nullable":true,"format":"uri","description":"Preview image URL"},"ui_write_access":{"type":"string","enum":["owner_only","team"],"description":"Who can edit this template in the dashboard — `owner_only` (default) or `team`"},"api_write_access":{"type":"string","enum":["team","owner_only","nobody"],"description":"Who can update or delete this template via the API — `team` (default, any workspace API key), `owner_only` (only API keys owned by the template's creator), or `nobody` (locked; unlock via dashboard)"},"config":{"type":"object","description":"Full canvas configuration.","properties":{"objects":{"type":"array","items":{"$ref":"#/components/schemas/Layer"},"description":"Layers on the canvas"}}},"created_at":{"type":"string","format":"date-time"}}}}}},"400":{"description":"No editable attributes provided","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"403":{"description":"Template's api_write_access is `owner_only` and the caller's API key is not owned by the template's creator","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"404":{"description":"Template not found in this workspace","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"422":{"description":"Validation failure — e.g. width/height must be between 100 and 5000","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"423":{"description":"Template's api_write_access is `nobody` — the owner must unlock it via the dashboard","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}}}},"delete":{"summary":"Delete an image template","description":"Soft-deletes the template. Existing renders that reference it stay intact, but the template will no longer appear in list/get calls and can no longer be used for new renders.","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Template deleted"},"403":{"description":"Template's api_write_access is `owner_only` and the caller's API key is not owned by the template's creator","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"423":{"description":"Template's api_write_access is `nobody` — the owner must unlock it via the dashboard","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}}}}},"/images":{"get":{"summary":"List images","parameters":[{"name":"page","in":"query","schema":{"type":"integer"},"required":false}],"responses":{"200":{"description":"Paginated list of images","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"uid":{"type":"string"},"status":{"type":"string","enum":["pending","completed","failed"]},"template":{"type":"string"},"files":{"type":"object","description":"Output file URLs keyed by format"},"metadata":{"type":"string","nullable":true},"error":{"type":"string","nullable":true,"description":"Error message (only present on failure)"},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true}}}}}}}}},"post":{"summary":"Create an image","description":"Create an image render. Async on api.bannerbear.com (returns 202 + pending record, poll via GET /images/{uid} or subscribe via webhook). Sync on sync.api.bannerbear.com (returns 200 + completed image inline, or 408 if the render exceeds the sync timeout).","servers":[{"url":"https://api.bannerbear.com/v5","description":"Async — returns 202"},{"url":"https://sync.api.bannerbear.com/v5","description":"Sync — returns 200 or 408"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ImageCreateRequest"}}}},"responses":{"200":{"description":"Sync render complete (sync host only)","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"status":{"type":"string","enum":["pending","completed","failed"]},"template":{"type":"string"},"files":{"type":"object","description":"Output file URLs keyed by format"},"metadata":{"type":"string","nullable":true},"error":{"type":"string","nullable":true,"description":"Error message (only present on failure)"},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true}}}}}},"202":{"description":"Async render accepted (async host only)","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"status":{"type":"string","enum":["pending","completed","failed"]},"template":{"type":"string"},"files":{"type":"object","description":"Output file URLs keyed by format"},"metadata":{"type":"string","nullable":true},"error":{"type":"string","nullable":true,"description":"Error message (only present on failure)"},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true}}}}}},"402":{"description":"API quota exhausted — upgrade required","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"403":{"description":"API key does not have access to this template","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"404":{"description":"Template not found in this workspace","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"408":{"description":"Sync render timed out (sync host only)"},"422":{"description":"Payload validation failure — e.g. invalid modification, unknown attribute, bad option value","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}}}}},"/images/{uid}":{"get":{"summary":"Get an image","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Image details","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"status":{"type":"string","enum":["pending","completed","failed"]},"template":{"type":"string"},"files":{"type":"object","description":"Output file URLs keyed by format"},"metadata":{"type":"string","nullable":true},"error":{"type":"string","nullable":true,"description":"Error message (only present on failure)"},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true}}}}}}}}},"/batches":{"get":{"summary":"List batches","parameters":[{"name":"page","in":"query","schema":{"type":"integer"},"required":false}],"responses":{"200":{"description":"Paginated list of batches","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"uid":{"type":"string"},"type":{"type":"string","enum":["images"]},"status":{"type":"string","enum":["pending","completed"]},"total":{"type":"integer"},"counts":{"type":"object","properties":{"completed":{"type":"integer"},"failed":{"type":"integer"},"invalid":{"type":"integer"},"pending":{"type":"integer"}}},"errors":{"type":"array","items":{"type":"object"}},"items":{"type":"array","items":{"type":"object","properties":{"uid":{"type":"string"},"status":{"type":"string","enum":["pending","completed","failed"]},"template":{"type":"string"},"files":{"type":"object","description":"Output file URLs keyed by format"},"metadata":{"type":"string","nullable":true},"error":{"type":"string","nullable":true,"description":"Error message (only present on failure)"},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true}}}},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true}}}}}}}}},"post":{"summary":"Create a batch","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["type","items"],"properties":{"type":{"type":"string","enum":["images"],"description":"Batch type"},"items":{"type":"array","description":"Array of image payloads (max 100)","items":{"$ref":"#/components/schemas/ImageCreateRequest"}}}}}}},"responses":{"202":{"description":"Batch creation accepted","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"type":{"type":"string","enum":["images"]},"status":{"type":"string","enum":["pending","completed"]},"total":{"type":"integer"},"counts":{"type":"object","properties":{"completed":{"type":"integer"},"failed":{"type":"integer"},"invalid":{"type":"integer"},"pending":{"type":"integer"}}},"errors":{"type":"array","items":{"type":"object"}},"items":{"type":"array","items":{"type":"object","properties":{"uid":{"type":"string"},"status":{"type":"string","enum":["pending","completed","failed"]},"template":{"type":"string"},"files":{"type":"object","description":"Output file URLs keyed by format"},"metadata":{"type":"string","nullable":true},"error":{"type":"string","nullable":true,"description":"Error message (only present on failure)"},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true}}}},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true}}}}}},"400":{"description":"Missing required parameter (e.g. items)","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"422":{"description":"Validation failure — e.g. exceeds max items, invalid type","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}}}}},"/batches/{uid}":{"get":{"summary":"Get a batch","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Batch details","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"type":{"type":"string","enum":["images"]},"status":{"type":"string","enum":["pending","completed"]},"total":{"type":"integer"},"counts":{"type":"object","properties":{"completed":{"type":"integer"},"failed":{"type":"integer"},"invalid":{"type":"integer"},"pending":{"type":"integer"}}},"errors":{"type":"array","items":{"type":"object"}},"items":{"type":"array","items":{"type":"object","properties":{"uid":{"type":"string"},"status":{"type":"string","enum":["pending","completed","failed"]},"template":{"type":"string"},"files":{"type":"object","description":"Output file URLs keyed by format"},"metadata":{"type":"string","nullable":true},"error":{"type":"string","nullable":true,"description":"Error message (only present on failure)"},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true}}}},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true}}}}}}}}},"/webhooks":{"get":{"summary":"List webhooks","parameters":[{"name":"page","in":"query","schema":{"type":"integer"},"required":false}],"responses":{"200":{"description":"Paginated list of webhooks","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"uid":{"type":"string"},"name":{"type":"string"},"url":{"type":"string","format":"uri"},"resource":{"type":"string","enum":["image","batch","tool_job","workflow_run","animation"]},"event":{"type":"string","enum":["all_events","completed","failed"]},"status":{"type":"string","enum":["active","disabled"]},"created_at":{"type":"string","format":"date-time"}}}}}}}}},"post":{"summary":"Create a webhook","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name","url"],"properties":{"name":{"type":"string","description":"Webhook name"},"url":{"type":"string","format":"uri","description":"URL to receive webhook events"},"resource":{"type":"string","enum":["image","batch","tool_job","workflow_run","animation"],"description":"Resource type to trigger on"},"event":{"type":"string","enum":["all_events","completed","failed"],"description":"Event type to trigger on"},"status":{"type":"string","enum":["active","disabled"],"description":"Webhook status"}}}}}},"responses":{"201":{"description":"Webhook created. The signing_key field is only returned here — store it now.","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"name":{"type":"string"},"url":{"type":"string","format":"uri"},"resource":{"type":"string","enum":["image","batch","tool_job","workflow_run","animation"]},"event":{"type":"string","enum":["all_events","completed","failed"]},"status":{"type":"string","enum":["active","disabled"]},"created_at":{"type":"string","format":"date-time"},"signing_key":{"type":"string","description":"HMAC signing key. Only returned at creation time — store it now."}}}}}},"422":{"description":"Validation failure — e.g. missing name/url, invalid resource/event/scope enum","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}}}}},"/webhooks/{uid}":{"get":{"summary":"Get a webhook","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Webhook details","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"name":{"type":"string"},"url":{"type":"string","format":"uri"},"resource":{"type":"string","enum":["image","batch","tool_job","workflow_run","animation"]},"event":{"type":"string","enum":["all_events","completed","failed"]},"status":{"type":"string","enum":["active","disabled"]},"created_at":{"type":"string","format":"date-time"}}}}}}}},"patch":{"summary":"Update a webhook","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name","url"],"properties":{"name":{"type":"string","description":"Webhook name"},"url":{"type":"string","format":"uri","description":"URL to receive webhook events"},"resource":{"type":"string","enum":["image","batch","tool_job","workflow_run","animation"],"description":"Resource type to trigger on"},"event":{"type":"string","enum":["all_events","completed","failed"],"description":"Event type to trigger on"},"status":{"type":"string","enum":["active","disabled"],"description":"Webhook status"}}}}}},"responses":{"200":{"description":"Updated webhook","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"name":{"type":"string"},"url":{"type":"string","format":"uri"},"resource":{"type":"string","enum":["image","batch","tool_job","workflow_run","animation"]},"event":{"type":"string","enum":["all_events","completed","failed"]},"status":{"type":"string","enum":["active","disabled"]},"created_at":{"type":"string","format":"date-time"}}}}}},"404":{"description":"Webhook not found in this workspace","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"422":{"description":"Validation failure","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}}}},"delete":{"summary":"Delete a webhook","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Webhook deleted"}}}},"/assets":{"get":{"summary":"List assets","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Paginated list of assets uploaded by this workspace","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"uid":{"type":"string"},"url":{"type":"string","format":"uri","description":"CDN URL of the uploaded asset"},"mime_type":{"type":"string","nullable":true,"description":"Content-Type of the stored asset"},"size":{"type":"integer","description":"File size in bytes"},"created_at":{"type":"string","format":"date-time"}}}}}}}}},"post":{"summary":"Upload an asset","description":"Upload a file (max 5MB) to storage and get back a durable CDN URL. Send the raw file bytes as the request body with `Content-Type` set to one of the accepted mime types listed below.\n\nUploads are deduplicated per workspace by SHA-256 of the payload — pushing the same bytes twice returns the existing record (`200 OK`) rather than creating a duplicate. A fresh upload returns `201 Created`.\n\nTrial accounts are limited to 20 uploaded assets. Dedupe hits don't count against the cap.","requestBody":{"required":true,"content":{"image/jpeg":{"schema":{"type":"string","format":"binary"}},"image/png":{"schema":{"type":"string","format":"binary"}},"image/webp":{"schema":{"type":"string","format":"binary"}},"image/gif":{"schema":{"type":"string","format":"binary"}},"video/mp4":{"schema":{"type":"string","format":"binary"}},"video/webm":{"schema":{"type":"string","format":"binary"}},"video/quicktime":{"schema":{"type":"string","format":"binary"}},"audio/mpeg":{"schema":{"type":"string","format":"binary"}},"audio/wav":{"schema":{"type":"string","format":"binary"}},"audio/mp4":{"schema":{"type":"string","format":"binary"}},"audio/webm":{"schema":{"type":"string","format":"binary"}},"audio/ogg":{"schema":{"type":"string","format":"binary"}},"application/pdf":{"schema":{"type":"string","format":"binary"}}}},"responses":{"200":{"description":"Asset already existed (matched by content hash) — existing record returned","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"url":{"type":"string","format":"uri","description":"CDN URL of the uploaded asset"},"mime_type":{"type":"string","nullable":true,"description":"Content-Type of the stored asset"},"size":{"type":"integer","description":"File size in bytes"},"created_at":{"type":"string","format":"date-time"}}}}}},"201":{"description":"Asset uploaded","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"url":{"type":"string","format":"uri","description":"CDN URL of the uploaded asset"},"mime_type":{"type":"string","nullable":true,"description":"Content-Type of the stored asset"},"size":{"type":"integer","description":"File size in bytes"},"created_at":{"type":"string","format":"date-time"}}}}}},"400":{"description":"Empty request body","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"402":{"description":"Trial cap hit — upgrade required","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"413":{"description":"Asset exceeds the size cap","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"415":{"description":"Unsupported Content-Type — see requestBody for the accepted list","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"502":{"description":"Upstream storage upload failed","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}}}}},"/assets/{uid}":{"get":{"summary":"Get an asset","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Asset details","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"url":{"type":"string","format":"uri","description":"CDN URL of the uploaded asset"},"mime_type":{"type":"string","nullable":true,"description":"Content-Type of the stored asset"},"size":{"type":"integer","description":"File size in bytes"},"created_at":{"type":"string","format":"date-time"}}}}}},"404":{"description":"Asset not found in this workspace"}}}},"/assets/check":{"post":{"summary":"Batch-check which asset hashes already exist","description":"Given a list of SHA-256 content hashes, returns a map of each hash to its existing asset record (or `null` if not stored in this workspace). Lets syncing clients skip the upload round-trip for content that's already been uploaded — compute the hash locally, batch-check, then only POST the missing ones to `/assets`.\n\nMax 100 hashes per request.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["content_hashes"],"properties":{"content_hashes":{"type":"array","maxItems":100,"items":{"type":"string","description":"SHA-256 hex digest of the file contents"}}}}}}},"responses":{"200":{"description":"Map of `hash → asset record or null`. Keys are the hashes from the request; values are the existing asset for that hash, or null if not found.","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"oneOf":[{"type":"object","properties":{"uid":{"type":"string"},"url":{"type":"string","format":"uri","description":"CDN URL of the uploaded asset"},"mime_type":{"type":"string","nullable":true,"description":"Content-Type of the stored asset"},"size":{"type":"integer","description":"File size in bytes"},"created_at":{"type":"string","format":"date-time"}}},{"type":"null"}]}}}}},"400":{"description":"Empty or oversized content_hashes array","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}}}}},"/publications":{"get":{"summary":"Browse the public library","description":"Returns publications with `visibility=public_library` from every team. Publications are user-owned resources that span workspaces, so there's no workspace-scoped listing — if you need your own publication UIDs, grab them from the dashboard at publish time and hit `/publications/{uid}` or `/publications/{uid}/install` directly.","parameters":[{"name":"page","in":"query","required":false,"schema":{"type":"integer"}}],"responses":{"200":{"description":"Paginated list of public library publications","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"uid":{"type":"string"},"name":{"type":"string"},"description":{"type":"string","nullable":true},"tags":{"type":"array","items":{"type":"string"}},"visibility":{"type":"string","enum":["unpublished","published","public_library"],"description":"unpublished, published, or public_library"},"preview":{"type":"string","nullable":true,"format":"uri","description":"Preview image or gif URL"},"install_count":{"type":"integer","description":"Number of times this publication has been installed into a workspace"},"template_kind":{"type":"string","enum":["image"],"description":"Whether the publication came from an image template"},"published_at":{"type":"string","format":"date-time","nullable":true},"created_at":{"type":"string","format":"date-time"}}}}}}}}}},"/publications/{uid}":{"get":{"summary":"Get a publication","description":"Public library publications are visible to any authenticated caller. Published publications are only returned to the user who created them.","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Publication details","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"name":{"type":"string"},"description":{"type":"string","nullable":true},"tags":{"type":"array","items":{"type":"string"}},"visibility":{"type":"string","enum":["unpublished","published","public_library"],"description":"unpublished, published, or public_library"},"preview":{"type":"string","nullable":true,"format":"uri","description":"Preview image or gif URL"},"install_count":{"type":"integer","description":"Number of times this publication has been installed into a workspace"},"template_kind":{"type":"string","enum":["image"],"description":"Whether the publication came from an image template"},"published_at":{"type":"string","format":"date-time","nullable":true},"created_at":{"type":"string","format":"date-time"}}}}}},"404":{"description":"Publication not found or not accessible to this key"}}}},"/publications/{uid}/install":{"post":{"summary":"Install a publication into the workspace","description":"Clones the publication's snapshot into the API key's team as a new image template. Trial accounts are capped at 3 templates — installing beyond the cap returns 402.","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"201":{"description":"Image template installed.","content":{"application/json":{"schema":{"type":"object","description":"Image template. `config.objects` is the full canvas config — matches exactly the shape PATCH accepts, so responses round-trip cleanly.","properties":{"uid":{"type":"string"},"name":{"type":"string"},"description":{"type":"string","nullable":true},"tags":{"type":"array","items":{"type":"string"}},"width":{"type":"integer"},"height":{"type":"integer"},"responsive":{"type":"boolean","description":"True if the template has responsive sizing or positioning"},"preview":{"type":"string","nullable":true,"format":"uri","description":"Preview image URL"},"ui_write_access":{"type":"string","enum":["owner_only","team"],"description":"Who can edit this template in the dashboard — `owner_only` (default) or `team`"},"api_write_access":{"type":"string","enum":["team","owner_only","nobody"],"description":"Who can update or delete this template via the API — `team` (default, any workspace API key), `owner_only` (only API keys owned by the template's creator), or `nobody` (locked; unlock via dashboard)"},"config":{"type":"object","description":"Full canvas configuration.","properties":{"objects":{"type":"array","items":{"$ref":"#/components/schemas/Layer"},"description":"Layers on the canvas"}}},"created_at":{"type":"string","format":"date-time"}}}}}},"402":{"description":"Trial cap hit — upgrade required"},"403":{"description":"Publication is unpublished and cannot be installed"},"404":{"description":"Publication not found"}}}},"/instant_urls":{"get":{"summary":"List instant URLs","parameters":[{"name":"page","in":"query","schema":{"type":"integer"},"required":false}],"responses":{"200":{"description":"Paginated list of instant URLs","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"uid":{"type":"string"},"name":{"type":"string"},"template":{"type":"string","description":"Source image template UID"},"template_version":{"type":"integer","nullable":true,"description":"Pinned template version, or null for latest"},"mode":{"type":"string","enum":["encoded","named_params"]},"security":{"type":"string","enum":["signed","open"]},"status":{"type":"string","enum":["active","disabled"]},"scale":{"type":"integer","enum":[1,2,3,4]},"rate_limit":{"type":"boolean","description":"Whether per-IP rate limiting is enabled"},"max_renders":{"type":"integer","nullable":true},"render_count":{"type":"integer"},"expires_at":{"type":"string","format":"date-time","nullable":true},"base_url":{"type":"string","format":"uri"},"sample_url":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"}}}}}}}}},"post":{"summary":"Create an instant URL","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name","template"],"properties":{"name":{"type":"string"},"template":{"type":"string","description":"Image template UID this Instant URL is bound to"},"mode":{"type":"string","enum":["encoded","named_params"]},"security":{"type":"string","enum":["signed","open"]},"status":{"type":"string","enum":["active","disabled"]},"scale":{"type":"integer","enum":[1,2,3,4]},"rate_limit":{"type":"boolean"},"template_version":{"type":"integer","nullable":true},"max_renders":{"type":"integer","nullable":true},"expires_at":{"type":"string","format":"date-time","nullable":true}}}}}},"responses":{"201":{"description":"Instant URL created. The signing_key field is only returned here — store it now.","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"name":{"type":"string"},"template":{"type":"string","description":"Source image template UID"},"template_version":{"type":"integer","nullable":true,"description":"Pinned template version, or null for latest"},"mode":{"type":"string","enum":["encoded","named_params"]},"security":{"type":"string","enum":["signed","open"]},"status":{"type":"string","enum":["active","disabled"]},"scale":{"type":"integer","enum":[1,2,3,4]},"rate_limit":{"type":"boolean","description":"Whether per-IP rate limiting is enabled"},"max_renders":{"type":"integer","nullable":true},"render_count":{"type":"integer"},"expires_at":{"type":"string","format":"date-time","nullable":true},"base_url":{"type":"string","format":"uri"},"sample_url":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"signing_key":{"type":"string","description":"HMAC signing key. Only returned at creation time — store it now."}}}}}},"402":{"description":"Trial cap hit — upgrade required","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"422":{"description":"Validation failure — e.g. missing name/template, invalid enum value","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}}}}},"/instant_urls/{uid}":{"get":{"summary":"Get an instant URL","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Instant URL details","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"name":{"type":"string"},"template":{"type":"string","description":"Source image template UID"},"template_version":{"type":"integer","nullable":true,"description":"Pinned template version, or null for latest"},"mode":{"type":"string","enum":["encoded","named_params"]},"security":{"type":"string","enum":["signed","open"]},"status":{"type":"string","enum":["active","disabled"]},"scale":{"type":"integer","enum":[1,2,3,4]},"rate_limit":{"type":"boolean","description":"Whether per-IP rate limiting is enabled"},"max_renders":{"type":"integer","nullable":true},"render_count":{"type":"integer"},"expires_at":{"type":"string","format":"date-time","nullable":true},"base_url":{"type":"string","format":"uri"},"sample_url":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"}}}}}}}},"patch":{"summary":"Update an instant URL","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name","template"],"properties":{"name":{"type":"string"},"template":{"type":"string","description":"Image template UID this Instant URL is bound to"},"mode":{"type":"string","enum":["encoded","named_params"]},"security":{"type":"string","enum":["signed","open"]},"status":{"type":"string","enum":["active","disabled"]},"scale":{"type":"integer","enum":[1,2,3,4]},"rate_limit":{"type":"boolean"},"template_version":{"type":"integer","nullable":true},"max_renders":{"type":"integer","nullable":true},"expires_at":{"type":"string","format":"date-time","nullable":true}}}}}},"responses":{"200":{"description":"Updated instant URL","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"name":{"type":"string"},"template":{"type":"string","description":"Source image template UID"},"template_version":{"type":"integer","nullable":true,"description":"Pinned template version, or null for latest"},"mode":{"type":"string","enum":["encoded","named_params"]},"security":{"type":"string","enum":["signed","open"]},"status":{"type":"string","enum":["active","disabled"]},"scale":{"type":"integer","enum":[1,2,3,4]},"rate_limit":{"type":"boolean","description":"Whether per-IP rate limiting is enabled"},"max_renders":{"type":"integer","nullable":true},"render_count":{"type":"integer"},"expires_at":{"type":"string","format":"date-time","nullable":true},"base_url":{"type":"string","format":"uri"},"sample_url":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"}}}}}},"404":{"description":"Instant URL not found in this workspace","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"422":{"description":"Validation failure","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}}}},"delete":{"summary":"Delete an instant URL","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Instant URL deleted"}}}},"/animations":{"get":{"summary":"List animations","parameters":[{"name":"page","in":"query","schema":{"type":"integer"},"required":false}],"responses":{"200":{"description":"Paginated list of animations","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"uid":{"type":"string"},"status":{"type":"string","enum":["queued","completed","failed","rendering"],"description":"queued → rendering → completed / failed"},"template":{"type":"string","description":"Source animation template UID"},"files":{"type":"object","description":"Output file URL keyed by format (`mp4`, or `mov` when transparent)"},"progress":{"type":"integer","description":"0-100 render progress, 100 once completed"},"metadata":{"type":"string","nullable":true},"error":{"type":"string","nullable":true,"description":"Error message (only present on failure)"},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true}}}}}}}}},"post":{"summary":"Create an animation","description":"Render an animation from a template. Async — returns 202 with a queued animation; poll GET /animations/{uid} until `status` is `completed` or `failed`. Duration comes from the template's keyframes, so a template with no animation is rejected. Passing `modifications.template.transparent: true` renders on a transparent background and forces a MOV output, since MP4 carries no alpha channel.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["template","modifications"],"properties":{"template":{"type":"string","description":"Animation template UID"},"formats":{"type":"array","default":["mp4"],"items":{"type":"string","enum":["mp4","mov"]},"description":"Output formats. Ignored when `transparent` is set — that always yields MOV."},"modifications":{"type":"object","properties":{"objects":{"type":"array","items":{"$ref":"#/components/schemas/Layer"},"description":"Per-layer overrides, addressed by `name` or `id`"},"template":{"type":"object","description":"Template-level output overrides","properties":{"width":{"type":"integer","description":"Override template width in pixels"},"height":{"type":"integer","description":"Override template height in pixels"},"fps":{"type":"integer","description":"Override output frame rate","enum":[24,30,60]},"transparent":{"type":"boolean","description":"Render on a transparent background — forces a MOV output so the alpha channel survives"}}}}},"metadata":{"type":"string","description":"Arbitrary metadata string round-tripped in the response"}}}}}},"responses":{"202":{"description":"Animation queued","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"status":{"type":"string","enum":["queued","completed","failed","rendering"],"description":"queued → rendering → completed / failed"},"template":{"type":"string","description":"Source animation template UID"},"files":{"type":"object","description":"Output file URL keyed by format (`mp4`, or `mov` when transparent)"},"progress":{"type":"integer","description":"0-100 render progress, 100 once completed"},"metadata":{"type":"string","nullable":true},"error":{"type":"string","nullable":true,"description":"Error message (only present on failure)"},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true}}}}}},"400":{"description":"Missing required parameter (e.g. template)","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"402":{"description":"API quota exhausted","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"404":{"description":"Template not found in this workspace","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"422":{"description":"Validation failure — unknown layer name, bad format, or a template with no keyframes","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}}}}},"/animations/{uid}":{"get":{"summary":"Get an animation","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Animation details + live progress","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"status":{"type":"string","enum":["queued","completed","failed","rendering"],"description":"queued → rendering → completed / failed"},"template":{"type":"string","description":"Source animation template UID"},"files":{"type":"object","description":"Output file URL keyed by format (`mp4`, or `mov` when transparent)"},"progress":{"type":"integer","description":"0-100 render progress, 100 once completed"},"metadata":{"type":"string","nullable":true},"error":{"type":"string","nullable":true,"description":"Error message (only present on failure)"},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true}}}}}},"404":{"description":"Animation not found in this workspace","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}}}}},"/animation_templates":{"get":{"summary":"List animation templates","parameters":[{"name":"page","in":"query","schema":{"type":"integer"},"required":false}],"responses":{"200":{"description":"Paginated list of templates","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"uid":{"type":"string"},"name":{"type":"string"},"description":{"type":"string","nullable":true},"tags":{"type":"array","items":{"type":"string"}},"width":{"type":"integer"},"height":{"type":"integer"},"frame_rate":{"type":"integer","enum":[24,30,60]},"duration_seconds":{"type":"number","description":"Derived from the template's keyframes — not settable. 0 until something is animated."},"preview":{"type":"string","nullable":true,"format":"uri","description":"Preview image URL"},"ui_write_access":{"type":"string","enum":["owner_only","team"],"description":"Who can edit in the dashboard — `owner_only` (default) or `team`"},"api_write_access":{"type":"string","enum":["team","owner_only","nobody"],"description":"Who can update or delete via the API — `team` (default), `owner_only`, or `nobody` (locked; unlock via dashboard)"},"config":{"type":"object","description":"Canvas configuration. `objects` are the layers; `keyframes` drives the animation and determines duration.","properties":{"objects":{"type":"array","items":{"$ref":"#/components/schemas/Layer"}},"keyframes":{"$ref":"#/components/schemas/Keyframes"}}},"created_at":{"type":"string","format":"date-time"}}}}}}}}},"post":{"summary":"Create an animation template","description":"Create an animation template. Send `config` to author layers and keyframes directly — see the Keyframes schema for the frame shape — or omit it and build the template in the dashboard editor. `duration_seconds` is derived from the keyframes rather than set.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string"},"description":{"type":"string","nullable":true},"tags":{"type":"array","items":{"type":"string"}},"width":{"type":"integer","minimum":100,"maximum":5000},"height":{"type":"integer","minimum":100,"maximum":5000},"frame_rate":{"type":"integer","enum":[24,30,60]},"config":{"type":"object","description":"Canvas configuration, replaced wholesale. `objects` are the layers; `keyframes` drives the animation and determines duration. Omit to leave the existing config untouched.","properties":{"objects":{"type":"array","items":{"$ref":"#/components/schemas/Layer"}},"keyframes":{"$ref":"#/components/schemas/Keyframes"}}}}}}}},"responses":{"201":{"description":"Template created","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"name":{"type":"string"},"description":{"type":"string","nullable":true},"tags":{"type":"array","items":{"type":"string"}},"width":{"type":"integer"},"height":{"type":"integer"},"frame_rate":{"type":"integer","enum":[24,30,60]},"duration_seconds":{"type":"number","description":"Derived from the template's keyframes — not settable. 0 until something is animated."},"preview":{"type":"string","nullable":true,"format":"uri","description":"Preview image URL"},"ui_write_access":{"type":"string","enum":["owner_only","team"],"description":"Who can edit in the dashboard — `owner_only` (default) or `team`"},"api_write_access":{"type":"string","enum":["team","owner_only","nobody"],"description":"Who can update or delete via the API — `team` (default), `owner_only`, or `nobody` (locked; unlock via dashboard)"},"config":{"type":"object","description":"Canvas configuration. `objects` are the layers; `keyframes` drives the animation and determines duration.","properties":{"objects":{"type":"array","items":{"$ref":"#/components/schemas/Layer"}},"keyframes":{"$ref":"#/components/schemas/Keyframes"}}},"created_at":{"type":"string","format":"date-time"}}}}}},"422":{"description":"Validation failure","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}}}}},"/animation_templates/{uid}":{"get":{"summary":"Get an animation template","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"Template details","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"name":{"type":"string"},"description":{"type":"string","nullable":true},"tags":{"type":"array","items":{"type":"string"}},"width":{"type":"integer"},"height":{"type":"integer"},"frame_rate":{"type":"integer","enum":[24,30,60]},"duration_seconds":{"type":"number","description":"Derived from the template's keyframes — not settable. 0 until something is animated."},"preview":{"type":"string","nullable":true,"format":"uri","description":"Preview image URL"},"ui_write_access":{"type":"string","enum":["owner_only","team"],"description":"Who can edit in the dashboard — `owner_only` (default) or `team`"},"api_write_access":{"type":"string","enum":["team","owner_only","nobody"],"description":"Who can update or delete via the API — `team` (default), `owner_only`, or `nobody` (locked; unlock via dashboard)"},"config":{"type":"object","description":"Canvas configuration. `objects` are the layers; `keyframes` drives the animation and determines duration.","properties":{"objects":{"type":"array","items":{"$ref":"#/components/schemas/Layer"}},"keyframes":{"$ref":"#/components/schemas/Keyframes"}}},"created_at":{"type":"string","format":"date-time"}}}}}},"404":{"description":"Template not found","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}}}},"patch":{"summary":"Update an animation template","description":"Update metadata, or replace the whole canvas by sending `config`. Layers and keyframes both live in `config`, so a partial config replaces everything in it — read the template first and send back the full object with your changes applied.","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string","nullable":true},"tags":{"type":"array","items":{"type":"string"}},"width":{"type":"integer","minimum":100,"maximum":5000},"height":{"type":"integer","minimum":100,"maximum":5000},"frame_rate":{"type":"integer","enum":[24,30,60]},"config":{"type":"object","description":"Canvas configuration, replaced wholesale. `objects` are the layers; `keyframes` drives the animation and determines duration. Omit to leave the existing config untouched.","properties":{"objects":{"type":"array","items":{"$ref":"#/components/schemas/Layer"}},"keyframes":{"$ref":"#/components/schemas/Keyframes"}}}}}}}},"responses":{"200":{"description":"Updated template","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"name":{"type":"string"},"description":{"type":"string","nullable":true},"tags":{"type":"array","items":{"type":"string"}},"width":{"type":"integer"},"height":{"type":"integer"},"frame_rate":{"type":"integer","enum":[24,30,60]},"duration_seconds":{"type":"number","description":"Derived from the template's keyframes — not settable. 0 until something is animated."},"preview":{"type":"string","nullable":true,"format":"uri","description":"Preview image URL"},"ui_write_access":{"type":"string","enum":["owner_only","team"],"description":"Who can edit in the dashboard — `owner_only` (default) or `team`"},"api_write_access":{"type":"string","enum":["team","owner_only","nobody"],"description":"Who can update or delete via the API — `team` (default), `owner_only`, or `nobody` (locked; unlock via dashboard)"},"config":{"type":"object","description":"Canvas configuration. `objects` are the layers; `keyframes` drives the animation and determines duration.","properties":{"objects":{"type":"array","items":{"$ref":"#/components/schemas/Layer"}},"keyframes":{"$ref":"#/components/schemas/Keyframes"}}},"created_at":{"type":"string","format":"date-time"}}}}}},"403":{"description":"Template's api_write_access is `owner_only` and the caller's key is not owned by its creator","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"404":{"description":"Template not found","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"422":{"description":"Validation failure","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"423":{"description":"Template's api_write_access is `nobody` — unlock via the dashboard","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}}}},"delete":{"summary":"Delete an animation template","description":"Soft-deletes the template. Animations already rendered from it stay intact, but the template no longer appears in list/get calls and can't be used for new renders.","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"204":{"description":"Template deleted"},"403":{"description":"Template's api_write_access is `owner_only` and the caller's key is not owned by its creator","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"404":{"description":"Template not found","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"423":{"description":"Template's api_write_access is `nobody` — unlock via the dashboard","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}}}}},"/animation_templates/{uid}/animate":{"post":{"summary":"Animate a template with a preset","description":"Applies a named preset to layers, optionally staggered. Deterministic and free: no model call, no AI credits, and the same request always produces the same keyframes — three layers at `stagger: 500` begin at 0, 500 and 1000ms exactly. Use this whenever the request already says what it wants. The template is versioned before it is overwritten.","parameters":[{"name":"uid","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["preset"],"properties":{"preset":{"type":"string","enum":["FadeIn","FadeOut","ZoomIn","ZoomOut","GetBigger","GetSmaller","ScaleIn","ScaleOut","PopIn","PopOut"],"description":"FadeIn, FadeOut, ZoomIn, ZoomOut, GetBigger, GetSmaller, ScaleIn, ScaleOut work on any layer. PopIn and PopOut are measured in `em` and apply to text layers only."},"objects":{"type":"array","items":{"type":"string"},"description":"Layer ids, in the order the stagger should run. Omit to animate every layer in stacking order."},"duration":{"type":"integer","default":400,"description":"How long each layer's tween runs, in milliseconds"},"stagger":{"type":"integer","default":0,"description":"Milliseconds between each layer's START. At 500, layers begin at 0, 500, 1000 — not 500ms of gap after each finishes."},"easing":{"type":"string","description":"Optional anime.js easing, e.g. easeOutCubic"},"merge":{"type":"boolean","default":false,"description":"Keep keyframes on layers this call does not touch. False replaces the whole timeline."}}}}}},"responses":{"200":{"description":"Template with its new keyframes","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"name":{"type":"string"},"description":{"type":"string","nullable":true},"tags":{"type":"array","items":{"type":"string"}},"width":{"type":"integer"},"height":{"type":"integer"},"frame_rate":{"type":"integer","enum":[24,30,60]},"duration_seconds":{"type":"number","description":"Derived from the template's keyframes — not settable. 0 until something is animated."},"preview":{"type":"string","nullable":true,"format":"uri","description":"Preview image URL"},"ui_write_access":{"type":"string","enum":["owner_only","team"],"description":"Who can edit in the dashboard — `owner_only` (default) or `team`"},"api_write_access":{"type":"string","enum":["team","owner_only","nobody"],"description":"Who can update or delete via the API — `team` (default), `owner_only`, or `nobody` (locked; unlock via dashboard)"},"config":{"type":"object","description":"Canvas configuration. `objects` are the layers; `keyframes` drives the animation and determines duration.","properties":{"objects":{"type":"array","items":{"$ref":"#/components/schemas/Layer"}},"keyframes":{"$ref":"#/components/schemas/Keyframes"}}},"created_at":{"type":"string","format":"date-time"}}}}}},"403":{"description":"Template's api_write_access is `owner_only` and the caller's key is not owned by its creator","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"404":{"description":"Template not found","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"422":{"description":"Unknown preset, unknown layer id, or a text-only preset aimed at a non-text layer","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"423":{"description":"Template's api_write_access is `nobody` — unlock via the dashboard","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}}}}},"/tools/remove_bg":{"post":{"summary":"Remove background","description":"Cut the subject out of an image against a transparent background. Async — returns 202 with a pending job; poll GET /tool_jobs/{uid} until `status` is `completed` or `failed`.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"image_url":{"description":"PNG or JPG source","type":"string","format":"uri"},"metadata":{"type":"string","description":"Arbitrary metadata string stored with the tool run"}},"required":["image_url"]}}}},"responses":{"202":{"description":"Tool run accepted","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"tool":{"type":"string","enum":["remove_bg"]},"status":{"type":"string","enum":["pending","running","completed","failed"],"description":"pending → running → completed / failed"},"progress":{"type":"integer","minimum":0,"maximum":100,"description":"0-100 job progress, 100 once completed"},"inputs":{"type":"object","description":"Inputs the job was created with"},"outputs":{"type":"object","properties":{"image_url":{"type":"string","format":"uri"}}},"metadata":{"type":"string","nullable":true,"description":"Arbitrary metadata string round-tripped from the create request"},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true},"error_message":{"type":"string","nullable":true,"description":"Human-readable failure reason (only present on failed jobs)"}}}}}},"402":{"description":"API quota exhausted — upgrade required","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"404":{"description":"Unknown tool","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"422":{"description":"Input validation failure","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}}}}},"/tools/generate_ai_image":{"post":{"summary":"Generate AI image","description":"Generate an image from a text prompt using your choice of AI model. Async — returns 202 with a pending job; poll GET /tool_jobs/{uid} until `status` is `completed` or `failed`.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"prompt":{"description":"What to generate — describe the subject, style and composition","type":"string"},"model":{"description":"Costs vary by model — see the credit cost shown for each","type":"string","enum":["flux_schnell","flux_1_1_pro","nano_banana","gpt_image_2"],"default":"flux_schnell"},"aspect_ratio":{"description":"Defaults to square","type":"string","enum":["1:1","16:9","9:16","4:3","3:4"],"default":"1:1"},"reference_image_url":{"description":"Optional starting point — only some models accept one","type":"string","format":"uri"},"metadata":{"type":"string","description":"Arbitrary metadata string stored with the tool run"}},"required":["prompt","model"]}}}},"responses":{"202":{"description":"Tool run accepted","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"tool":{"type":"string","enum":["generate_ai_image"]},"status":{"type":"string","enum":["pending","running","completed","failed"],"description":"pending → running → completed / failed"},"progress":{"type":"integer","minimum":0,"maximum":100,"description":"0-100 job progress, 100 once completed"},"inputs":{"type":"object","description":"Inputs the job was created with"},"outputs":{"type":"object","properties":{"image_url":{"type":"string","format":"uri"}}},"metadata":{"type":"string","nullable":true,"description":"Arbitrary metadata string round-tripped from the create request"},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true},"error_message":{"type":"string","nullable":true,"description":"Human-readable failure reason (only present on failed jobs)"}}}}}},"402":{"description":"API quota exhausted — upgrade required","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"404":{"description":"Unknown tool","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"422":{"description":"Input validation failure","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}}}}},"/tools/subtitle_video":{"post":{"summary":"Transcribe and burn subtitles","description":"Auto-transcribe the audio and burn styled subtitles onto the video. Async — returns 202 with a pending job; poll GET /tool_jobs/{uid} until `status` is `completed` or `failed`.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"video_url":{"description":"Video URL","type":"string","format":"uri"},"language":{"description":"Auto detect works well when the audio is clear","type":"string","enum":["","en","es","fr","de","it","pt","nl","ru","pl","tr","ar","hi","zh","ja","ko","id","vi","th"]},"words_per_segment":{"description":"Words on screen at once","type":"integer","enum":[1,2,3,4,5,6,7,8,9,10],"nullable":true},"font":{"description":"Defaults to Inter","type":"string","enum":["inter","roboto","open-sans","noto-sans","montserrat","poppins","bebas-neue","anton","oswald","playfair-display"],"default":"inter"},"font_size":{"description":"Defaults to 28","type":"integer"},"color":{"description":"Defaults to white","type":"string","default":"#ffffff"},"bold":{"description":"Bold","type":"string","enum":["off","on"]},"italic":{"description":"Italic","type":"string","enum":["off","on"]},"alignment":{"description":"Defaults to Bottom Center","type":"string","enum":["2","1","3","5","4","6","8","7","9"]},"outline_width":{"description":"Text outline width or box padding","type":"integer","default":0},"outline_color":{"description":"Defaults to black","type":"string","default":"#000000"},"shadow_size":{"description":"Hard drop shadow, offset down-right","type":"integer","default":0},"shadow_color":{"description":"Defaults to black","type":"string","default":"#000000"},"background_style":{"description":"Solid box puts an opaque panel behind the text","type":"string","enum":["none","box"],"default":"none"},"background_color":{"description":"The colour of the box behind the text","type":"string"},"background_opacity":{"description":"0 is fully transparent, 100 fully opaque","type":"integer","default":100},"metadata":{"type":"string","description":"Arbitrary metadata string stored with the tool run"}},"required":["video_url"]}}}},"responses":{"202":{"description":"Tool run accepted","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"tool":{"type":"string","enum":["subtitle_video"]},"status":{"type":"string","enum":["pending","running","completed","failed"],"description":"pending → running → completed / failed"},"progress":{"type":"integer","minimum":0,"maximum":100,"description":"0-100 job progress, 100 once completed"},"inputs":{"type":"object","description":"Inputs the job was created with"},"outputs":{"type":"object","properties":{"video_url":{"type":"string","format":"uri"}}},"metadata":{"type":"string","nullable":true,"description":"Arbitrary metadata string round-tripped from the create request"},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true},"error_message":{"type":"string","nullable":true,"description":"Human-readable failure reason (only present on failed jobs)"}}}}}},"402":{"description":"API quota exhausted — upgrade required","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"404":{"description":"Unknown tool","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"422":{"description":"Input validation failure","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}}}}},"/tools/generate_voiceover":{"post":{"summary":"Generate voiceover","description":"Turn text into spoken audio using a natural-sounding TTS voice. Async — returns 202 with a pending job; poll GET /tool_jobs/{uid} until `status` is `completed` or `failed`.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"text":{"description":"What the voice should say — up to 2000 characters","type":"string"},"voice":{"description":"Pre-made ElevenLabs voice. Rachel and Adam are safe defaults","type":"string","enum":["rachel","adam","antoni","bella","domi","elli","josh","arnold","charlie","freya"],"default":"rachel"},"metadata":{"type":"string","description":"Arbitrary metadata string stored with the tool run"}},"required":["text","voice"]}}}},"responses":{"202":{"description":"Tool run accepted","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"tool":{"type":"string","enum":["generate_voiceover"]},"status":{"type":"string","enum":["pending","running","completed","failed"],"description":"pending → running → completed / failed"},"progress":{"type":"integer","minimum":0,"maximum":100,"description":"0-100 job progress, 100 once completed"},"inputs":{"type":"object","description":"Inputs the job was created with"},"outputs":{"type":"object","properties":{"audio_url":{"type":"string","format":"uri"}}},"metadata":{"type":"string","nullable":true,"description":"Arbitrary metadata string round-tripped from the create request"},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true},"error_message":{"type":"string","nullable":true,"description":"Human-readable failure reason (only present on failed jobs)"}}}}}},"402":{"description":"API quota exhausted — upgrade required","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"404":{"description":"Unknown tool","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"422":{"description":"Input validation failure","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}}}}},"/tools/create_pdf":{"post":{"summary":"Create multi-page PDF","description":"Stitch multiple JPGs, PNGs, and PDFs into a single multi-page document. Async — returns 202 with a pending job; poll GET /tool_jobs/{uid} until `status` is `completed` or `failed`.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"urls":{"description":"One URL per line — JPG, PNG, or PDF. Upload adds them here. Order is preserved.","type":"array","items":{"type":"string","format":"uri"}},"metadata":{"type":"string","description":"Arbitrary metadata string stored with the tool run"}},"required":["urls"]}}}},"responses":{"202":{"description":"Tool run accepted","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"tool":{"type":"string","enum":["create_pdf"]},"status":{"type":"string","enum":["pending","running","completed","failed"],"description":"pending → running → completed / failed"},"progress":{"type":"integer","minimum":0,"maximum":100,"description":"0-100 job progress, 100 once completed"},"inputs":{"type":"object","description":"Inputs the job was created with"},"outputs":{"type":"object","properties":{"pdf_url":{"type":"string","format":"uri"}}},"metadata":{"type":"string","nullable":true,"description":"Arbitrary metadata string round-tripped from the create request"},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true},"error_message":{"type":"string","nullable":true,"description":"Human-readable failure reason (only present on failed jobs)"}}}}}},"402":{"description":"API quota exhausted — upgrade required","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"404":{"description":"Unknown tool","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"422":{"description":"Input validation failure","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}}}}},"/tools/trim_video":{"post":{"summary":"Trim video","description":"Keep a slice of a video by start and end time. Async — returns 202 with a pending job; poll GET /tool_jobs/{uid} until `status` is `completed` or `failed`.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"video_url":{"description":"Video URL","type":"string","format":"uri"},"start":{"description":"Start (seconds)","type":"number"},"end":{"description":"End (seconds)","type":"number"},"metadata":{"type":"string","description":"Arbitrary metadata string stored with the tool run"}},"required":["video_url","start","end"]}}}},"responses":{"202":{"description":"Tool run accepted","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"tool":{"type":"string","enum":["trim_video"]},"status":{"type":"string","enum":["pending","running","completed","failed"],"description":"pending → running → completed / failed"},"progress":{"type":"integer","minimum":0,"maximum":100,"description":"0-100 job progress, 100 once completed"},"inputs":{"type":"object","description":"Inputs the job was created with"},"outputs":{"type":"object","properties":{"video_url":{"type":"string","format":"uri"}}},"metadata":{"type":"string","nullable":true,"description":"Arbitrary metadata string round-tripped from the create request"},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true},"error_message":{"type":"string","nullable":true,"description":"Human-readable failure reason (only present on failed jobs)"}}}}}},"402":{"description":"API quota exhausted — upgrade required","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"404":{"description":"Unknown tool","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"422":{"description":"Input validation failure","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}}}}},"/tools/concat_videos":{"post":{"summary":"Join videos","description":"Join two or more videos end-to-end into a single file. Async — returns 202 with a pending job; poll GET /tool_jobs/{uid} until `status` is `completed` or `failed`.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"video_urls":{"description":"Two or more URLs in play order","type":"array","items":{"type":"string","format":"uri"}},"transition":{"description":"How each clip flows into the next. Defaults to none","type":"string","enum":["none","fade","dissolve","wipeleft","slideleft"]},"transition_duration":{"description":"Only used when transition is set. Defaults to 1","type":"number"},"width":{"description":"Defaults to the first video's width, capped at 1920 on the long edge","type":"integer"},"height":{"description":"Defaults to the first video's height, capped at 1080 on the short edge","type":"integer"},"fps":{"description":"Defaults to the highest frame rate among the inputs, capped at 60","type":"integer"},"metadata":{"type":"string","description":"Arbitrary metadata string stored with the tool run"}},"required":["video_urls"]}}}},"responses":{"202":{"description":"Tool run accepted","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"tool":{"type":"string","enum":["concat_videos"]},"status":{"type":"string","enum":["pending","running","completed","failed"],"description":"pending → running → completed / failed"},"progress":{"type":"integer","minimum":0,"maximum":100,"description":"0-100 job progress, 100 once completed"},"inputs":{"type":"object","description":"Inputs the job was created with"},"outputs":{"type":"object","properties":{"video_url":{"type":"string","format":"uri"}}},"metadata":{"type":"string","nullable":true,"description":"Arbitrary metadata string round-tripped from the create request"},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true},"error_message":{"type":"string","nullable":true,"description":"Human-readable failure reason (only present on failed jobs)"}}}}}},"402":{"description":"API quota exhausted — upgrade required","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"404":{"description":"Unknown tool","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"422":{"description":"Input validation failure","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}}}}},"/tools/resize_video":{"post":{"summary":"Resize video","description":"Rescale a video to target dimensions, cover-crop or contain-letterbox. Async — returns 202 with a pending job; poll GET /tool_jobs/{uid} until `status` is `completed` or `failed`.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"video_url":{"description":"Video URL","type":"string","format":"uri"},"width":{"description":"Width","type":"integer"},"height":{"description":"Height","type":"integer"},"fit":{"description":"cover crops, contain letterboxes, blur fills the bars with a blurred copy","type":"string","enum":["cover","contain","blur"]},"metadata":{"type":"string","description":"Arbitrary metadata string stored with the tool run"}},"required":["video_url","width","height"]}}}},"responses":{"202":{"description":"Tool run accepted","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"tool":{"type":"string","enum":["resize_video"]},"status":{"type":"string","enum":["pending","running","completed","failed"],"description":"pending → running → completed / failed"},"progress":{"type":"integer","minimum":0,"maximum":100,"description":"0-100 job progress, 100 once completed"},"inputs":{"type":"object","description":"Inputs the job was created with"},"outputs":{"type":"object","properties":{"video_url":{"type":"string","format":"uri"}}},"metadata":{"type":"string","nullable":true,"description":"Arbitrary metadata string round-tripped from the create request"},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true},"error_message":{"type":"string","nullable":true,"description":"Human-readable failure reason (only present on failed jobs)"}}}}}},"402":{"description":"API quota exhausted — upgrade required","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"404":{"description":"Unknown tool","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"422":{"description":"Input validation failure","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}}}}},"/tools/crop_video":{"post":{"summary":"Crop video","description":"Crop a video to an explicit rectangle in pixels. Async — returns 202 with a pending job; poll GET /tool_jobs/{uid} until `status` is `completed` or `failed`.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"video_url":{"description":"Video URL","type":"string","format":"uri"},"x":{"description":"X (px)","type":"integer"},"y":{"description":"Y (px)","type":"integer"},"width":{"description":"Width (px)","type":"integer"},"height":{"description":"Height (px)","type":"integer"},"metadata":{"type":"string","description":"Arbitrary metadata string stored with the tool run"}},"required":["video_url","x","y","width","height"]}}}},"responses":{"202":{"description":"Tool run accepted","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"tool":{"type":"string","enum":["crop_video"]},"status":{"type":"string","enum":["pending","running","completed","failed"],"description":"pending → running → completed / failed"},"progress":{"type":"integer","minimum":0,"maximum":100,"description":"0-100 job progress, 100 once completed"},"inputs":{"type":"object","description":"Inputs the job was created with"},"outputs":{"type":"object","properties":{"video_url":{"type":"string","format":"uri"}}},"metadata":{"type":"string","nullable":true,"description":"Arbitrary metadata string round-tripped from the create request"},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true},"error_message":{"type":"string","nullable":true,"description":"Human-readable failure reason (only present on failed jobs)"}}}}}},"402":{"description":"API quota exhausted — upgrade required","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"404":{"description":"Unknown tool","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"422":{"description":"Input validation failure","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}}}}},"/tools/overlay_video":{"post":{"summary":"Overlay video","description":"Layer one video on top of another as picture-in-picture. Async — returns 202 with a pending job; poll GET /tool_jobs/{uid} until `status` is `completed` or `failed`.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"base_video_url":{"description":"Base video URL","type":"string","format":"uri"},"overlay_video_url":{"description":"Overlay video URL","type":"string","format":"uri"},"position":{"description":"Snap to a corner or edge. Use this or x/y, not both","type":"string","enum":["top_left","top_center","top_right","center","bottom_left","bottom_center","bottom_right"]},"margin":{"description":"Gap from the edge when using position. Defaults to 0","type":"integer"},"x":{"description":"Absolute position from the left. Ignored when position is set","type":"integer"},"y":{"description":"Absolute position from the top. Ignored when position is set","type":"integer"},"scale":{"description":"1.0 = original size","type":"number"},"start":{"description":"When the overlay begins","type":"number"},"when_finished":{"description":"The overlay is usually shorter than the base. Freeze holds its last frame, hide removes it, loop repeats it for the rest of the video","type":"string","enum":["freeze","hide","loop"],"default":"freeze"},"metadata":{"type":"string","description":"Arbitrary metadata string stored with the tool run"}},"required":["base_video_url","overlay_video_url"]}}}},"responses":{"202":{"description":"Tool run accepted","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"tool":{"type":"string","enum":["overlay_video"]},"status":{"type":"string","enum":["pending","running","completed","failed"],"description":"pending → running → completed / failed"},"progress":{"type":"integer","minimum":0,"maximum":100,"description":"0-100 job progress, 100 once completed"},"inputs":{"type":"object","description":"Inputs the job was created with"},"outputs":{"type":"object","properties":{"video_url":{"type":"string","format":"uri"}}},"metadata":{"type":"string","nullable":true,"description":"Arbitrary metadata string round-tripped from the create request"},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true},"error_message":{"type":"string","nullable":true,"description":"Human-readable failure reason (only present on failed jobs)"}}}}}},"402":{"description":"API quota exhausted — upgrade required","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"404":{"description":"Unknown tool","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"422":{"description":"Input validation failure","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}}}}},"/tools/overlay_image":{"post":{"summary":"Add image overlay","description":"Burn a logo, watermark, or badge onto a video. Async — returns 202 with a pending job; poll GET /tool_jobs/{uid} until `status` is `completed` or `failed`.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"video_url":{"description":"Video URL","type":"string","format":"uri"},"image_url":{"description":"Overlay image URL","type":"string","format":"uri"},"position":{"description":"Snap to a corner or edge. Use this or x/y, not both","type":"string","enum":["top_left","top_center","top_right","center","bottom_left","bottom_center","bottom_right"]},"margin":{"description":"Gap from the edge when using position. Defaults to 0","type":"integer"},"x":{"description":"Absolute position from the left. Ignored when position is set","type":"integer"},"y":{"description":"Absolute position from the top. Ignored when position is set","type":"integer"},"opacity":{"description":"0.0 to 1.0","type":"number"},"metadata":{"type":"string","description":"Arbitrary metadata string stored with the tool run"}},"required":["video_url","image_url"]}}}},"responses":{"202":{"description":"Tool run accepted","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"tool":{"type":"string","enum":["overlay_image"]},"status":{"type":"string","enum":["pending","running","completed","failed"],"description":"pending → running → completed / failed"},"progress":{"type":"integer","minimum":0,"maximum":100,"description":"0-100 job progress, 100 once completed"},"inputs":{"type":"object","description":"Inputs the job was created with"},"outputs":{"type":"object","properties":{"video_url":{"type":"string","format":"uri"}}},"metadata":{"type":"string","nullable":true,"description":"Arbitrary metadata string round-tripped from the create request"},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true},"error_message":{"type":"string","nullable":true,"description":"Human-readable failure reason (only present on failed jobs)"}}}}}},"402":{"description":"API quota exhausted — upgrade required","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"404":{"description":"Unknown tool","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"422":{"description":"Input validation failure","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}}}}},"/tools/add_audio":{"post":{"summary":"Add or replace audio","description":"Mix an audio track over a video, or replace the original. Async — returns 202 with a pending job; poll GET /tool_jobs/{uid} until `status` is `completed` or `failed`.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"video_url":{"description":"Video URL","type":"string","format":"uri"},"audio_url":{"description":"Audio URL","type":"string","format":"uri"},"mode":{"description":"Mode","type":"string","enum":["mix","replace"],"default":"mix"},"volume":{"description":"1.0 = original level","type":"number","default":1.0},"loop":{"description":"Loop the audio to match the video's length. Turn off for one-shot sounds","type":"string","enum":["on","off"],"default":"on"},"ducking":{"description":"Dip the new audio when the video's original audio is present. Mix mode only","type":"string","enum":["off","subtle","medium","heavy"],"default":"off"},"metadata":{"type":"string","description":"Arbitrary metadata string stored with the tool run"}},"required":["video_url","audio_url","mode"]}}}},"responses":{"202":{"description":"Tool run accepted","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"tool":{"type":"string","enum":["add_audio"]},"status":{"type":"string","enum":["pending","running","completed","failed"],"description":"pending → running → completed / failed"},"progress":{"type":"integer","minimum":0,"maximum":100,"description":"0-100 job progress, 100 once completed"},"inputs":{"type":"object","description":"Inputs the job was created with"},"outputs":{"type":"object","properties":{"video_url":{"type":"string","format":"uri"}}},"metadata":{"type":"string","nullable":true,"description":"Arbitrary metadata string round-tripped from the create request"},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true},"error_message":{"type":"string","nullable":true,"description":"Human-readable failure reason (only present on failed jobs)"}}}}}},"402":{"description":"API quota exhausted — upgrade required","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"404":{"description":"Unknown tool","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"422":{"description":"Input validation failure","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}}}}},"/tools/add_cover_art":{"post":{"summary":"Add cover art to video","description":"Embed a still image as the video's poster thumbnail (no re-encode). Async — returns 202 with a pending job; poll GET /tool_jobs/{uid} until `status` is `completed` or `failed`.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"video_url":{"description":"Video URL","type":"string","format":"uri"},"image_url":{"description":"Cover image URL","type":"string","format":"uri"},"metadata":{"type":"string","description":"Arbitrary metadata string stored with the tool run"}},"required":["video_url","image_url"]}}}},"responses":{"202":{"description":"Tool run accepted","content":{"application/json":{"schema":{"type":"object","properties":{"uid":{"type":"string"},"tool":{"type":"string","enum":["add_cover_art"]},"status":{"type":"string","enum":["pending","running","completed","failed"],"description":"pending → running → completed / failed"},"progress":{"type":"integer","minimum":0,"maximum":100,"description":"0-100 job progress, 100 once completed"},"inputs":{"type":"object","description":"Inputs the job was created with"},"outputs":{"type":"object","properties":{"video_url":{"type":"string","format":"uri"}}},"metadata":{"type":"string","nullable":true,"description":"Arbitrary metadata string round-tripped from the create request"},"self":{"type":"string","format":"uri"},"created_at":{"type":"string","format":"date-time"},"completed_at":{"type":"string","format":"date-time","nullable":true},"error_message":{"type":"string","nullable":true,"description":"Human-readable failure reason (only present on failed jobs)"}}}}}},"402":{"description":"API quota exhausted — upgrade required","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"404":{"description":"Unknown tool","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}},"422":{"description":"Input validation failure","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Human-readable explanation of the error"}}}}}}}}},"/tools/create_video_slideshow":{"post":{"summary":"Create video slideshow","description":"Turn a series of images into an mp4 slideshow with optional transitions. Async — returns 202 with a pending job; poll GET /tool_jobs/{uid} until `status` is `completed` or `failed`.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"image_urls":{"description":"Two or more URLs in slide order","type":"array","items":{"type":"string","format":"uri"}},"slide_duration":{"description":"Defaults to 3","type":"number"},"transition":{"description":"How each slide flows into the next. Defaults to none","type":"string","enum":["none","fade","dissolve","wipeleft","slideleft"]},"transition_duration":{"description":"Only used when transition is set. Defaults to 1","type":"number"},"width":{"description":"Defaults to 1280","type":"integer"},"height":{"description":"Defaults to 720","type":"integer"},"metadata":{"type":"string","description":"Arbitrary metadata string stored with the tool run"}},"required"
[...]
